:root {
	--bg: #282828FF;
	--fg: #EBDBB2FF;
	--border: #FFFFFF26;
	--window_bg: #282828FF;
	--window_fg: #EBDBB2FF;
	--headerbar_backdrop: #282828FF;
	--headerbar_bg: #3C3836FF;
	--headerbar_fg: #EBDBB2FF;
	--headerbar_shade: #00000061;
	--popover_bg: #3C3836FF;
	--popover_fg: #EBDBB2FF;
	--toast_bg: #000000B3;
	--toast_fg: #EBDBB2FF;
	--view_bg: #1D2021FF;
	--view_fg: #EBDBB2FF;
	--accent: #B8BB26FF;
	--accent_bg: #98971AFF;
	--accent_fg: #EBDBB2FF;
	--accent_disabled: #B8BB2680;
	--accent_hover_bg: #B8BB2612;
	--accent_active_bg: #B8BB2629;
	--destructive: #FB4934FF;
	--destructive_bg: #CC241DFF;
	--destructive_fg: #EBDBB2FF;
	--destructive_disabled: #FB483480;
	--destructive_hover_bg: #FB483412;
	--destructive_active_bg: #FB483429;
	--error: #FB4934FF;
	--error_bg: #CC241DFF;
	--error_fg: #EBDBB2FF;
	--success: #8EC07CFF;
	--success_bg: #689D6AFF;
	--success_fg: #EBDBB2FF;
	--warning: #FABD2FFF;
	--warning_bg: #D79921FF;
	--warning_fg: #EBDBB2FF;
	--button_fg: #EBDBB2FF;
	--dim_label_fg: #EBDBB28C;
	--card_solid_bg: #3E3E3EFF;
	--focusring: #B8BB2680;
	--scrollbar: #665C5433;
	--scrollbar_hover: #665C5466;
	--scrollbar_active: #665C5499;
}
