:root {
	/* ----------------------- */
	/* RGB Colors              */
	/* Format: R, G, B         */
	/* No Hex or rgb() allowed */
	/* ----------------------- */
	/* General */
	--bg_rgb: 40, 40, 40;
	--fg_rgb: 235, 219, 178;

	/* Accent Colors */
	--accent_rgb: 184, 187, 38;
	--accent_bg_rgb: 152, 151, 26;
	--destructive_rgb: 251, 73, 52;
	--destructive_bg_rgb: 204, 36, 29;
	--error_rgb: 251, 73, 52;
	--error_bg_rgb: 204, 36, 29;
	--success_rgb: 142, 192, 124;
	--success_bg_rgb: 104, 157, 106;
	--warning_rgb: 250, 189, 47;
	--warning_bg_rgb: 215, 153, 33;

	/* Scrollbars */
	--scrollbar_rgb: 102, 92, 84;

	/* ----------------------- */
	/* Other Colors            */
	/* ----------------------- */
	/* Darker Backgrounds */
	--view_bg: rgb(29, 32, 33);

	/* Headerbar */
	--headerbar_backdrop: rgb(40, 40, 40);
	--headerbar_bg: rgb(60, 56, 54);

	/* App properties DLC/Worshop Header */
	--card_solid_bg: rgb(62, 62, 62);

	/* Popup Elements */
	--popover_bg: rgb(60, 56, 54);

	/* Accent FG */
	--accent_fg: rgb(235, 219, 178);
	--destructive_fg: rgb(235, 219, 178);
	--error_fg: rgb(235, 219, 178);
	--success_fg: rgb(235, 219, 178);
	--warning_fg: rgb(235, 219, 178);
}
