:root
{
	--adw-color-scheme: light !important;

	--adw-accent-bg-light: var(--adw-system-accent, #7287fd) !important;
	--adw-accent-bg-dark: var(--adw-system-accent, #7287fd) !important;

	--adw-destructive-bg-light: #d20f39 !important;
	--adw-destructive-bg-dark: #d20f39 !important;
	--adw-destructive-fg: #ffffff !important;

	--adw-success-bg-light: #40a02b !important;
	--adw-success-bg-dark: #40a02b !important;
	--adw-success-fg: #ffffff !important;

	--adw-warning-bg-light: #df8e1d !important;
	--adw-warning-bg-dark: #df8e1d !important;
	--adw-warning-fg: rgba(0, 0, 0, 0.8) !important;

	--adw-error-bg-light: #d20f39 !important;
	--adw-error-bg-dark: #d20f39 !important;
	--adw-error-fg: #ffffff !important;

	--adw-window-bg: #eff1f5 !important;
	--adw-window-fg: #4c4f69 !important;

	--adw-view-bg: #eff1f5 !important;
	--adw-view-fg: #4c4f69 !important;

	--adw-headerbar-bg: #dce0e8 !important;
	--adw-headerbar-fg: #4c4f69 !important;
	--adw-headerbar-backdrop: #e6e9ef !important;
	--adw-headerbar-border: #4c4f69 !important;
	--adw-headerbar-shade: rgba(0, 0, 0, 0.12) !important;
	--adw-headerbar-darker-shade: rgba(0, 0, 0, 0.12) !important;

	--adw-sidebar-bg: #e6e9ef !important;
	--adw-sidebar-fg: #4c4f69 !important;
	--adw-sidebar-backdrop: #eff1f5 !important;
	--adw-sidebar-shade: rgba(0, 0, 0, 0.07) !important;

	--adw-secondary-sidebar-bg: #eff1f5 !important;
	--adw-secondary-sidebar-fg: #4c4f69 !important;
	--adw-secondary-sidebar-backdrop: #e6e9ef !important;
	--adw-secondary-sidebar-border: rgba(0, 0, 0, 0.07) !important;
	--adw-secondary-sidebar-shade: rgba(0, 0, 0, 0.07) !important;

	--adw-card-bg: #ffffff !important;
	--adw-card-fg: #4c4f69 !important;
	--adw-card-shade: rgba(0, 0, 0, 0.07) !important;

	--adw-dialog-bg: #eff1f5 !important;
	--adw-dialog-fg: #4c4f69 !important;

	--adw-popover-bg: #e6e9ef !important;
	--adw-popover-fg: #4c4f69 !important;
	--adw-popover-shade: rgba(0, 0, 0, 0.07) !important;

	--adw-thumbnail-bg: #ccd0da !important;
	--adw-thumbnail-fg: #4c4f69 !important;

	--adw-shade: rgba(0, 0, 0, 0.07) !important;

	--adw-banner: #9ca0b0 !important;

	--adw-user-offline: #9ca0b0 !important;
	--adw-user-online: #1e66f5 !important;
	--adw-user-ingame: #40a02b !important;

	--adw-accent-blue: #1e66f5 !important;
	--adw-accent-teal: #179299 !important;
	--adw-accent-green: #40a02b !important;
	--adw-accent-yellow: #df8e1d !important;
	--adw-accent-orange: #fe640b !important;
	--adw-accent-red: #d20f39 !important;
	--adw-accent-pink: #ea76cb !important;
	--adw-accent-purple: #8839ef !important;
	--adw-accent-slate: #8c8fa1 !important;
}