
.ModalPosition_Content,
.ModalPosition_Content > .DialogContent
{
	border-radius: var(--card_radius) !important;
	overflow: hidden !important;
}

.ModalDialogPopup .DialogBody
{
	font-family: var(--basefont) !important;
	font-size: var(--basesize) !important;
	font-weight: var(--baseweight) !important;
}

.ModalPosition_Content > .DialogContent
{
	background: var(--popover_bg) !important;
	color: var(--popover_fg) !important;
}

/* Generic Confirm */
.GenericConfirmDialog
{
	padding: 0 !important;
}

.GenericConfirmDialog .DialogHeader,
.GenericConfirmDialog .DialogBodyText,
.GenericConfirmDialog .DialogBodyText[class*="cloudconflict_CloudConflictWarning_"],
.GenericConfirmDialog [class*="cloudconflict_FooterNote_"],
.GenericConfirmDialog [class*="cloudconflict_ChoiceNote_"],
.GenericConfirmDialog [class*="moveappsdialog_MoveAppsDialog_"] > .DialogBody
{
	color: var(--popover_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--basesize) !important;
	line-height: normal !important;
	font-weight: var(--baseweight) !important;
	letter-spacing: normal !important;
	text-transform: none !important;
	text-align: center;
	margin: 0 !important;
	padding: 0 24px !important;
	box-sizing: border-box !important;
}

.GenericConfirmDialog [class*="cloudconflict_FooterNote_"]
{
	flex-grow: 1 !important;
}

.GenericConfirmDialog [class*="cloudconflict_FooterNote_"],
.GenericConfirmDialog [class*="cloudconflict_ChoiceNote_"]
{
	padding-top: 24px !important;
}

.GenericConfirmDialog .DialogHeader
{
	font-size: var(--title_1_size) !important;
	font-weight: var(--title_1_weight) !important;
	padding: 24px 24px 16px 24px !important;
}

.GenericConfirmDialog .DialogBody
{
	overflow: hidden !important;
}

.ModalPosition_Content > .ModalPosition_Dismiss
{
	display: none !important;
}

.GenericConfirmDialog .DialogBodyText[class*="cloudconflict_Title_"]
{
	font-weight: 800 !important;
}

.GenericConfirmDialog [class*="cloudconflict_DialogChoiceRow_"]
{
	width: auto !important;
	margin: 0 24px !important;
	height: 50px !important;
}

.GenericConfirmDialog [class*="cloudconflict_DialogChoiceRow_"] > [class*="cloudconflict_DialogChoiceButton_"]
{
	background: var(--button_bg) !important;
	box-sizing: border-box !important;
	box-shadow: none !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 50px !important;
	border: none !important;
	border-radius: 0 !important;
	border-bottom: 1px var(--headerbar_shade) solid !important;
	user-select: none !important;
}

.GenericConfirmDialog [class*="cloudconflict_DialogChoiceRow_"]:nth-child(1) > [class*="cloudconflict_DialogChoiceButton_"]
{
	border-top-left-radius: var(--card_radius) !important;
	border-top-right-radius: var(--card_radius) !important;
}

.GenericConfirmDialog [class*="cloudconflict_DialogChoiceRow_"]:nth-child(2) > [class*="cloudconflict_DialogChoiceButton_"]
{
	border-bottom-left-radius: var(--card_radius) !important;
	border-bottom-right-radius: var(--card_radius) !important;
	border-bottom: none !important;
}

.GenericConfirmDialog [class*="cloudconflict_DialogChoiceRow_"] > [class*="cloudconflict_DialogChoiceButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	box-shadow: none !important;
}

.GenericConfirmDialog [class*="cloudconflict_DialogChoiceRow_"] > [class*="cloudconflict_DialogChoiceButton_"]:active
{
	background: var(--button_active_bg) !important;
	box-shadow: none !important;
}

.GenericConfirmDialog [class*="cloudconflict_ConflictChoiceText_"] .DialogBodyText
{
	padding: 0 !important;
}

.GenericConfirmDialog [class*="moveappsdialog_MoveAppsDialog_"] > .DialogBody .DialogInputLabelGroup
{
	margin-top: 24px !important;
	margin-bottom: 0 !important;
	text-align: start !important;
}

.GenericConfirmDialog .DialogFooter
{
	margin-top: 24px !important;
}

/* Swap buttons to make the Cancel button first */
.GenericConfirmDialog .DialogFooter ._DialogColLayout
{
	flex-direction: row-reverse !important;
	overflow: hidden !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton:not([class*="cloudconflict_DialogChoiceButton_"])
{
	height: 42px !important;
	color: var(--button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	line-height: normal !important;
	font-weight: var(--button_font_weight) !important;
	letter-spacing: normal !important;
	background: transparent !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	border-top: 1px var(--border) solid !important;
	border-left: 1px var(--border) solid !important;
	margin: 0 !important;
	margin-left: -1px !important;
	max-width: none !important;
	transition: var(--focus_transition) !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton::before
{
	display: none !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton:not([class*="cloudconflict_DialogChoiceButton_"]):hover
{
	background: rgba(255, 255, 255, 0.07) !important;
	box-shadow: none !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton:not([class*="cloudconflict_DialogChoiceButton_"]):active
{
	background: rgba(255, 255, 255, 0.16) !important;
	box-shadow: none !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton:not([class*="cloudconflict_DialogChoiceButton_"]).Primary
{
	color: var(--accent) !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton:not([class*="cloudconflict_DialogChoiceButton_"]).Primary.Disabled
{
	color: var(--accent_disabled) !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton:not([class*="cloudconflict_DialogChoiceButton_"]).Primary:hover
{
	background: var(--accent_hover_bg) !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton:not([class*="cloudconflict_DialogChoiceButton_"]).Primary:active
{
	background: var(--accent_active_bg) !important;
}

/* Text Input */
.ModalDialogPopup .DialogTextInputBase
{
	background: var(--entry_bg) !important;
	border-radius: var(--entry_radius) !important;
	border: none !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--entry_font_size) !important;
	font-weight: var(--entry_font_weight) !important;
	min-height: var(--entry_min_height) !important;
	padding: var(--entry_padding) !important;
	transition: var(--focus_transition) !important;
}

.ModalDialogPopup .DialogTextInputBase:hover
{
	background: var(--button_hover_bg) !important;
}

.ModalDialogPopup .DialogTextInputBase:focus
{
	box-shadow: var(--focusring_bs) !important;
}

/* Buttons */
.ModalDialogPopup .DialogButton,
.ModalDialogPopup .RadioButton
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	transition: var(--focus_transition) !important;
}

.ModalDialogPopup .DialogButton.Secondary.Off
{
	background: var(--button_disabled_bg) !important;
	color: var(--button_disabled_fg) !important;
	box-shadow: none !important;
}

.ModalDialogPopup .DialogButton:hover,
.ModalDialogPopup .RadioButton:hover,
.ModalDialogPopup .DialogButton.Secondary.Off:hover
{
	background: var(--button_hover_bg) !important;
}

.ModalDialogPopup .DialogButton::before,
.ModalDialogPopup .DialogButton:hover::before
{
	box-shadow: none !important;
}

.ModalDialogPopup .DialogButton:active,
.ModalDialogPopup .RadioButton:active,
.ModalDialogPopup .DialogButton.Secondary.Off:active
{
	background: var(--button_active_bg) !important;
}

/* Labels */
.ModalDialogPopup .DialogLabel
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--header_size) !important;
	font-weight: var(--header_weight) !important;
}

.ModalDialogPopup .DialogLabelExplainer,
.ModalDialogPopup .DialogLabelStrong
{
	font-family: var(--basefont) !important;
	font-size: var(--label_size) !important;
	font-weight: var(--label_weight) !important;
}

/* DropDown */
.ModalDialogPopup .DialogDropDown
{
	align-items: center !important;
	background: var(--entry_bg) !important;
	border-radius: var(--entry_radius) !important;
	color: var(--fg) !important;
	display: flex !important;
	font-family: var(--basefont) !important;
	font-size: var(--entry_font_size) !important;
	font-weight: var(--entry_font_weight) !important;
	min-height: var(--entry_min_height) !important;
	padding: var(--entry_padding) !important;
	transition: var(--focus_transition) !important;
}

.ModalDialogPopup .DialogDropDown:hover
{
	background: var(--button_hover_bg) !important;
	box-shadow: none !important;
}

.ModalDialogPopup .DialogDropDown:active
{
	background: var(--button_active_bg) !important;
}

.ModalDialogPopup .DialogDropDown_Arrow .SVGIcon_DownArrowContextMenu
{
	fill: var(--dim_label_fg) !important;
	transition: transform 200ms var(--ease-out-quad) !important;
}

.ModalDialogPopup .DialogDropDown.Active .DialogDropDown_Arrow .SVGIcon_DownArrowContextMenu
{
	fill: var(--accent) !important;
	margin-top: -6px !important;
	transform: rotateX(0.5turn) !important;
}

.ModalDialogPopup .DialogDropDown_Arrow
{
	left: 95% !important;
	position: absolute !important;
	top: 40% !important;
}

.ModalDialogPopup [class*="dropdown_DialogDropDownMenu_"]
{
	background: var(--popover_bg) !important;
	border-radius: var(--popover_radius) !important;
}

.ModalDialogPopup [class*="dropdownlabel_DropDownLabelTitle_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--entry_font_size) !important;
	font-weight: var(--entry_font_weight) !important;

}

.ModalDialogPopup [class*="dropdownlabel_DropDownLabelDescription_"]
{
	color: var(--entry_subtitle_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--entry_subtitle_font_size) !important;
	font-weight: var(--entry_subtitle_font_weight) !important;
}

/* Dialog Toggle */
.ModalDialogPopup .DialogToggle_Label
{
	color: var(--fg) !important;
	flex-grow: 1 !important;
	font-family: var(--basefont) !important;
	font-size: var(--label_size) !important;
	font-weight: var(--label_weight) !important;
}

/* Checkboxes */
.ModalDialogPopup [class*="appproperties_AppProperties_"] [class*="appproperties_Install_"] > .DialogCheckbox,
.ModalDialogPopup [class*="contentmanagement_AppSelected_"] > .DialogCheckbox
{
	background-color: var(--checkbox_bg) !important;
	box-shadow: var(--checkbox_bs) !important;
	border-radius: var(--checkbox_radius) !important;
	height: 20px !important;
	width: 20px !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] [class*="appproperties_Install_"] > .DialogCheckbox:hover,
.ModalDialogPopup [class*="contentmanagement_AppSelected_"] > .DialogCheckbox:hover
{
	box-shadow: var(--checkbox_hover_bs) !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] [class*="appproperties_Install_"] > .DialogCheckbox:active:not(.Active),
.ModalDialogPopup [class*="contentmanagement_AppSelected_"] > .DialogCheckbox:active:not(.Active)
{
	box-shadow: none !important;
	background: var(--checkbox_active_bg) !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] [class*="appproperties_Install_"] > .DialogCheckbox.Active,
.ModalDialogPopup [class*="contentmanagement_AppSelected_"] > .DialogCheckbox.Active
{
	background: var(--checkbox_checked_bg) !important;
	background-blend-mode: var(--button_suggested_blend) !important;
	border-radius: var(--checkbox_radius) !important;
	box-shadow: none !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] [class*="appproperties_Install_"] > .DialogCheckbox.Active:hover,
.ModalDialogPopup [class*="contentmanagement_AppSelected_"] > .DialogCheckbox.Active:hover
{
	background-color: var(--button_suggested_hover_bg) !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] [class*="appproperties_Install_"] > .DialogCheckbox.Active:active,
.ModalDialogPopup [class*="contentmanagement_AppSelected_"] > .DialogCheckbox.Active:active
{
	background-color: var(--button_suggested_click_bg) !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] [class*="appproperties_Install_"] > .DialogCheckbox svg,
.ModalDialogPopup [class*="contentmanagement_AppSelected_"] > .DialogCheckbox svg
{
	stroke-width: var(--checkbox_checked_sw) !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] [class*="appproperties_Install_"] > .DialogCheckbox svg path,
.ModalDialogPopup [class*="contentmanagement_AppSelected_"] > .DialogCheckbox svg path
{
	stroke: var(--fg) !important;
	d: path("M 185 63 L 92 170 l -53 -52") !important;
	transition: none !important;
}

/* Checkboxes as Switches */
.ModalDialogPopup [class*="appproperties_AppProperties_"] div:not([class*="appproperties_Install_"]) > .DialogCheckbox,
.FriendsSettingsNotificationRow_Checkbox .DialogCheckbox
{
	background: var(--card_bg) !important;
	background-blend-mode: var(--button_suggested_blend) !important;
	border-radius: var(--entry_radius) !important;
	box-shadow: none !important;
	padding: 2px !important;
	min-height: 22px !important;
	min-width: 44px !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] div:not([class*="appproperties_Install_"]) > .DialogCheckbox.Active,
.FriendsSettingsNotificationRow_Checkbox .DialogCheckbox.Active
{
	background: var(--button_suggested_bg) !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] div:not([class*="appproperties_Install_"]) > .DialogCheckbox:hover,
.FriendsSettingsNotificationRow_Checkbox .DialogCheckbox:hover
{
	background-color: var(--button_suggested_hover_bg) !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] div:not([class*="appproperties_Install_"]) > .DialogCheckbox:active,
.FriendsSettingsNotificationRow_Checkbox .DialogCheckbox:active
{
	background-color: var(--button_suggested_click_bg) !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] div:not([class*="appproperties_Install_"]) > .DialogCheckbox .SVGIcon_DialogCheck,
.FriendsSettingsNotificationRow_Checkbox .DialogCheckbox .SVGIcon_DialogCheck
{
	opacity: 1 !important;
	transition: margin-left 60ms linear !important;
	margin-left: -2px !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] div:not([class*="appproperties_Install_"]) > .DialogCheckbox.Active .SVGIcon_DialogCheck,
.FriendsSettingsNotificationRow_Checkbox .DialogCheckbox.Active .SVGIcon_DialogCheck
{
	margin-left: 20px !important;
}

.ModalDialogPopup [class*="appproperties_AppProperties_"] div:not([class*="appproperties_Install_"]) > .DialogCheckbox svg path,
.FriendsSettingsNotificationRow_Checkbox .DialogCheckbox svg path
{
	d: path("M 100, 100 m -75, 0 a 160,160 0 1,0 320,0 a 160,160 0 1,0 -320,0") !important;
	fill: var(--fg) !important;
	stroke: none !important;
	stroke-dasharray: none !important;
}

/* Toggle Switch */
.ModalDialogPopup [class*="toggle_Toggle_"]
{
	display: flex;
	align-items: center;
}

.ModalDialogPopup [class*="toggle_ToggleSwitch_"]
{
	background: var(--fg) !important;
}

.ModalDialogPopup [class*="toggle_ToggleRail_"]
{
	background: var(--entry_bg) !important;
	background-blend-mode: var(--button_suggested_blend) !important;
	border-radius: var(--entry_radius) !important;
	box-shadow: none !important;
	margin-left: -4px !important;
	margin-top: -7px !important;
	min-height: 26px !important;
	width: 48px !important;
}

.ModalDialogPopup [class*="toggle_ToggleRail_"]:hover
{
	background-color: var(--button_suggested_hover_bg) !important;
}

.ModalDialogPopup [class*="toggle_ToggleRail_"]:active
{
	background-color: var(--button_suggested_click_bg) !important;
}

.ModalDialogPopup [class*="toggle_Highlight_"]
{
	background: var(--button_suggested_bg) !important;
}

.ModalDialogPopup [class*="toggle_Highlight_"][class*="toggle_Off_"]
{
	display: none !important;
}

.ModalDialogPopup [class*="toggle_ToggleSwitch_"]
{
	border-radius: var(--button_pill_radius) !important;
	height: 22.5px !important;
	margin-left: -3px !important;
	margin-top: 2px !important;
	pointer-events: none !important;
	transition: transform 60ms linear, background 60ms !important;
	width: 22.5px !important;
}

.ModalDialogPopup [class*="toggle_ToggleSwitch_"][class*="toggle_Off_"]
{
	margin-left: 1px !important;
}

