/* --- App Properties --- */
/* Top Gap */
.ModalDialogPopup div[class*="appproperties_TopGap_"]
{
	margin-top: 1px !important;
}

/* Headings */
.ModalDialogPopup div[class*="appproperties_Title_"]
{
	font-family: var(--basefont) !important;
	font-size: var(--header_size) !important;
	font-weight: var(--header_weight) !important;
}

.ModalDialogPopup div[class*="appproperties_Detail_"]
{
	font-family: var(--basefont) !important;
	font-size: var(--label_size) !important;
	font-weight: var(--label_weight) !important;
}

/* Top Border */
.ModalDialogPopup div[class*="appproperties_SectionTopLine_"]
{
	border-top: none !important;
}

/* Blue Highlighted Text */
.ModalDialogPopup div[class*="appproperties_AppProperties_"] span[class*="appproperties_BlueHighlight_"]
{
	color: var(--fg) !important;
	font-weight: 500 !important;
}

/* Controller List */
.ModalDialogPopup div[class*="appproperties_AppProperties_"] div[class*="appproperties_SteamInputStatusGrid_"]
{
	background: var(--card_bg) !important;
	border-radius: var(--card_radius) !important;
}

.ModalDialogPopup span[class*="appproperties_SteamInputLink_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--link_size) !important;
	font-weight: var(--link_weight) !important;
	text-decoration: none !important;
}

.ModalDialogPopup span[class*="appproperties_SteamInputLink_"]:hover
{
	text-decoration: underline !important;
}

.ModalDialogPopup span[class*="appproperties_SteamInputStatus_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
}

/* DLC & Workshop Grid */
.ModalDialogPopup div[class*="appproperties_AppProperties_"] div[class*="appproperties_DlcGrid_"],
.ModalDialogPopup div[class*="appproperties_AppProperties_"] div[class*="appproperties_WorkshopGrid_"]
{
	border-radius: var(--card_radius) !important;
}

.ModalDialogPopup div[class*="appproperties_AppProperties_"] div[class*="appproperties_DlcGrid_"] div[class*="appproperties_DlcHeader_"],
.ModalDialogPopup div[class*="appproperties_AppProperties_"] div[class*="appproperties_WorkshopGrid_"] div[class*="appproperties_WorkshopHeader_"]
{
	background: var(--card_solid_bg) !important;
}

/* Checkboxes as Switches */
.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogCheckbox_Container
{
	align-items: center !important;
	background: var(--entry_bg) !important;
	border-radius: var(--entry_radius) !important;
	flex-direction: row-reverse !important;
	min-height: var(--entry_min_height) !important;
	padding: var(--entry_padding) !important;
	transition: var(--focus_transition) !important;
}

.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogCheckbox_Container:hover
{
	background: var(--button_hover_bg) !important;
	box-shadow: none !important;
}

.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogCheckbox_Container:active
{
	background: var(--button_active_bg) !important;
}

.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogControlsSection .DialogCheckbox_Container:not(:last-child):first-child,
.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogBody .DialogCheckbox_Container:not(:last-child):first-child,
.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogBody .DialogDropDown:not(:last-child):first-child
{
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogControlsSection .DialogCheckbox_Container:not(:first-child):last-child,
.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogBody .DialogCheckbox_Container:not(:first-child):last-child,
.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogBody .DialogDropDown:not(:first-child):last-child,
.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogBody .DialogCheckbox_Container + .DialogInputLabelGroup > .DialogDropDown,
.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogBody .DialogInputLabelGroup > .DialogDropDown + .DialogCheckbox_Container
{
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.ModalDialogPopup div[class*="appproperties_AppProperties_"] .DialogBody .DialogInputLabelGroup > .DialogLabel + .DialogDropDown
{
	border-top-right-radius: var(--entry_radius) !important;
	border-top-left-radius: var(--entry_radius) !important;
}

