/* --- Paged Settings --- */
.ModalDialogPopup .DialogContent:not(.GenericConfirmDialog),
.ModalDialogPopup .DialogContent:not(.GenericConfirmDialog) .DialogContentTransition,
.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListColumn_"]
{
	background: var(--window_bg) !important;
	color: var(--window_fg) !important;
	padding: 0 !important;
}

.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListColumn_"]
{
	border-right: 1px var(--border) solid !important;
}

.ModalDialogPopup .DialogContent:not(.GenericConfirmDialog) .DialogHeader,
.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] > [class*="pagedsettings_PagedSettingsDialog_Title_"]
{
	box-sizing: border-box !important;
	height: 48px !important;
	display: grid !important;
	grid-template-columns: 1fr !important;
	align-items: center !important;
	padding: 12px !important;
	margin: 0 !important;
	background: var(--headerbar_backdrop) !important;
	color: var(--headerbar_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--header_size) !important;
	line-height: normal !important;
	font-weight: var(--header_weight) !important;
	letter-spacing: normal !important;
	text-align: center !important;
	text-transform: none !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	border-bottom: 1px var(--headerbar_shade) solid !important;
}

.ModalDialogPopup .DialogHeader > svg
{
	display: none !important;
}

.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] > div[class*="pagedsettings_PagedSettingsDialog_Title_"]
{
	margin-bottom: 5px !important;
}

.ModalDialogPopup:focus-within .DialogContent:not(.GenericConfirmDialog) .DialogHeader,
.ModalDialogPopup:focus-within [class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] > [class*="pagedsettings_PagedSettingsDialog_Title_"]
{
	background: var(--headerbar_bg) !important;
}

.ModalDialogPopup .title-area
{
	height: 48px !important;
}

.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]
{
	color: var(--button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--basesize) !important;
	line-height: normal !important;
	font-weight: var(--baseweight) !important;
	letter-spacing: normal !important;
	text-transform: none !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	margin: 1px 6px 1px 8px !important;
	padding: 8px 12px !important;
	border-radius: var(--button_radius) !important;
}

.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:hover
{
	background-color: rgba(255, 255, 255, 0.07) !important;
}

.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:active
{
	background-color: rgba(255, 255, 255, 0.16) !important;
}

.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListItem_"][class*="pagedsettings_Active_"]
{
	background-color: rgba(255, 255, 255, 0.1) !important;
}

.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListItem_"][class*="pagedsettings_Active_"]:hover
{
	background-color: rgba(255, 255, 255, 0.13) !important;
}

.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListItem_"][class*="pagedsettings_Active_"]:active
{
	background-color: rgba(255, 255, 255, 0.19) !important;
}

.ModalDialogPopup .DialogContent_InnerWidth > *:not(.DialogHeader):not(form)
{
	padding: 16px !important;
}

