/* --- Uninstall --- */
.GenericConfirmDialog > .DialogContent_InnerWidth > form > div[class*="uninstalldialog_UninstallDialog_"]
{
	min-width: 500px !important;
	width: 500px !important;
}

/* Uninstall button */
.GenericConfirmDialog > .DialogContent_InnerWidth > form > div[class*="uninstalldialog_UninstallDialog_"] .DialogButton.Primary
{
	color: var(--destructive) !important;
}

.GenericConfirmDialog > .DialogContent_InnerWidth > form > div[class*="uninstalldialog_UninstallDialog_"] .DialogButton.Primary.Disabled
{
	color: var(--destructive_disabled) !important;
}

.GenericConfirmDialog > .DialogContent_InnerWidth > form > div[class*="uninstalldialog_UninstallDialog_"] .DialogButton.Primary:hover
{
	background: var(--destructive_hover_bg) !important;
}

.GenericConfirmDialog > .DialogContent_InnerWidth > form > div[class*="uninstalldialog_UninstallDialog_"] .DialogButton.Primary:active
{
	background: var(--destructive_active_bg) !important;
}

