/* --- Whats New Dialog --- */
.ModalDialogPopup div[class*="libraryhomenewupdates_WhatsNewSettingsContent_"]
{
	background: var(--bg) !important;
	padding: 0px !important;
}

.ModalDialogPopup form[class*="libraryhomenewupdates_WhatsNewSettings_"]
{
	padding: 24px !important;
}

.ModalDialogPopup div[class*="libraryhomenewupdates_WhatsNewSettingsContent_"] .DialogHeader
{
	align-items: center !important;
	background: var(--headerbar_backdrop) !important;
	border-bottom: 1px var(--headerbar_shade) solid !important;
	box-sizing: border-box !important;
	color: var(--headerbar_fg) !important;
	display: grid !important;
	font-family: var(--basefont) !important;
	font-size: var(--header_size) !important;
	font-weight: var(--header_weight) !important;
	height: 48px !important;
	letter-spacing: normal !important;
	line-height: normal !important;
	margin: 0 !important;
	padding: 12px !important;
	text-align: center !important;
	text-transform: none !important;
	width: 100%;
}

.ModalDialogPopup:focus-within div[class*="libraryhomenewupdates_WhatsNewSettingsContent_"] .DialogHeader
{
	background: var(--headerbar_bg) !important;
}

.ModalDialogPopup div[class*="libraryhomenewupdates_WhatsNewSettingsContent_"] ._DialogInputContainer
{
	align-items: center !important;
	background: var(--entry_bg) !important;
	border-radius: var(--entry_radius) !important;
	color: var(--fg) !important;
	display: flex !important;
	font-family: var(--basefont) !important;
	font-size: var(--entry_font_size) !important;
	font-weight: var(--entry_font_weight) !important;
	line-height: 18px;
	margin-bottom: 22px;
	min-height: var(--entry_min_height) !important;
	padding: var(--entry_padding);
}

.ModalDialogPopup div[class*="libraryhomenewupdates_DialogLabelSoft_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--basesize) !important;
	font-weight: var(--baseweight) !important;
}

.ModalDialogPopup div[class*="libraryhomenewupdates_WhatsNewSettingsContent_"] .DialogToggle_Description
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--basesize) !important;
	font-weight: var(--baseweight) !important;
}

