/* -------------- */
/* --- Colors --- */
/* -------------- */

:root
{
	/* General */
	--bg: #242424;
	--fg: #ffffff;

	--accent: #78aeed;
	--accent_bg: #3584e4;
	--accent_fg: var(--fg);
	--accent_disabled: rgba(120, 174, 237, 0.5);
	--accent_hover_bg: rgba(120, 174, 237, 0.07);
	--accent_active_bg: rgba(120, 174, 237, 0.16);

	--destructive: #ff7b63;
	--destructive_bg: #c01c28;
	--destructive_fg: var(--fg);
	--destructive_disabled: rgba(255, 123, 99, 0.5);
	--destructive_hover_bg: rgba(255, 123, 99, 0.07);
	--destructive_active_bg: rgba(255, 123, 99, 0.16);

	--success: #8ff0a4;
	--success_bg: #26a269;
	--success_fg: var(--fg);

	--warning: #f8e45c;
	--warning_bg: #cd9309;
	--warning_fg: var(--fg);

	--error: #ff7b63;
	--error_bg: #c01c28;
	--error_fg: var(--fg);

	/* Fonts */
	--basefont: "Cantarell";
	--basesize: 15px;
	--baseweight: normal;

	--large_title_size: 24px;
	--large_title_weight: 300;

	--title_1_size: 20px;
	--title_1_weight: 800;

	--title_2_size: 15px;
	--title_2_weight: 800;

	--title_3_size: 14px;
	--title_3_weight: bold;

	--title_4_size: 13px;
	--title_4_weight: bold;

	--header_size: var(--title_3_size);
	--header_weight: var(--title_3_weight);

	--label_size: var(--basesize);
	--label_weight: normal;

	--link_size: var(--title_3_size);
	--link_weight: var(--title_3_weight);

	--subtitle_size: smaller;
	--subtitle_weight: normal;

	/* Widgets */
	--button_bg: rgba(255, 255, 255, 0.1);
	--button_fg: rgba(255, 255, 255, 1);
	--button_radius: 6px;
	--button_padding: 5px 10px;
	--button_min_height: 24px;
	--button_min_width: 16px;
	--button_pill_radius: 9999px;
	--button_font_weight: var(--title_3_weight);
	--button_font_size: var(--title_3_size);
	--button_hover_bg: rgba(255, 255, 255, 0.15);
	--button_active_bg: rgba(255, 255, 255, 0.3);
	--button_disabled_bg: rgba(255, 255, 255, 0.05);
	--button_disabled_fg: rgba(255, 255, 255, 0.5);
	--button_success_bg: linear-gradient(0deg, var(--success_bg), var(--success_bg));
	--button_suggested_bg: linear-gradient(0deg, var(--accent_bg), var(--accent_bg));
	--button_suggested_hover_bg: rgba(255, 255, 255, 0.1);
	--button_suggested_click_bg: rgba(0, 0, 0, 0.2);
	--button_suggested_blend: overlay;

	--checkbox_checked_bg: var(--button_suggested_bg);
	--checkbox_checked_sw: 45;
	--checkbox_radius: 6px;
	--checkbox_bg: transparent;
	--checkbox_bs: inset 0px 0px 0px 2px var(--button_hover_bg);
	--checkbox_hover_bs: inset 0px 0px 0px 2px var(--button_active_bg);
	--checkbox_active_bg: var(--button_active_bg);

	--radio_appearance: none;
	--radio_border: solid 2px var(--button_hover_bg);
	--radio_checked_bg: var(--button_fg);
	--radio_checked_border: solid 6px var(--accent_bg);
	--radio_min_height: 20px;
	--radio_min_width: 20px;
	--radio_radius: 50%;

	--card_bg: rgba(255, 255, 255, 0.1);
	--card_fg: var(--fg);
	--card_radius: calc(var(--button_radius) + 6px);
	--card_solid_bg: #3A3A3A;

	--focusring: rgba(120, 174, 237, 0.5);
	--focusring_bs: inset 0px 0px 0px 2px var(--focusring);

	--ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--focus_transition: box-shadow 200ms var(--ease-out-quad), background 200ms var(--ease-out-quad);

	--entry_bg: var(--button_bg);
	--entry_hover_bg: var(--button_hover_bg);
	--entry_radius: var(--card_radius);
	--entry_min_height: 50px;
	--entry_min_height_labeled: 34px;
	--entry_padding: 2px 14px 2px 14px;
	--entry_padding_labeled: 18px 14px 2px 14px;
	--entry_font_size: var(--label_size);
	--entry_font_weight: var(--label_weight);
	--entry_subtitle_fg: var(--dim_label_fg);
	--entry_subtitle_font_size: var(--subtitle_size);
	--entry_subtitle_font_weight: var(--subtitle_weight);
	--entry_small_min_height: calc(var(--entry_min_height) - 20px);
	--entry_small_radius: calc(var(--entry_radius) - 6px);


	--dim_label_fg: rgba(255, 255, 255, 0.55);

	--menu_radius: 6px;
	--menu_margin: 6px;
	--menu_padding: 12px;

	--window_bg: var(--bg);
	--window_fg: var(--fg);
	--window_radius: calc(var(--button_radius) + 6px);

	--view_bg: #1e1e1e;
	--view_fg: var(--fg);

	--headerbar_bg: #303030;
	--headerbar_fg: var(--fg);
	--headerbar_border: var(--fg);
	--headerbar_backdrop: var(--bg);
	--headerbar_shade: rgba(0, 0, 0, 0.38);

	--popover_bg: #383838;
	--popover_fg: var(--fg);
	--popover_radius: var(--window_radius);

	--toast_bg: rgba(0, 0, 0, 0.7);
	--toast_fg: rgba(255, 255, 255, 0.9);
	--toast_margin: 12px;
	--toast_margin_bottom: 24px;
	--toast_border_radius: 150px;
	--toast_border_spacing: 6px;
	--toast_padding: 6px;
	--toast_padding_left: 12px;

	--border: rgba(255, 255, 255, 0.15);

	--scrollbar: rgba(255, 255, 255, 0.2);
	--scrollbar_hover: rgba(255, 255, 255, 0.4);
	--scrollbar_active: rgba(255, 255, 255, 0.6);

	/* Icons */
	--store_icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg color='%23bebebe' fill='%23474747'%3E%3Cpath d='M12 1c1.662 0 3 1.338 3 3v6c0 1.662-1.338 3-3 3H4c-1.662 0-3-1.338-3-3V4c0-1.662 1.338-3 3-3zm0 2H4c-.554 0-1 .446-1 1v6c0 .554.446 1 1 1h8c.554 0 1-.446 1-1V4c0-.554-.446-1-1-1zM8 14c-5 0-5 1-5 1 0 1 1 1 1 1h8c1 0 1-1 1-1s0-1-5-1z' style='marker:none' overflow='visible'/%3E%3Cpath d='M4.5 5S4 5 4 5.5v4c0 .5.5.5.5.5h4c.5 0 .5-.5.5-.5v-4C9 5 8.563 5 8.5 5zM5 6.998h3v2H5zM10.5 4s-.5 0-.5.5v.984s0 .5.5.5l1 .001s.5 0 .5-.5v-.984s0-.5-.5-.5z' style='marker:none' overflow='visible'/%3E%3C/g%3E%3C/svg%3E");
	--library_icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg height='16px' viewBox='0 0 16 16' width='16px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 2 1 c -0.554688 0 -1 0.445312 -1 1 v 4 c 0 0.554688 0.445312 1 1 1 h 4 c 0.554688 0 1 -0.445312 1 -1 v -4 c 0 -0.554688 -0.445312 -1 -1 -1 z m 8 0 c -0.554688 0 -1 0.445312 -1 1 v 4 c 0 0.554688 0.445312 1 1 1 h 4 c 0.554688 0 1 -0.445312 1 -1 v -4 c 0 -0.554688 -0.445312 -1 -1 -1 z m -8 8 c -0.554688 0 -1 0.445312 -1 1 v 4 c 0 0.554688 0.445312 1 1 1 h 4 c 0.554688 0 1 -0.445312 1 -1 v -4 c 0 -0.554688 -0.445312 -1 -1 -1 z m 8 0 c -0.554688 0 -1 0.445312 -1 1 v 4 c 0 0.554688 0.445312 1 1 1 h 4 c 0.554688 0 1 -0.445312 1 -1 v -4 c 0 -0.554688 -0.445312 -1 -1 -1 z m 0 0' fill='currentColor'/%3E%3C/svg%3E");
	--community_icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg height='16px' viewBox='0 0 16 16' width='16px' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232e3436'%3E%3Cpath d='m 13.5 6.5 c 0 1.378906 -1.121094 2.5 -2.5 2.5 c -1.382812 0 -2.5 -1.121094 -2.5 -2.5 c 0 -1.382812 1.117188 -2.5 2.5 -2.5 c 1.378906 0 2.5 1.117188 2.5 2.5 z m 0 0'/%3E%3Cpath d='m 7.5 3.5 c 0 1.378906 -1.121094 2.5 -2.5 2.5 s -2.5 -1.121094 -2.5 -2.5 s 1.121094 -2.5 2.5 -2.5 s 2.5 1.121094 2.5 2.5 z m 0 0'/%3E%3Cpath d='m 3 7 c -1.660156 0 -3 1.339844 -3 3 v 2 c 0 0.554688 0.445312 1 1 1 h 4.074219 c 0 -2.042969 1.582031 -3.734375 3.582031 -3.90625 c -0.589844 -0.535156 -0.984375 -1.257812 -1.109375 -2.042969 c -0.175781 -0.03125 -0.359375 -0.050781 -0.546875 -0.050781 z m 6 3.925781 c -1.167969 0 -2.078125 0.90625 -2.078125 2.074219 h 2.078125 c 0.554688 0 1 -0.445312 1 -1 v -1.074219 z m 0 0'/%3E%3Cpath d='m 9 10 c -1.664062 0 -3 1.335938 -3 3 v 2 c 0 0.554688 0.445312 1 1 1 h 8 c 0.554688 0 1 -0.445312 1 -1 v -2 c 0 -1.664062 -1.339844 -3 -3 -3 z m 0 0'/%3E%3C/g%3E%3C/svg%3E%0A");
	--profile_icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg height='16px' viewBox='0 0 16 16' width='16px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 8 1 c -1.65625 0 -3 1.34375 -3 3 s 1.34375 3 3 3 s 3 -1.34375 3 -3 s -1.34375 -3 -3 -3 z m -1.5 7 c -2.492188 0 -4.5 2.007812 -4.5 4.5 v 0.5 c 0 1.109375 0.890625 2 2 2 h 8 c 1.109375 0 2 -0.890625 2 -2 v -0.5 c 0 -2.492188 -2.007812 -4.5 -4.5 -4.5 z m 0 0' fill='%232e3436'/%3E%3C/svg%3E%0A");
	--console_icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg color='%23bebebe' fill='%23474747'%3E%3Cpath d='M2.2 0C.993 0 0 1.007 0 2.209v10.582C0 13.993.994 15 2.2 15h11.6c1.206 0 2.2-1.007 2.2-2.209V2.209C16 1.007 15.006 0 13.8 0zm0 2h11.6c.124 0 .2.071.2.209v10.582c0 .138-.076.209-.2.209H2.2c-.124 0-.2-.071-.2-.209V2.209C2 2.071 2.076 2 2.2 2z' style='line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal;marker:none' font-weight='400' font-family='sans-serif' overflow='visible'/%3E%3Cpath d='M4.494 5.895a.6.6 0 00-.418 1.029L5.652 8.5l-1.576 1.576a.6.6 0 10.848.848l2-2a.6.6 0 000-.848l-2-2a.6.6 0 00-.43-.181z' style='line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal;marker:none' font-weight='400' font-family='sans-serif' overflow='visible'/%3E%3Cpath d='M8 10h3v1H8z' style='marker:none' overflow='visible'/%3E%3C/g%3E%3C/svg%3E");

}

