/* --- Downloads View --- */
/* BG */
#SteamDesktop div[class*="downloads_DownloadsPage_"]
{
	background: var(--bg) !important;
}

/* - Header - */
#SteamDesktop div[class*="downloadgraph_GraphAndStats_"]
{
	background: var(--view_bg) !important;
	border-bottom: 1px solid var(--border) !important;
}

#SteamDesktop div[class*="downloadgraph_StatsPanel_"] div[class*="downloadgraph_Figure_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

#SteamDesktop div[class*="downloadgraph_StatsPanel_"] div[class*="downloadgraph_Label_"],
#SteamDesktop div[class*="downloadgraph_DownloadGraphLegend_"] div[class*="downloadgraph_LegendText_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

/* Remove Gradient when Downloads are Empty */
#SteamDesktop div[class*="downloadgraph_HeroAndLogo_"],
#SteamDesktop div[class*="downloadgraph_HeroAndLogo_"] img[class*="libraryassetimage_Visible_"]
{
	background: none !important;
}

/* Blue Separator Line */
#SteamDesktop div[class*="downloads_TopBar_"]
{
	background: none !important;
}

/* Top Right Settings Button */
#SteamDesktop div[class*="downloadgraph_SettingsButton_"] button
{
	background: var(--button_bg) !important;
}

#SteamDesktop div[class*="downloadgraph_SettingsButton_"] button:hover
{
	background: var(--button_hover_bg) !important;
}

#SteamDesktop div[class*="downloadgraph_SettingsButton_"] button.DialogButton:enabled
{
	color: var(--button_fg) !important;
}

/* Graph Colors */
#SteamDesktop div[class*="downloadgraph_DownloadGraph_"] rect[class*="downloadgraph_GraphBarDownload_"],
#SteamDesktop div[class*="downloadgraph_DownloadGraphLegend_"] div[class*="downloadgraph_Network_"] svg
{
	color: var(--accent_bg) !important;
}

#SteamDesktop div[class*="downloadgraph_DownloadGraph_"] path[class*="downloadgraph_GraphLine_"]
{
	stroke: var(--success_bg) !important;
}

#SteamDesktop div[class*="downloadgraph_DownloadGraphLegend_"] div[class*="downloadgraph_Disk_"]
{
	background: var(--success_bg) !important;
}

/* - Downloads - */
#SteamDesktop span[class*="downloads_Title_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

#SteamDesktop div[class*="downloads_EmptyTransfers_"] div[class*="downloads_Text_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

#SteamDesktop div[class*="downloads_SectionTitle_"] span[class*="downloads_Count_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

#SteamDesktop div[class*="downloads_SectionTitle_"] div[class*="downloads_Rule_"]
{
	background-color: var(--dim_label_fg) !important;
	opacity: 0.55 !important;
}

#SteamDesktop div[class*="downloads_AutoUpdateHours_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

/* Download Items */
#SteamDesktop div[class*="downloads_SectionItem_"]
{
	background: var(--card_bg) !important;
}

#SteamDesktop div[class*="downloads_SectionItem_"]:hover
{
	background: var(--button_hover_bg) !important;
}

#SteamDesktop div[class*="downloads_SectionItem_"] span[class*="downloads_Name_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

#SteamDesktop div[class*="downloads_ProgressDetails_"] span[class*="downloads_Value_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

#SteamDesktop div[class*="downloads_ProgressDetails_"] span[class*="downloads_Value_"][class*="downloads_InProgress_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

#SteamDesktop div[class*="downloads_ContentTypes_"]
{
	color: var(--fg) !important;
}

#SteamDesktop div[class*="downloads_Active_"] div[class*="downloads_SectionList_"]
{
	border: none !important;
}

#SteamDesktop div[class*="downloads_SectionList_"] div[class*="downloads_SectionItemWrapper_"]
{
	padding: var(--menu_margin) 0px !important;
}

#SteamDesktop div[classs*="downloads_SectionItemStatus_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

#SteamDesktop div[class*="downloads_SectionItemStatus_"] span[class*="downloads_InProgress_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

#SteamDesktop div[class*="downloads_SectionItemStatus_"] span[class*="downloads_Progress_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

#SteamDesktop div[class*="downloads_SectionItemStatus_"] div[class*="downloads_ProgressBar_"]
{
	background: var(--button_bg) !important;
}

/* Buttons */
#SteamDesktop button[class*="downloads_Button_"]
{
	background: none !important;
	color: var(--button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

#SteamDesktop button[class*="downloads_RemoveAllButton_"]
{
	background: var(--button_bg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

#SteamDesktop button[class*="downloads_RemoveAllButton_"].DialogButton:enabled
{
	color: var(--button_fg) !important;
}

#SteamDesktop button[class*="downloads_Button_"]:hover,
#SteamDesktop button[class*="downloads_RemoveAllButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border: none !important;
}
