/* --------------- */
/* --- Top Bar --- */
/* --------------- */
/* --- Rounded Window Corners --- */
body.DesktopUI
{
	border-radius: var(--window_radius) !important;
}

body.DesktopUI .steamdesktop_Wrapper_1ENHE
{
	border: none !important;
}

/* --- Entire Top Bar --- */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ
{
	background: var(--headerbar_bg) !important;
	height: 44px !important;
	box-shadow: none !important;
}

/* Title Bar */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_TitleBar_"]
{
	background: var(--headerbar_bg) !important;
	height: 44px !important;
}

/* Focus Bar */
#SteamDesktop .steamdesktop_Wrapper_1ENHE > div[class*="steamdesktop_FocusBar_"]
{
	background: none !important;
}

/* --- Left Side --- */
/* Menu Bar */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_RootMenuBar_"]
{
	padding: 6px 4px !important;
	gap: 3px !important;
	z-index: 1 !important;
}

/* Menu item */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="rootmenu_RootMenuButton_"]
{
	border-radius: var(--button_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	line-height: 24px !important;
	min-height: 32px !important;
	padding: var(--button_padding) !important;
	transition: var(--focus_transition) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="rootmenu_RootMenuButton_"]:hover
{
	color: var(--fg) !important;
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="rootmenu_SteamButton_"]
{
	padding-top: 0px !important;
}

/* Navigation */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_SuperNavBar_"]
{
	-webkit-app-region: inherit;
	position: relative;
	top: -40px;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"]
{
	justify-content: center !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg
{
	display: none
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"]
{
	color: var(--fg) !important;
	margin-top: 10px !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"][class*="supernav_Disabled_"]
{
	color: var(--dim_label_fg) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_MenuButton_"]
{
	-webkit-app-region: no-drag;
	border-radius: var(--button_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	line-height: 24px !important;
	max-width: 100px !important;
	min-height: var(--button_min_height) !important;
	min-width: var(--button_min_width) !important;
	overflow: hidden !important;
	padding: var(--button_padding) !important;
	text-overflow: ellipsis !important;
	text-transform: capitalize !important;
	transition: var(--focus_transition) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_MenuButton_"]:hover
{
	color: var(--fg) !important;
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"]
{
	padding: 0 3px 0 0 !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"]:not([class*="supernav_Disabled_"]) div[class*="supernav_MenuButton_"]
{
	color: var(--fg) !important;
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
	padding: var(--button_padding) !important;
	text-shadow: none !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"]:not([class*="supernav_Disabled_"]) div[class*="supernav_MenuButton_"]::after
{
	background: none !important;
	height: 0px !important;
}

/* Navigation Icon Hackery */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(n+3):nth-child(-n+7) > div::before
{
	background-color: var(--fg);
	content: "";
	padding: 10px;
	margin: 1px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(3) > div::before
{
	-webkit-mask-image: var(--store_icon);
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(4) > div::before
{
	-webkit-mask-image: var(--library_icon);
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(5) > div::before
{
	-webkit-mask-image: var(--community_icon);
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(6) > div::before
{
	-webkit-mask-image: var(--profile_icon);
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(7) > div::before
{
	-webkit-mask-image: var(--console_icon);
}

/* --- Middle --- */
/* Drag */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_DragArea_"]
{
	background: var(--headerbar_bg) !important;
}

/* Url Bar */
#SteamDesktop .steamdesktop_LocalContentContainer_RGNMW > div[class*="steamdesktop_URLBarReplacement_"]
{
	background: var(--headerbar_bg) !important;
	height: 1px !important;
	min-height: 1px !important;
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URLBar_"]
{
	background: var(--headerbar_bg) !important;
	display: flex !important;
	justify-content: center;
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URL_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont);
	font-size: var(--title_4_size);
	font-weight: var(--title_4_weight);
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_ReloadButton_"],
#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URLBarText_"]
{
	border-radius: var(--button_radius) !important;
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_ReloadButton_"]:hover,
#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URLBarText_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_ReloadButton_"] svg,
#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_LockIcon_"] svg
{
	color: var(--fg) !important;
}

body.DesktopUI > div[class*="steamdesktop_URLBarCopied_"]
{
	background: var(--toast_bg) !important;
	border-radius: var(--toast_border_radius) !important;
	color: var(--toast_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--basesize) !important;
	font-weight: var(--baseweight) !important;
	padding: var(--toast_padding) !important;
}


/* --- Right Side --- */
/* Profile, Notifications, etc */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_TitleBarControls_"]
{
	background: var(--headerbar_bg) !important;
	margin-top: 0px !important;
	z-index: 1 !important;
}

/* Move Account Button to the last slot */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_TitleBarControls_"] div.Focusable:nth-child(3)
{
	order: 99 !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_AnnouncementsButton"][class*="titlebarcontrols_Active_"],
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_AnnouncementsButton"][class*="titlebarcontrols_Active_"]:hover
{
	background: var(--accent_bg) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_Button_"],
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_AccountMenu_"]
{
	-webkit-app-region: no-drag;
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	height: var(--button_min_height) !important;
	line-height: var(--button_min_height) !important;
	margin-right: 6px !important;
	min-height: var(--button_min_height) !important;
	padding: var(--button_padding) !important;
	transition: var(--focus_transition) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_AccountMenu_"] div[class*="steamavatar_avatarHolder_"] + div
{
	display: none !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_AccountMenu_"] div
{
	max-width: 100px !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_NotificationButtonContainer_"]
{
	margin-right: 0px !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_Button_"]:hover,
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_AccountMenu_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_NotificationsButton_"] svg
{
	color: var(--fg) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_NotificationsButton_"][class*="titlebarcontrols_HasNew_"]
{
	background: var(--accent_bg) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_GamepadUIToggle_"]
{
	width: 24px !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_GamepadUIToggle_"] svg[class*="titlebarcontrols_Icon_"]
{
	position: revert !important;
}

/* Window Controls */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_WindowControls_"]
{
	background: var(--headerbar_bg) !important;
}

/* --- Context Menu --- */
body.ContextMenuPopupBody.DesktopUI
{
	background: none !important;
	overflow: hidden !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="contextmenu_contextMenu_"]
{
	border-radius: var(--menu_radius) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="menu_MenuPopup_"]
{
	background: var(--popover_bg) !important;
	border: none !important;
	border-radius: var(--menu_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="menu_MenuItem_"]
{
	border-radius: var(--menu_radius) !important;
	color: var(--fg) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="menu_MenuItem_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--menu_radius) !important;
	color: var(--fg) !important;
}

body.ContextMenuPopupBody.DesktopUI hr[class*="menu_Separator_"]
{
	border-color: var(--bg) !important;
}

/* Notification Menu */
body.ContextMenuPopupBody.DesktopUI div[class*="titlebarcontrols_NotificationsMenu_"]
{
	padding-bottom: 10px !important;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05) !important;
}

body.ContextMenuPopupBody.DesktopUI button[class*="titlebarcontrols_AllNotificationsButton_"],
body.DesktopUI div[class*="standardtemplates_StandardTemplateDesktop_"],
body.ContextMenuPopupBody.DesktopUI div[class*="standardtemplates_PinnedTemplateDesktop_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	border: none !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	padding: var(--button_padding) !important;
	transition: var(--focus_transition) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="standardtemplates_PinnedBody_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="titlebarcontrols_EmptyNotificationsBody_"]
{
	color: var(--entry_subtitle_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--entry_subtitle_font_size) !important;
	font-weight: var(--entry_subtitle_font_weight) !important;
}

body.ContextMenuPopupBody.DesktopUI button[class*="titlebarcontrols_AllNotificationsButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

body.ContextMenuPopupBody.DesktopUI button[class*="titlebarcontrols_AllNotificationsButton_"]:active
{
	background: var(--button_active_bg) !important;
	border-radius: var(--button_radius) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="steamtemplates_NewIndicator_"]
{
	filter: none !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="steamtemplates_NewIndicator_"] svg
{
	color: var(--accent) !important;
}

/* --- Small Window Size --- */
@media (max-width: 1250px)
{
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_AccountMenu_"] > *:not([class*="steamavatar_avatarHolder_"])
	{
		display: none !important;
	}

	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_MenuButton_"],
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="rootmenu_RootMenuButton_"]
	{
		padding: 5px 5px !important;
	}

	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_RootMenuBar_"]
	{
		padding-left: 9px !important;
	}

	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(n+3):nth-child(-n+7) > div::before
	{
		display: none !important;
	}
}

