/* --------------- */
/* --- Top Bar --- */
/* --------------- */

/* --- Entire Top Bar --- */
#SteamDesktop div[class*="steamdesktop_TopBar_"]
{
	background: var(--headerbar_bg) !important;
	height: 44px !important;
}

/* Title Bar */
#SteamDesktop div[class*="steamdesktop_TitleBar_"]
{
	background: var(--headerbar_bg) !important;
}

/* Focus Bar */
#SteamDesktop div[class*="steamdesktop_FocusBar_"]
{
	background: none !important;
}

/* --- Left Side --- */
/* Menu Bar */
#SteamDesktop div[class*="steamdesktop_RootMenuBar_"]
{
	padding-top: 6px !important;
	gap: 0px !important;
	z-index: 1 !important;
}

/* Menu item */
#SteamDesktop div[class*="rootmenu_RootMenuButton_"]
{
	border-radius: var(--button_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	line-height: 24px !important;
	min-height: var(--button_min_height) !important;
	padding: var(--button_padding) !important;
	transition: var(--focus_transition) !important;
}

#SteamDesktop div[class*="rootmenu_RootMenuButton_"]:hover
{
	color: var(--fg) !important;
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop div[class*="rootmenu_SteamButton_"]
{
	padding-top: 0px !important;
}

/* Navigation */
#SteamDesktop div[class*="steamdesktop_SuperNavBar_"]
{
	-webkit-app-region: inherit;
	position: relative;
	top: -29px;
}

#SteamDesktop div[class*="supernav_SuperNav_"]
{
	justify-content: center !important;
}

#SteamDesktop div[class*="supernav_SuperNav_"] svg
{
	display: none
}

#SteamDesktop div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"]
{
	color: var(--fg) !important;
	margin-top: 10px !important;
}

#SteamDesktop div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"][class*="supernav_Disabled_"]
{
	color: var(--dim_label_fg) !important;
}

#SteamDesktop div[class*="supernav_MenuButton_"]
{
	border-radius: var(--button_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	line-height: 24px !important;
	min-height: var(--button_min_height) !important;
	min-width: var(--button_min_width) !important;
	padding: var(--button_padding) !important;
	transition: var(--focus_transition) !important;
	text-transform: capitalize !important;
	-webkit-app-region: no-drag;
}

#SteamDesktop div[class*="supernav_MenuButton_"]:hover
{
	color: var(--fg) !important;
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop div[class*="supernav_SuperNavMenu_"]
{
	padding: 0 3px 0 0 !important;
}

#SteamDesktop div[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"]:not([class*="supernav_Disabled_"]) div[class*="supernav_MenuButton_"]
{
	color: var(--fg) !important;
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
	padding: var(--button_padding) !important;
	text-shadow: none !important;
}

#SteamDesktop div[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"]:not([class*="supernav_Disabled_"]) div[class*="supernav_MenuButton_"]::after
{
	background: none !important;
	height: 0px !important;
}

/* Navigation Icon Hackery */
#SteamDesktop div[class*="supernav_SuperNav_"] > div:nth-child(n+3):nth-child(-n+7) > div::before
{
	background-color: var(--fg);
	content: "";
	padding: 10px;
	margin: 1px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

/* Store */
#SteamDesktop div[class*="supernav_SuperNav_"] > div:nth-child(3) > div::before
{
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg color='%23bebebe' fill='%23474747'%3E%3Cpath d='M12 1c1.662 0 3 1.338 3 3v6c0 1.662-1.338 3-3 3H4c-1.662 0-3-1.338-3-3V4c0-1.662 1.338-3 3-3zm0 2H4c-.554 0-1 .446-1 1v6c0 .554.446 1 1 1h8c.554 0 1-.446 1-1V4c0-.554-.446-1-1-1zM8 14c-5 0-5 1-5 1 0 1 1 1 1 1h8c1 0 1-1 1-1s0-1-5-1z' style='marker:none' overflow='visible'/%3E%3Cpath d='M4.5 5S4 5 4 5.5v4c0 .5.5.5.5.5h4c.5 0 .5-.5.5-.5v-4C9 5 8.563 5 8.5 5zM5 6.998h3v2H5zM10.5 4s-.5 0-.5.5v.984s0 .5.5.5l1 .001s.5 0 .5-.5v-.984s0-.5-.5-.5z' style='marker:none' overflow='visible'/%3E%3C/g%3E%3C/svg%3E");
}

/* Library */
#SteamDesktop div[class*="supernav_SuperNav_"] > div:nth-child(4) > div::before
{
	-webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg height='16px' viewBox='0 0 16 16' width='16px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 2 1 c -0.554688 0 -1 0.445312 -1 1 v 4 c 0 0.554688 0.445312 1 1 1 h 4 c 0.554688 0 1 -0.445312 1 -1 v -4 c 0 -0.554688 -0.445312 -1 -1 -1 z m 8 0 c -0.554688 0 -1 0.445312 -1 1 v 4 c 0 0.554688 0.445312 1 1 1 h 4 c 0.554688 0 1 -0.445312 1 -1 v -4 c 0 -0.554688 -0.445312 -1 -1 -1 z m -8 8 c -0.554688 0 -1 0.445312 -1 1 v 4 c 0 0.554688 0.445312 1 1 1 h 4 c 0.554688 0 1 -0.445312 1 -1 v -4 c 0 -0.554688 -0.445312 -1 -1 -1 z m 8 0 c -0.554688 0 -1 0.445312 -1 1 v 4 c 0 0.554688 0.445312 1 1 1 h 4 c 0.554688 0 1 -0.445312 1 -1 v -4 c 0 -0.554688 -0.445312 -1 -1 -1 z m 0 0' fill='currentColor'/%3E%3C/svg%3E");
}

/* Community */
#SteamDesktop div[class*="supernav_SuperNav_"] > div:nth-child(5) > div::before
{
	-webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg height='16px' viewBox='0 0 16 16' width='16px' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232e3436'%3E%3Cpath d='m 13.5 6.5 c 0 1.378906 -1.121094 2.5 -2.5 2.5 c -1.382812 0 -2.5 -1.121094 -2.5 -2.5 c 0 -1.382812 1.117188 -2.5 2.5 -2.5 c 1.378906 0 2.5 1.117188 2.5 2.5 z m 0 0'/%3E%3Cpath d='m 7.5 3.5 c 0 1.378906 -1.121094 2.5 -2.5 2.5 s -2.5 -1.121094 -2.5 -2.5 s 1.121094 -2.5 2.5 -2.5 s 2.5 1.121094 2.5 2.5 z m 0 0'/%3E%3Cpath d='m 3 7 c -1.660156 0 -3 1.339844 -3 3 v 2 c 0 0.554688 0.445312 1 1 1 h 4.074219 c 0 -2.042969 1.582031 -3.734375 3.582031 -3.90625 c -0.589844 -0.535156 -0.984375 -1.257812 -1.109375 -2.042969 c -0.175781 -0.03125 -0.359375 -0.050781 -0.546875 -0.050781 z m 6 3.925781 c -1.167969 0 -2.078125 0.90625 -2.078125 2.074219 h 2.078125 c 0.554688 0 1 -0.445312 1 -1 v -1.074219 z m 0 0'/%3E%3Cpath d='m 9 10 c -1.664062 0 -3 1.335938 -3 3 v 2 c 0 0.554688 0.445312 1 1 1 h 8 c 0.554688 0 1 -0.445312 1 -1 v -2 c 0 -1.664062 -1.339844 -3 -3 -3 z m 0 0'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/* Profile */
#SteamDesktop div[class*="supernav_SuperNav_"] > div:nth-child(6) > div::before
{
	-webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg height='16px' viewBox='0 0 16 16' width='16px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 8 1 c -1.65625 0 -3 1.34375 -3 3 s 1.34375 3 3 3 s 3 -1.34375 3 -3 s -1.34375 -3 -3 -3 z m -1.5 7 c -2.492188 0 -4.5 2.007812 -4.5 4.5 v 0.5 c 0 1.109375 0.890625 2 2 2 h 8 c 1.109375 0 2 -0.890625 2 -2 v -0.5 c 0 -2.492188 -2.007812 -4.5 -4.5 -4.5 z m 0 0' fill='%232e3436'/%3E%3C/svg%3E%0A");
}

/* Terminal */
#SteamDesktop div[class*="supernav_SuperNav_"] > div:nth-child(7) > div::before
{
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg color='%23bebebe' fill='%23474747'%3E%3Cpath d='M2.2 0C.993 0 0 1.007 0 2.209v10.582C0 13.993.994 15 2.2 15h11.6c1.206 0 2.2-1.007 2.2-2.209V2.209C16 1.007 15.006 0 13.8 0zm0 2h11.6c.124 0 .2.071.2.209v10.582c0 .138-.076.209-.2.209H2.2c-.124 0-.2-.071-.2-.209V2.209C2 2.071 2.076 2 2.2 2z' style='line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal;marker:none' font-weight='400' font-family='sans-serif' overflow='visible'/%3E%3Cpath d='M4.494 5.895a.6.6 0 00-.418 1.029L5.652 8.5l-1.576 1.576a.6.6 0 10.848.848l2-2a.6.6 0 000-.848l-2-2a.6.6 0 00-.43-.181z' style='line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal;marker:none' font-weight='400' font-family='sans-serif' overflow='visible'/%3E%3Cpath d='M8 10h3v1H8z' style='marker:none' overflow='visible'/%3E%3C/g%3E%3C/svg%3E");
}

/* --- Middle --- */
/* Drag */
#SteamDesktop div[class*="steamdesktop_DragArea_"]
{
	background: var(--headerbar_bg) !important;
}

/* Url Bar */
#SteamDesktop div[class*="steamdesktop_URLBarReplacement_"]
{
	background: var(--headerbar_bg) !important;
	height: 1px !important;
	min-height: 1px !important;
}

#SteamDesktop div[class*="steamdesktop_URLBar_"]
{
	background: var(--headerbar_bg) !important;
	display: flex !important;
	justify-content: center;
}

#SteamDesktop div[class*="steamdesktop_URL_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont);
	font-size: var(--title_4_size);
	font-weight: var(--title_4_weight);
}

#SteamDesktop div[class*="steamdesktop_ReloadButton_"],
#SteamDesktop div[class*="steamdesktop_URLBarText_"]
{
	border-radius: var(--button_radius) !important;
}

#SteamDesktop div[class*="steamdesktop_ReloadButton_"]:hover,
#SteamDesktop div[class*="steamdesktop_URLBarText_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop div[class*="steamdesktop_ReloadButton_"] svg,
#SteamDesktop div[class*="steamdesktop_LockIcon_"] svg
{
	color: var(--fg) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div[class*="steamdesktop_URLBarCopied_"]
{
	background: var(--toast_bg) !important;
	border-radius: var(--toast_border_radius) !important;
	color: var(--toast_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--basesize) !important;
	font-weight: var(--baseweight) !important;
	padding: var(--toast_padding) !important;
}


/* --- Right Side --- */
/* Profile, Notifications, etc */
#SteamDesktop div[class*="steamdesktop_TitleBarControls_"]
{
	background: var(--headerbar_bg) !important;
	margin-top: 11px !important;
	z-index: 1 !important;
}

/* Move Account Button to the last slot */
#SteamDesktop div[class*="steamdesktop_TitleBarControls_"] div.Focusable:nth-child(3)
{
	order: 99 !important;
}

#SteamDesktop div[class*="titlebarcontrols_AnnouncementsButton"][class*="titlebarcontrols_Active_"]
{
	background: var(--accent_bg) !important;
}

#SteamDesktop div[class*="titlebarcontrols_Button_"],
#SteamDesktop div[class*="titlebarcontrols_AccountMenu_"]
{
	-webkit-app-region: no-drag;
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	height: var(--button_min_height) !important;
	line-height: var(--button_min_height) !important;
	margin-right: 6px !important;
	min-height: var(--button_min_height) !important;
	padding: var(--button_padding) !important;
	transition: var(--focus_transition) !important;
}

#SteamDesktop div[class*="titlebarcontrols_NotificationButtonContainer_"]
{
	margin-right: 0px !important;
}

#SteamDesktop div[class*="titlebarcontrols_Button_"]:hover,
#SteamDesktop div[class*="titlebarcontrols_AccountMenu_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop div[class*="titlebarcontrols_NotificationsButton_"] svg
{
	color: var(--fg) !important;
}

#SteamDesktop div[class*="titlebarcontrols_GamepadUIToggle_"]
{
	width: 24px !important;
}

#SteamDesktop div[class*="titlebarcontrols_GamepadUIToggle_"] svg[class*="titlebarcontrols_Icon_"]
{
	position: revert !important;
}

/* Window Controls */
#SteamDesktop div[class*="steamdesktop_WindowControls_"]
{
	background: var(--headerbar_bg) !important;
}

/* --- Context Menu --- */
body.ContextMenuPopupBody.DesktopUI
{
	overflow: hidden !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="contextmenu_contextMenu_"]
{
	border-radius: var(--menu_radius) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="menu_MenuPopup_"]
{
	background: var(--popover_bg) !important;
	border: none !important;
	border-radius: var(--menu_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="menu_MenuItem_"]
{
	border-radius: var(--menu_radius) !important;
	color: var(--fg) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="menu_MenuItem_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--menu_radius) !important;
	color: var(--fg) !important;
}

/* --- Small Window Size --- */
@media (max-width: 1250px)
{
	#SteamDesktop div[class*="titlebarcontrols_AccountMenu_"] > *:not([class*="steamavatar_avatarHolder_"])
	{
		display: none !important;
	}

	#SteamDesktop div[class*="supernav_MenuButton_"],
	#SteamDesktop div[class*="rootmenu_RootMenuButton_"]
	{
		padding: 5px 5px !important;
	}

	#SteamDesktop div[class*="supernav_SuperNav_"] > div:nth-child(n+3):nth-child(-n+7) > div::before
	{
		display: none !important;
	}
}

