:root
{
	--adw-color-scheme: dark !important;

	--adw-accent-bg-light: var(--adw-system-accent, #3477ad) !important;
	--adw-accent-bg-dark: var(--adw-system-accent, #3477ad) !important;

	--adw-destructive-bg-light: #d19a66 !important;
	--adw-destructive-bg-dark: #d19a66 !important;
	--adw-destructive-fg: rgba(0, 0, 0, 0.8) !important;

	--adw-success-bg-light: #98c379 !important;
	--adw-success-bg-dark: #98c379 !important;
	--adw-success-fg: rgba(0, 0, 0, 0.8) !important;

	--adw-warning-bg-light: #e5c07b !important;
	--adw-warning-bg-dark: #e5c07b !important;
	--adw-warning-fg: rgba(0, 0, 0, 0.8) !important;

	--adw-error-bg-light: #be5046 !important;
	--adw-error-bg-dark: #be5046 !important;
	--adw-error-fg: #ffffff !important;

	--adw-window-bg: #282c34 !important;
	--adw-window-fg: #abb2bf !important;

	--adw-view-bg: #2d333b !important;
	--adw-view-fg: #abb2bf !important;

	--adw-headerbar-bg: #282c34 !important;
	--adw-headerbar-fg: #abb2bf !important;
	--adw-headerbar-backdrop: #282c34 !important;
	--adw-headerbar-shade: rgba(0, 0, 0, 0.36) !important;
	--adw-headerbar-darker-shade: rgba(0, 0, 0, 0.9) !important;

	--adw-sidebar-bg: #282c34 !important;
	--adw-sidebar-fg: #abb2bf !important;
	--adw-sidebar-backdrop: #282c34 !important;
	--adw-sidebar-shade: rgba(0, 0, 0, 0.36) !important;

	--adw-secondary-sidebar-bg: #282c34 !important;
	--adw-secondary-sidebar-fg: #abb2bf !important;
	--adw-secondary-sidebar-backdrop: #282c34 !important;
	--adw-secondary-sidebar-shade: rgba(0, 0, 0, 0.36) !important;

	--adw-card-bg: rgba(255, 255, 255, 0.08) !important;
	--adw-card-fg: #ffffff !important;
	--adw-card-shade: rgba(0, 0, 0, 0.36) !important;

	--adw-dialog-bg: #2d333b !important;
	--adw-dialog-fg: #abb2bf !important;

	--adw-popover-bg: #2d333b !important;
	--adw-popover-fg: #abb2bf !important;
	--adw-popover-shade: rgba(0, 0, 0, 0.36) !important;

	--adw-thumbnail-bg: #2d333b !important;
	--adw-thumbnail-fg: #abb2bf !important;

	--adw-shade: rgba(0, 0, 0, 0.36) !important;

	--adw-banner: #7d7d83 !important;
}