:root {
	/* ----------------------- */
	/* RGB Colors              */
	/* Format: R, G, B         */
	/* No Hex or rgb() allowed */
	/* ----------------------- */
	/* General */
	--bg_rgb: 40, 42, 54;
	--fg_rgb: 248, 248, 242;

	/* Accent Colors */
	--accent_rgb: 189, 147, 249;
	--accent_bg_rgb: 189, 147, 249;
	--destructive_rgb: 255, 85, 85;
	--destructive_bg_rgb: 255, 85, 85;
	--error_rgb: 255, 85, 85;
	--error_bg_rgb: 255, 85, 85;
	--success_rgb: 80, 250, 123;
	--success_bg_rgb: 80, 250, 123;
	--warning_rgb: 241, 250, 140;
	--warning_bg_rgb: 241, 250, 140;

	/* ----------------------- */
	/* Other Colors            */
	/* ----------------------- */
	/* Darker Backgrounds */
	--view_bg: rgb(40, 42, 54);

	/* Headerbar */
	--headerbar_backdrop: rgb(40, 42, 54);
	--headerbar_bg: rgb(40, 42, 54);

	/* App properties DLC/Worshop Header */
	--card_solid_bg: rgb(62, 64, 75);

	/* Popup Elements */
	--popover_bg: rgb(40, 42, 54);

	/* Accent FG */
	--success_fg: rgba(0, 0, 0, 0.8);
	--warning_fg: rgba(0, 0, 0, 0.8);
}
