:root
{
	/* The main accent color and the matching text value */
	--adw-accent-bg-rgb: 189, 147, 249;
	--adw-accent-fg-rgb: 248, 248, 242;
	--adw-accent-rgb: 189, 147, 249;

	/* destructive-action buttons */
	--adw-destructive-bg-rgb: 255, 85, 85;
	--adw-destructive-fg-rgb: 248, 248, 242;
	--adw-destructive-rgb: 255, 85, 85;

	/* Levelbars, entries, labels and infobars. These don't need text colors */
	--adw-success-bg-rgb: 80, 250, 123;
	--adw-success-fg-rgb: 0, 0, 0;
	--adw-success-rgb: 80, 250, 123;

	--adw-warning-bg-rgb: 241, 250, 140;
	--adw-warning-fg-rgb: 0, 0, 0;
	--adw-warning-fg-a: 0.8;
	--adw-warning-rgb: 241, 250, 140;

	--adw-error-bg-rgb: 255, 85, 85;
	--adw-error-fg-rgb: 248, 248, 242;
	--adw-error-rgb: 255, 85, 85;

	/* Window */
	--adw-window-bg-rgb: 40, 42, 54;
	--adw-window-fg-rgb: 248, 248, 242;

	/* Views - e.g. text view or tree view */
	--adw-view-bg-rgb: 40, 42, 54;
	--adw-view-fg-rgb: 248, 248, 242;

	/* Header bar, search bar, tab bar */
	--adw-headerbar-bg-rgb: 40, 42, 54;
	--adw-headerbar-fg-rgb: 248, 248, 242;
	--adw-headerbar-border-rgb: 255, 255, 255;
	--adw-headerbar-backdrop-rgb: 40, 42, 54;
	--adw-headerbar-shade-rgb: 0, 0, 0;
	--adw-headerbar-shade-a: 0.36;
	--adw-headerbar-darker-shade-rgb: 0, 0, 0;
	--adw-headerbar-darker-shade-a: 0.9;

	/* Split pane views */
	--adw-sidebar-bg-rgb: 40, 42, 54;
	--adw-sidebar-fg-rgb: 248, 248, 242;
	--adw-sidebar-backdrop-rgb: 40, 42, 54;
	--adw-sidebar-shade-rgb: 0, 0, 0;
	--adw-sidebar-shade-a: 0.36;

	--adw-secondary-sidebar-bg-rgb: 40, 42, 54;
	--adw-secondary-sidebar-fg-rgb: 248, 248, 242;
	--adw-secondary-sidebar-backdrop-rgb: 40, 42, 54;
	--adw-secondary-sidebar-shade-rgb: 0, 0, 0;
	--adw-secondary-sidebar-shade-a: 0.36;

	/* Cards, boxed lists */
	--adw-card-bg-rgb: 255, 255, 255;
	--adw-card-bg-a: 0.08;
	--adw-card-fg-rgb: 255, 255, 255;
	--adw-card-shade-rgb: 0, 0, 0;
	--adw-card-shade-a: 0.36;

	/* Dialogs */
	--adw-dialog-bg-rgb: 40, 42, 54;
	--adw-dialog-fg-rgb: 248, 248, 242;

	/* Popovers */
	--adw-popover-bg-rgb: 40, 42, 54;
	--adw-popover-fg-rgb: 248, 248, 242;

	/* Thumbnails */
	--adw-thumbnail-bg-rgb: 40, 42, 54;
	--adw-popover-fg-rgb: 248, 248, 242;

	/* Miscellaneous */
	--adw-shade-rgb: 0, 0, 0;
	--adw-shade-a: 0.36;

}
