:root {
	--bg: #282A36FF;
	--fg: #F8F8F2FF;
	--border: #FFFFFF26;
	--window_bg: #282A36FF;
	--window_fg: #F8F8F2FF;
	--headerbar_backdrop: #282A36FF;
	--headerbar_bg: #282A36FF;
	--headerbar_fg: #F8F8F2FF;
	--headerbar_shade: #00000061;
	--popover_bg: #282A36FF;
	--popover_fg: #F8F8F2FF;
	--toast_bg: #000000CC;
	--toast_fg: #F8F8F2FF;
	--view_bg: #282A36FF;
	--view_fg: #F8F8F2FF;
	--accent: #BD93F9FF;
	--accent_bg: #BD93F9FF;
	--accent_fg: #F8F8F2FF;
	--accent_disabled: #BD93F980;
	--accent_hover_bg: #BD93F912;
	--accent_active_bg: #BD93F929;
	--destructive: #FF5555FF;
	--destructive_bg: #FF5555FF;
	--destructive_fg: #F8F8F2FF;
	--destructive_disabled: #FF555580;
	--destructive_hover_bg: #FF555512;
	--destructive_active_bg: #FF555529;
	--error: #FF5555FF;
	--error_bg: #FF5555FF;
	--error_fg: #F8F8F2FF;
	--success: #50FA7BFF;
	--success_bg: #50FA7BFF;
	--success_fg: #000000CC;
	--warning: #F1FA8CFF;
	--warning_bg: #F1FA8CFF;
	--warning_fg: #000000CC;
	--button_fg: #F8F8F2FF;
	--dim_label_fg: #F8F8F28C;
	--card_solid_bg: #3E404BFF;
	--focusring: #BD93F980;
	--scrollbar: #FFFFFF33;
	--scrollbar_hover: #FFFFFF66;
	--scrollbar_active: #FFFFFF99;
}
