@font-face
{
	font-family: "Cantarell-VF";
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: "Regular";
	src: url("https://steamloopback.host/adwaita/fonts/cantarell/cantarell-vf.otf") format("opentype");
}

:root
{
	--basefont: "Cantarell-VF", "Cantarell", "Noto Sans", "Motiva Sans", Arial, Helvetica, sans-serif;
	--basesize: 15px;
	--baseweight: normal;

	--large_title_size: 24px;
	--large_title_weight: 300;

	--title_1_size: 20px;
	--title_1_weight: 800;

	--title_2_size: 15px;
	--title_2_weight: 800;

	--title_3_size: 14px;
	--title_3_weight: bold;

	--title_4_size: 13px;
	--title_4_weight: bold;

	--header_size: var(--title_3_size);
	--header_weight: var(--title_3_weight);

	--label_size: var(--basesize);
	--label_weight: normal;

	--link_size: var(--title_3_size);
	--link_weight: var(--title_3_weight);

	--subtitle_size: smaller;
	--subtitle_weight: normal;
}
