/* Remove Rounded Corners */
:root
{
	--adw-button-radius: 0 !important;
	--adw-button-pill-radius: 0 !important;
	--adw-card-radius: 0 !important;
	--adw-dialog-radius: 0 !important;
	--adw-alert-dialog-radius: 0 !important;
	--adw-alert-dialog-button-radius: 0 !important;
	--adw-entry-radius: 0 !important;
	--adw-entry-small-radius: 0 !important;
	--adw-gameicon-radius: 0 !important;
	--adw-menu-radius: 0 !important;
	--adw-menu-item-radius: 0 !important;
}
