/* ------------------------------- */
/* --- Remove Rounded Corners  --- */
/* ------------------------------- */
:root
{
	--adw-button-pill-radius: 1px;
	--adw-button-radius: 1px;
	--card_radius: 1px;
	--adw-checkbox-radius: 1px;
	--adw-entry-radius: 1px;
	--icon_small_radius: 1px;
	--menu_radius: 1px;
	--popover_radius: 1px;
	--window_radius: 1px;
}
