/* Remove Rounded Corners */
:root
{
	--adw-button-radius: 0;
	--adw-button-pill-radius: 0;
	--adw-card-radius: 0;
	--adw-entry-radius: 0;
	--adw-entry-small-radius: 0;
	--adw-gameicon-radius: 0;
	--adw-menu-radius: 0;
	--adw-menu-item-radius: 0;
}
