:root {
	--bg: #4D5845FF;
	--fg: #FFFFFFFF;
	--border: #FFFFFF26;
	--window_bg: #4D5845FF;
	--window_bg_transparent: #24242400;
	--window_fg: #FFFFFFFF;
	--headerbar_backdrop: #4D5845FF;
	--headerbar_bg: #4D5845FF;
	--headerbar_fg: #FFFFFFFF;
	--headerbar_shade: #687161FF;
	--popover_bg: #4D5845FF;
	--popover_fg: #FFFFFFFF;
	--toast_bg: #000000B3;
	--toast_fg: #FFFFFFFF;
	--view_bg: #3F4638FF;
	--view_fg: #FFFFFFFF;
	--accent: #958831FF;
	--accent_bg: #958831FF;
	--accent_fg: #FFFFFFFF;
	--accent_disabled: #78AEED80;
	--accent_hover_bg: #78AEED12;
	--accent_active_bg: #78AEED29;
	--destructive: #FF7B63FF;
	--destructive_bg: #C01C28FF;
	--destructive_fg: #FFFFFFFF;
	--destructive_disabled: #FF7B6380;
	--destructive_hover_bg: #FF7B6312;
	--destructive_active_bg: #FF7B6329;
	--error: #FF7B63FF;
	--error_bg: #C01C28FF;
	--error_fg: #FFFFFFFF;
	--success: #8FF0A4FF;
	--success_bg: #26A269FF;
	--success_fg: #FFFFFFFF;
	--warning: #F8E45CFF;
	--warning_bg: #CD9309FF;
	--warning_fg: #FFFFFFFF;
	--button_fg: #FFFFFFFF;
	--dim_label_fg: #FFFFFF8C;
	--card_solid_bg: #3A3A3AFF;
	--focusring: #78AEED80;
	--scrollbar: #FFFFFF33;
	--scrollbar_hover: #FFFFFF66;
	--scrollbar_active: #FFFFFF99;
}
