:root
{
	--adw-color-scheme: dark;

	--adw-accent-bg-light: var(--adw-system-accent, #958831);
	--adw-accent-bg-dark: var(--adw-system-accent, #958831);

	--adw-destructive-bg-light: #c01c28;
	--adw-destructive-bg-dark: #c01c28;
	--adw-destructive-fg: #ffffff;

	--adw-success-bg-light: #26a269;
	--adw-success-bg-dark: #26a269;
	--adw-success-fg: #ffffff;

	--adw-warning-bg-light: #cd9309;
	--adw-warning-bg-dark: #cd9309;
	--adw-warning-fg: rgba(0, 0, 0, 0.8);

	--adw-error-bg-light: #c01c28;
	--adw-error-bg-dark: #c01c28;
	--adw-error-fg: #ffffff;

	--adw-window-bg: #4d5845;
	--adw-window-fg: #ffffff;

	--adw-view-bg: #3f4638;
	--adw-view-fg: #ffffff;

	--adw-headerbar-bg: #4d5845;
	--adw-headerbar-fg: #ffffff;
	--adw-headerbar-backdrop: #4d5845;
	--adw-headerbar-shade: rgba(104, 113, 97, 0.36);
	--adw-headerbar-darker-shade: rgba(104, 113, 97, 0.9);

	--adw-sidebar-bg: #4d5845;
	--adw-sidebar-fg: #ffffff;
	--adw-sidebar-backdrop: #4d5845;
	--adw-sidebar-shade: rgba(104, 113, 97, 0.36);

	--adw-secondary-sidebar-bg: #4d5845;
	--adw-secondary-sidebar-fg: #ffffff;
	--adw-secondary-sidebar-backdrop: #4d5845;
	--adw-secondary-sidebar-shade: rgba(104, 113, 97, 0.36);

	--adw-card-bg: rgba(255, 255, 255, 0.08);
	--adw-card-fg: #ffffff;
	--adw-card-shade: rgba(0, 0, 0, 0.36);

	--adw-dialog-bg: #4d5845;
	--adw-dialog-fg: #ffffff;

	--adw-popover-bg: #4d5845;
	--adw-popover-fg: #ffffff;
	--adw-popover-shade: rgba(0, 0, 0, 0.36);

	--adw-thumbnail-bg: #4d5845;
	--adw-thumbnail-fg: #ffffff;

	--adw-shade: rgba(0, 0, 0, 0.36);

	--adw-banner: #7d7d83;
}