/* ---------------------------------------------- */
/* --- Mac Style Colored Dot Window Controls  --- */
/* ---------------------------------------------- */
/* Hover Only Icons */
.title-bar-actions .title-area-icon.minimizeButton svg,
.title-bar-actions .title-area-icon.maximizeButton svg,
.title-bar-actions .title-area-icon.restoreButton svg,
.title-bar-actions .title-area-icon.closeButton svg
{
	display: none !important;
	height: 10px !important;
	width: 10px !important;
}

.title-bar-actions .title-area-icon.minimizeButton:hover svg,
.title-bar-actions .title-area-icon.maximizeButton:hover svg,
.title-bar-actions .title-area-icon.restoreButton:hover svg,
.title-bar-actions .title-area-icon.closeButton:hover svg
{
	display: block !important;
	height: 10px !important;
	width: 10px !important;
}

/* Dot Colors */
.title-bar-actions .title-area-icon.closeButton
{
	background: var(--error) !important;
	height: 14px !important;
	width: 14px !important;
	cursor: pointer !important;
}

.title-bar-actions .title-area-icon.maximizeButton,
.title-bar-actions .title-area-icon.restoreButton
{
	background: var(--success) !important;
	height: 14px !important;
	width: 14px !important;
	cursor: pointer !important;
}

.title-bar-actions .title-area-icon.minimizeButton
{
	background: var(--warning) !important;
	height: 14px !important;
	width: 14px !important;
	cursor: pointer !important;
}

/* Shifting Icons */
.title-bar-actions .title-area-icon.maximizeButton svg
{
	margin-left: 1px !important;
}

.title-bar-actions .title-area-icon.maximizeButton svg rect
{
	stroke-width: 40px !important;
}

.title-bar-actions.window-controls .title-area-icon svg > *
{
	stroke: var(--headerbar_bg) !important;
	stroke-width: 32px !important;
}
