/* ------------------------------------- */
/* --- Left Aligned Window Controls  --- */
/* ------------------------------------- */
.title-bar-actions.window-controls
{
	flex-direction: row !important;
	order: -99 !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_WindowControls_"]
{
	order: -1 !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"]:first-child
{
	margin-left: 50px !important;
}

/* App Properties Titles */
.ModalDialogPopup div[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] > div[class*="pagedsettings_PagedSettingsDialog_Title_"]
{
	padding-left: 50px !important;
	padding-right: 50px !important;
}

/* Friendslist */
.currentUserContainer .AvatarAndUser
{
	padding-left: 50px !important;
}

.multiChatDialog .title-bar-actions.window-controls {
	position: fixed !important;
	left: 0px !important;
	right: auto !important;
}

/* Overlay */
.ModalDialogPopup:not([class*="steamdesktopoverlay_NoTitlebarSpacer_"]) div[class*="steamdesktopoverlay_OverlayPopup_"] div[class*="steamdesktopoverlay_WindowControls_"]
{
	height: 48px !important;
}

.ModalDialogPopup div[class*="steamdesktopoverlay_OverlayPopup_"] div[class*="steamdesktopoverlay_WindowControls_"] .title-bar-actions.window-controls
{
	margin-right: 0px !important;
}

.ModalDialogPopup div[class*="steamdesktopoverlay_OverlayPopup_"] div[class*="steamdesktopoverlay_WindowControls_"] .title-bar-actions.extra-actions
{
	margin-right: 12px !important;
}

.ModalDialogPopup:not([class*="steamdesktopoverlay_NoTitlebarSpacer_"]) div[class*="steamdesktopoverlay_OverlayPopup_"] div[class*="steamdesktopoverlay_WindowControls_"] .title-bar-actions.extra-actions
{
	order: -98 !important;
}

.ModalDialogPopup[class*="steamdesktopoverlay_NoTitlebarSpacer_"] div[class*="pagedsettings_Hidden_"] + .DialogContentTransition div[class*="pagedsettings_HidePageListButton_"]
{
	margin-left: 30px !important;
}
