/* ------------------------------------- */
/* --- Left Aligned Window Controls  --- */
/* ------------------------------------- */
.title-bar-actions.window-controls
{
	flex-direction: row !important;
	order: -99 !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_WindowControls_"]
{
	flex-basis: 114px !important;
	margin-left: 12px !important;
	order: -1 !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"]:first-child
{
	margin-left: 125px !important;
}

/* App Properties Titles */
.ModalDialogPopup div[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] > div[class*="pagedsettings_PagedSettingsDialog_Title_"]
{
	padding-left: 50px !important;
	padding-right: 50px !important;
}

/* Friendslist */
.currentUserContainer .AvatarAndUser
{
	padding-left: 125px !important;
}

.multiChatDialog .title-bar-actions.window-controls {
	position: fixed !important;
	left: 0px !important;
	right: auto !important;
}

/* Overlay */
.ModalDialogPopup:not([class*="steamdesktopoverlay_NoTitlebarSpacer_"]) div[class*="steamdesktopoverlay_OverlayPopup_"] div[class*="steamdesktopoverlay_WindowControls_"]
{
	height: 48px !important;
}

.ModalDialogPopup div[class*="steamdesktopoverlay_OverlayPopup_"] div[class*="steamdesktopoverlay_WindowControls_"] .title-bar-actions.window-controls
{
	margin-right: 0px !important;
}

.ModalDialogPopup div[class*="steamdesktopoverlay_OverlayPopup_"] div[class*="steamdesktopoverlay_WindowControls_"] .title-bar-actions.extra-actions
{
	margin-right: 12px !important;
}

.ModalDialogPopup:not([class*="steamdesktopoverlay_NoTitlebarSpacer_"]) div[class*="steamdesktopoverlay_OverlayPopup_"] div[class*="steamdesktopoverlay_WindowControls_"] .title-bar-actions.extra-actions
{
	order: -98 !important;
}

.ModalDialogPopup[class*="steamdesktopoverlay_NoTitlebarSpacer_"] div[class*="pagedsettings_Hidden_"] + .DialogContentTransition div[class*="pagedsettings_HidePageListButton_"]
{
	margin-left: 30px !important;
}

/* ------------------------------------------ */
/* --- Show Minimize and Maximize Button  --- */
/* ------------------------------------------ */
.title-bar-actions .title-area-icon.minimizeButton,
.title-bar-actions .title-area-icon.maximizeButton,
.title-bar-actions .title-area-icon.restoreButton
{
	display: block !important;
}

.title-bar-actions .title-area-icon.maximizeButton,
.title-bar-actions .title-area-icon.restoreButton
{
	order: 3 !important;
}


/* --- Small Window Size --- */
@media (max-width: 1350px)
{
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="titlebarcontrols_AccountMenu_"] > *:not([class*="steamavatar_avatarHolder_"])
	{
		display: none !important;
	}

	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_MenuButton_"],
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="rootmenu_RootMenuButton_"]
	{
		padding: 5px 3px !important;
	}

	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(3) > div::before,
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(4) > div::before,
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(5) > div::before,
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(6) > div::before,
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div:nth-child(7) > div::before
	{
		display: none !important;
	}
}

