:root {
	/* ----------------------- */
	/* RGB Colors              */
	/* Format: R, G, B         */
	/* No Hex or rgb() allowed */
	/* ----------------------- */
	/* General */
	--bg_rgb: 26, 26, 26;
	--fg_rgb: 255, 255, 255;

	/* Accent Colors */
	--accent_rgb: 0, 115, 198;
	--accent_bg_rgb: 0, 115, 198;
	--destructive_rgb: 241, 112, 121;
	--destructive_bg_rgb: 232, 18, 36;
	--error_rgb: 241, 112, 121;
	--error_bg_rgb: 232, 18, 36;
	--success_rgb: 130, 186, 0;
	--success_bg_rgb: 130, 186, 0;
	--warning_rgb: 255, 255, 99;
	--warning_bg_rgb: 255, 246, 63;

	/* ----------------------- */
	/* Other Colors            */
	/* ----------------------- */
	/* Darker Backgrounds */
	--view_bg: rgb(30, 30, 30);

	/* Headerbar */
	--headerbar_backdrop: rgb(26, 26, 26);
	--headerbar_bg: rgb(20, 20, 20);

	/* App properties DLC/Worshop Header */
	--card_solid_bg: rgb(38, 38, 38);

	/* Popup Elements */
	--popover_bg: rgb(38, 38, 38);
}
