:root
{
	/* The main accent color and the matching text value */
	--adw-accent-bg-rgb: 0, 115, 198;
	--adw-accent-fg-rgb: 255, 255, 255;
	--adw-accent-rgb: 0, 115, 198;

	/* destructive-action buttons */
	--adw-destructive-bg-rgb: 232, 18, 36;
	--adw-destructive-fg-rgb: 255, 255, 255;
	--adw-destructive-rgb: 241, 112, 121;

	/* Levelbars, entries, labels and infobars. These don't need text colors */
	--adw-success-bg-rgb: 130, 186, 0;
	--adw-success-fg-rgb: 255, 255, 255;
	--adw-success-rgb: 130, 186, 0;

	--adw-warning-bg-rgb: 255, 246, 63;
	--adw-warning-fg-rgb: 255, 255, 255;
	--adw-warning-fg-a: 0.8;
	--adw-warning-rgb: 255, 255, 99;

	--adw-error-bg-rgb: 232, 18, 36;
	--adw-error-fg-rgb: 255, 255, 255;
	--adw-error-rgb: 241, 112, 121;

	/* Window */
	--adw-window-bg-rgb: 26, 26, 26;
	--adw-window-fg-rgb: 255, 255, 255;

	/* Views - e.g. text view or tree view */
	--adw-view-bg-rgb: 30, 30, 30;
	--adw-view-fg-rgb: 255, 255, 255;

	/* Header bar, search bar, tab bar */
	--adw-headerbar-bg-rgb: 20, 20, 20;
	--adw-headerbar-fg-rgb: 255, 255, 255;
	--adw-headerbar-border-rgb: 255, 255, 255;
	--adw-headerbar-backdrop-rgb: 26, 26, 26;
	--adw-headerbar-shade-rgb: 0, 0, 0;
	--adw-headerbar-shade-a: 0.36;
	--adw-headerbar-darker-shade-rgb: 0, 0, 0;
	--adw-headerbar-darker-shade-a: 0.9;

	/* Split pane views */
	--adw-sidebar-bg-rgb: 20, 20, 20;
	--adw-sidebar-fg-rgb: 255, 255, 255;
	--adw-sidebar-backdrop-rgb: 26, 26, 26;
	--adw-sidebar-shade-rgb: 0, 0, 0;
	--adw-sidebar-shade-a: 0.36;

	--adw-secondary-sidebar-bg-rgb: 20, 20, 20;
	--adw-secondary-sidebar-fg-rgb: 255, 255, 255;
	--adw-secondary-sidebar-backdrop-rgb: 26, 26, 26;
	--adw-secondary-sidebar-shade-rgb: 0, 0, 0;
	--adw-secondary-sidebar-shade-a: 0.36;

	/* Cards, boxed lists */
	--adw-card-bg-rgb: 255, 255, 255;
	--adw-card-bg-a: 0.08;
	--adw-card-fg-rgb: 255, 255, 255;
	--adw-card-shade-rgb: 0, 0, 0;
	--adw-card-shade-a: 0.36;

	/* Dialogs */
	--adw-dialog-bg-rgb: 38, 38, 38;
	--adw-dialog-fg-rgb: 255, 255, 255;

	/* Popovers */
	--adw-popover-bg-rgb: 38, 38, 38;
	--adw-popover-fg-rgb: 255, 255, 255;

	/* Thumbnails */
	--adw-thumbnail-bg-rgb: 38, 38, 38;
	--adw-popover-fg-rgb: 255, 255, 255;

	/* Miscellaneous */
	--adw-shade-rgb: 0, 0, 0;
	--adw-shade-a: 0.36;
}
