:root {
	--bg: #1A1A1AFF;
	--fg: #FFFFFFFF;
	--border: #FFFFFF26;
	--window_bg: #1A1A1AFF;
	--window_fg: #FFFFFFFF;
	--headerbar_backdrop: #1A1A1AFF;
	--headerbar_bg: #141414FF;
	--headerbar_fg: #FFFFFFFF;
	--headerbar_shade: #00000061;
	--popover_bg: #262626FF;
	--popover_fg: #FFFFFFFF;
	--toast_bg: #000000B3;
	--toast_fg: #FFFFFFFF;
	--view_bg: #1E1E1EFF;
	--view_fg: #FFFFFFFF;
	--accent: #0073C6FF;
	--accent_bg: #0073C6FF;
	--accent_fg: #FFFFFFFF;
	--accent_disabled: #0073C680;
	--accent_hover_bg: #0073C612;
	--accent_active_bg: #0073C629;
	--destructive: #F17079FF;
	--destructive_bg: #E81224FF;
	--destructive_fg: #FFFFFFFF;
	--destructive_disabled: #F1707980;
	--destructive_hover_bg: #F1707912;
	--destructive_active_bg: #F1707929;
	--error: #F17079FF;
	--error_bg: #E81224FF;
	--error_fg: #FFFFFFFF;
	--success: #82BA00FF;
	--success_bg: #82BA00FF;
	--success_fg: #FFFFFFFF;
	--warning: #FFFF63FF;
	--warning_bg: #FFF63FFF;
	--warning_fg: #FFFFFFFF;
	--button_bg: #FFFFFF0D;
	--button_fg: #FFFFFFFF;
	--dim_label_fg: #FFFFFF8C;
	--card_bg: #FFFFFF0D;
	--card_solid_bg: #262626FF;
	--focusring: #0073C6FF;
	--scrollbar: #FFFFFF33;
	--scrollbar_hover: #FFFFFF66;
	--scrollbar_active: #FFFFFF99;
}
