:root {
	--bg: #303030FF;
	--fg: #FFFFFFFF;
	--border: #FFFFFF26;
	--window_bg: #303030FF;
	--window_fg: #FFFFFFFF;
	--headerbar_backdrop: #303030FF;
	--headerbar_bg: #363636FF;
	--headerbar_fg: #FFFFFFFF;
	--headerbar_shade: #00000061;
	--popover_bg: #383838FF;
	--popover_fg: #FFFFFFFF;
	--toast_bg: #000000B3;
	--toast_fg: #FFFFFFFF;
	--view_bg: #2B2B2BFF;
	--view_fg: #FFFFFFFF;
	--accent: #94EBEBFF;
	--accent_bg: #94EBEBFF;
	--accent_fg: #000000FF;
	--accent_disabled: #94EBEB80;
	--accent_hover_bg: #94EBEB12;
	--accent_active_bg: #94EBEB29;
	--destructive: #EA9090FF;
	--destructive_bg: #E56A54FF;
	--destructive_fg: #FFFFFFFF;
	--destructive_disabled: #EA909080;
	--destructive_hover_bg: #EA909012;
	--destructive_active_bg: #EA909029;
	--error: #FFB5B5FF;
	--error_bg: #E56A54FF;
	--error_fg: #FFFFFFFF;
	--success: #ACF7D2FF;
	--success_bg: #82BF8CFF;
	--success_fg: #FFFFFFFF;
	--warning: #FFF19EFF;
	--warning_bg: #FEDB40FF;
	--warning_fg: #FFFFFFFF;
	--button_fg: #FFFFFFFF;
	--dim_label_fg: #FFFFFF8C;
	--card_solid_bg: #454545FF;
	--focusring: #94EBEB80;
	--scrollbar: #94EBEB33;
	--scrollbar_hover: #94EBEB66;
	--scrollbar_active: #94EBEB99;
}
