:root
{
	/* The main accent color and the matching text value */
	--adw-accent-bg-rgb: 148, 235, 235;
	--adw-accent-fg-rgb: 0, 0, 0;
	--adw-accent-rgb: 148, 235, 235;

	/* destructive-action buttons */
	--adw-destructive-bg-rgb: 229, 106, 84;
	--adw-destructive-fg-rgb: 255, 255, 255;
	--adw-destructive-rgb: 234, 144, 144;

	/* Levelbars, entries, labels and infobars. These don't need text colors */
	--adw-success-bg-rgb: 130, 191, 140;
	--adw-success-fg-rgb: 255, 255, 255;
	--adw-success-rgb: 172, 247, 210;

	--adw-warning-bg-rgb: 254, 219, 64;
	--adw-warning-fg-rgb: 255, 255, 255;
	--adw-warning-fg-a: 0.8;
	--adw-warning-rgb: 255, 241, 158;

	--adw-error-bg-rgb: 229, 106, 84;
	--adw-error-fg-rgb: 255, 255, 255;
	--adw-error-rgb: 255, 181, 181;

	/* Window */
	--adw-window-bg-rgb: 48, 48, 48;
	--adw-window-fg-rgb: 255, 255, 255;

	/* Views - e.g. text view or tree view */
	--adw-view-bg-rgb: 43, 43, 43;
	--adw-view-fg-rgb: 255, 255, 255;

	/* Header bar, search bar, tab bar */
	--adw-headerbar-bg-rgb: 54, 54, 54;
	--adw-headerbar-fg-rgb: 255, 255, 255;
	--adw-headerbar-border-rgb: 255, 255, 255;
	--adw-headerbar-backdrop-rgb: 48, 48, 48;
	--adw-headerbar-shade-rgb: 0, 0, 0;
	--adw-headerbar-shade-a: 0.36;
	--adw-headerbar-darker-shade-rgb: 0, 0, 0;
	--adw-headerbar-darker-shade-a: 0.9;

	/* Split pane views */
	--adw-sidebar-bg-rgb: 54, 54, 54;
	--adw-sidebar-fg-rgb: 255, 255, 255;
	--adw-sidebar-backdrop-rgb: 48, 48, 48;
	--adw-sidebar-shade-rgb: 0, 0, 0;
	--adw-sidebar-shade-a: 0.36;

	--adw-secondary-sidebar-bg-rgb: 54, 54, 54;
	--adw-secondary-sidebar-fg-rgb: 255, 255, 255;
	--adw-secondary-sidebar-backdrop-rgb: 48, 48, 48;
	--adw-secondary-sidebar-shade-rgb: 0, 0, 0;
	--adw-secondary-sidebar-shade-a: 0.36;

	/* Cards, boxed lists */
	--adw-card-bg-rgb: 255, 255, 255;
	--adw-card-bg-a: 0.08;
	--adw-card-fg-rgb: 255, 255, 255;
	--adw-card-shade-rgb: 0, 0, 0;
	--adw-card-shade-a: 0.36;

	/* Dialogs */
	--adw-dialog-bg-rgb: 56, 56, 56;
	--adw-dialog-fg-rgb: 255, 255, 255;

	/* Popovers */
	--adw-popover-bg-rgb: 56, 56, 56;
	--adw-popover-fg-rgb: 255, 255, 255;

	/* Thumbnails */
	--adw-thumbnail-bg-rgb: 56, 56, 56;
	--adw-popover-fg-rgb: 255, 255, 255;

	/* Miscellaneous */
	--adw-shade-rgb: 0, 0, 0;
	--adw-shade-a: 0.36;

}
