:root {
	/* ----------------------- */
	/* RGB Colors              */
	/* Format: R, G, B         */
	/* No Hex or rgb() allowed */
	/* ----------------------- */
	/* General */
	--bg_rgb: 40, 42, 46;
	--fg_rgb: 197, 200, 198;

	/* Accent Colors */
	--accent_rgb: 129, 162, 190;
	--accent_bg_rgb: 129, 162, 190;
	--destructive_rgb: 204, 102, 102;
	--destructive_bg_rgb: 204, 102, 102;
	--error_rgb: 204, 102, 102;
	--error_bg_rgb: 204, 102, 102;
	--success_rgb: 82, 193, 150;
	--success_bg_rgb: 82, 193, 150;
	--warning_rgb: 240, 198, 116;
	--warning_bg_rgb: 240, 198, 116;

	/* ----------------------- */
	/* Other Colors            */
	/* ----------------------- */
	/* Darker Backgrounds */
	--view_bg: rgb(29, 31, 33);

	/* Headerbar */
	--headerbar_backdrop: rgb(29, 31, 33);
	--headerbar_bg: rgb(40, 42, 46);

	/* App properties DLC/Worshop Header */
	--card_solid_bg: rgb(62, 64, 67);

	/* Popup Elements */
	--popover_bg: rgb(55, 59, 65);
	--toast_bg: rgba(55, 59, 65, 0.7);

	/* Accent FG */
	--accent_fg: rgb(255, 255, 255);
	--success_fg: rgb(255, 255, 255);

	/* Border */
	--border: rgb(55, 59, 65);
}
