:root {
	--bg: #282A2EFF;
	--fg: #C5C8C6FF;
	--border: #373B41FF;
	--window_bg: #282A2EFF;
	--window_fg: #C5C8C6FF;
	--headerbar_backdrop: #1D1F21FF;
	--headerbar_bg: #282A2EFF;
	--headerbar_fg: #C5C8C6FF;
	--headerbar_shade: #00000061;
	--popover_bg: #373B41FF;
	--popover_fg: #C5C8C6FF;
	--toast_bg: #373B41B3;
	--toast_fg: #C5C8C6FF;
	--view_bg: #1D1F21FF;
	--view_fg: #C5C8C6FF;
	--accent: #81A2BEFF;
	--accent_bg: #81A2BEFF;
	--accent_fg: #FFFFFFFF;
	--accent_disabled: #81A2BE80;
	--accent_hover_bg: #81A2BE12;
	--accent_active_bg: #81A2BE29;
	--destructive: #CC6666FF;
	--destructive_bg: #CC6666FF;
	--destructive_fg: #C5C8C6FF;
	--destructive_disabled: #CC666680;
	--destructive_hover_bg: #CC666612;
	--destructive_active_bg: #CC666629;
	--error: #CC6666FF;
	--error_bg: #CC6666FF;
	--error_fg: #C5C8C6FF;
	--success: #52C196FF;
	--success_bg: #52C196FF;
	--success_fg: #FFFFFFFF;
	--warning: #F0C674FF;
	--warning_bg: #F0C674FF;
	--warning_fg: #C5C8C6FF;
	--button_fg: #C5C8C6FF;
	--dim_label_fg: #C5C8C68C;
	--card_solid_bg: #3E4043FF;
	--focusring: #81A2BE80;
	--scrollbar: #FFFFFF33;
	--scrollbar_hover: #FFFFFF66;
	--scrollbar_active: #FFFFFF99;
}
