/* Pop Up Update */
body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="apppartnereventspage_PartnerEvent_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div.lwprNSgEnKfVSHIzsgbFi
{
	background: rgb(var(--adw-popover-bg-rgb)) !important;
	border-radius: var(--adw-menu-radius) !important;
	border: 1px rgba(var(--adw-popover-fg-rgb), var(--adw-window-outline-opacity)) solid !important;
	box-shadow: var(--adw-popover-shadow) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] img[class*="partnereventdisplay_EventBackgroundBlur_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 img.eti5Ei5_72tAUqiU4F4n0
{
	display: none !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] span[class*="apppartnereventspage_EventType_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 span._30JUMWVZpKjo5yyNMLHj2N,
body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="discussionwidget_VoteCount_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._2dVe4z8QrljeVvM0UzTTJ2,
body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="discussionwidget_DiscussionCount_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._1GFRKatJ8pNhUDi-MwuD9D
{
	color: rgb(var(--adw-accent-rgb)) !important;
	font-family: var(--adw-text-font) !important;
	font-weight: var(--adw-text-title4-weight) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="partnereventdisplay_EventDetailTimeInfo_"] div[class*="localdateandtime_ShortDateAndTime_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._3Z41scsgrV6EdJXVhl8W7C div._4K3Bl-RZYjH0IHfPO10FC,
body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="partnereventdisplay_EventDetailTimeInfo_"] div[class*="localdateandtime_RightSideTitles_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._3Z41scsgrV6EdJXVhl8W7C div._3sPONDb9e2ctNJ23X97Rxx
{
	color: rgba(var(--adw-window-fg-rgb), var(--adw-dim-label-opacity)) !important;
	font-family: var(--adw-text-font) !important;
	font-weight: var(--adw-text-base-weight) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] a[class*="partnereventdisplay_EventDetailTitle_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 a._2_4FSGPXLE1aq-PPHE-EJE
{
	color: rgb(var(--adw-window-fg-rgb)) !important;
	font-family: var(--adw-text-font) !important;
	font-size: var(--adw-text-title1-size) !important;
	font-weight: var(--adw-text-title1-weight) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="partnereventdisplay_EventDetailsSubTitle_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._6k4NEtv7cc7Vrny4-o2D2
{
	color: rgb(var(--adw-window-fg-rgb)) !important;
	font-family: var(--adw-text-font) !important;
	font-size: var(--adw-text-title3-size) !important;
	font-weight: var(--adw-text-title3-weight) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="apppartnereventspage_CloseButton_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._35HbMDUqNj3v-llxNlSg1T
{
	background: var(--adw-button-osd-bg) !important;
	height: 24px !important;
	width: 24px !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="apppartnereventspage_CloseButton_"] svg line,
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._35HbMDUqNj3v-llxNlSg1T svg line
{
	stroke: var(--adw-button-osd-fg) !important;
	stroke-width: 32px !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="apppartnereventspage_ScrollButton_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._357GuN2jOraoBsztl6eEpW
{
	background: var(--adw-button-osd-bg) !important;
	height: 24px !important;
	width: 40px !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="apppartnereventspage_ScrollButton_"] svg polygon,
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._357GuN2jOraoBsztl6eEpW svg polygon
{
	fill: var(--adw-button-osd-fg) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="apppartnereventspage_ScrollButton_"][class*="apppartnereventspage_GameArt_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._357GuN2jOraoBsztl6eEpW._2u-98K9oZtrZRBz4WSI-CQ
{
	height: 40px !important;
	width: 40px !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="partnereventdisplay_EventDetailsBody_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._3v0cwU9svPlYyRjL6HO1ZC
{
	color: rgb(var(--adw-window-fg-rgb)) !important;
	font-family: var(--adw-text-font) !important;
	font-weight: var(--adw-text-base-weight) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="partnereventdisplay_EventDetailsBody_"] a:not(.LinkButton),
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._3v0cwU9svPlYyRjL6HO1ZC a:not(.LinkButton)
{
	color: rgb(var(--adw-accent-rgb)) !important;
	font-family: var(--adw-text-font) !important;
	font-weight: var(--adw-text-title4-weight) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="partnereventdisplay_EventDetailsBody_"] a:not(.LinkButton):hover,
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._3v0cwU9svPlYyRjL6HO1ZC a:not(.LinkButton):hover
{
	text-decoration: underline !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="partnereventdisplay_EventDetailsBody_"] img,
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._3v0cwU9svPlYyRjL6HO1ZC img,
body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="youtubeembed_PreviewYouTubeVideo_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._2ydks0zXuSegy8SWijqkmu
{
	border-radius: var(--adw-card-radius) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="eventbbcodeparser_Header1_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._15FlIKB5sgBYLNjlnRazPY
{
	color: rgb(var(--adw-window-fg-rgb)) !important;
	font-family: var(--adw-text-font) !important;
	font-size: var(--adw-text-title1-size) !important;
	font-weight: var(--adw-text-title1-weight) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="eventbbcodeparser_Header2_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._1SWg2pG7YTaeugpLj3fW6k
{
	color: rgb(var(--adw-window-fg-rgb)) !important;
	font-family: var(--adw-text-font) !important;
	font-size: var(--adw-text-title2-size) !important;
	font-weight: var(--adw-text-title2-weight) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="eventbbcodeparser_Header3_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div.AX80F1i_ZmgUMWmsPWvNo
{
	color: rgb(var(--adw-window-fg-rgb)) !important;
	font-family: var(--adw-text-font) !important;
	font-size: var(--adw-text-title3-size) !important;
	font-weight: var(--adw-text-title3-weight) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] svg[class*="discussionwidget_VoteUpStaticIcon_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 svg._1g-EnGAwBxXdVKtEBcdIK_,
body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="discussionwidget_DiscussionCount_"] > svg,
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._1GFRKatJ8pNhUDi-MwuD9D > svg
{
	fill: rgb(var(--adw-accent-rgb)) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="partnereventshared_Button_"][class*="partnereventshared_Icon_"],
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._3P0Tm2XKLVG_I9wjP3H-Zs._3p1Hj4MxioFD7iM63Z3s6T
{
	background: var(--button_bg) !important;
	border-radius: var(--adw-button-radius) !important;
	box-shadow: none !important;
	color: rgb(var(--adw-window-fg-rgb)) !important;
	font-family: var(--adw-text-font) !important;
	font-size: var(--adw-text-title3-size) !important;
	font-weight: var(--adw-text-title3-weight) !important;
	transition: var(--adw-button-transition) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="partnereventshared_Button_"][class*="partnereventshared_Icon_"]:hover,
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._3P0Tm2XKLVG_I9wjP3H-Zs._3p1Hj4MxioFD7iM63Z3s6T:hover
{
	background: var(--button_hover_bg) !important;
}

body.DesktopUI div[class*="apppartnereventspage_AppPartnerEventsBody_"] div[class*="partnereventshared_Button_"][class*="partnereventshared_Icon_"]:active,
body.DesktopUI div._1nzwrXRkY7v4cVHMaShUc1 div._3P0Tm2XKLVG_I9wjP3H-Zs._3p1Hj4MxioFD7iM63Z3s6T:active
{
	background: var(--button_active_bg) !important;
}
