:root
{
	--adw-windowcontrols-button-width: 24px;
	--adw-windowcontrols-button-height: 24px;
	--adw-windowcontrols-button-gap: 13px;
	--adw-windowcontrols-buttons-margin-outer: 12px;
	--adw-windowcontrols-buttons-margin-inner: 6px;
}

body.DesktopUI,
html.client_chat_frame
{
	.title-bar-actions
	{
		.title-area-icon
		{
			border-radius: 50% !important;
			background-color: rgba(var(--adw-window-fg-rgb), var(--adw-button-bg-opacity)) !important;

			&:hover
			{
				background-color: rgba(var(--adw-window-fg-rgb), var(--adw-button-bg-opacity-hover)) !important;
			}

			&:active
			{
				background-color: rgba(var(--adw-window-fg-rgb), var(--adw-button-bg-opacity-active)) !important;
			}

			> div
			{
				display: none !important;
			}

			&::before
			{
				background-color: rgb(var(--adw-window-fg-rgb));
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				-webkit-mask-size: 16px;
			}

			&.closeButton::before
			{
				-webkit-mask-image: var(--adw-icon-window-close);
			}

			&.maximizeButton::before
			{
				-webkit-mask-image: var(--adw-icon-window-maximize);
			}

			&.minimizeButton::before
			{
				-webkit-mask-image: var(--adw-icon-window-minimize);
			}

			&.restoreButton::before
			{
				-webkit-mask-image: var(--adw-icon-window-restore);
			}
		}
	}
}
