:root
{
	--adw-windowcontrols-button-width: 46px;
	--adw-windowcontrols-button-height: 100%;
	--adw-windowcontrols-button-gap: 0px;
	--adw-windowcontrols-buttons-margin-outer: 0px;
	--adw-windowcontrols-buttons-margin-inner: 6px;

	--adw-icon-windows-chrome-close: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTggOC43MDgwMUwzLjg1NDQ5IDEyLjg1MzVDMy43NTY4NCAxMi45NTEyIDMuNjM5NjUgMTMgMy41MDI5MyAxM0MzLjM1OTcgMTMgMy4yMzkyNiAxMi45NTI4IDMuMTQxNiAxMi44NTg0QzMuMDQ3MiAxMi43NjA3IDMgMTIuNjQwMyAzIDEyLjQ5NzFDMyAxMi4zNjA0IDMuMDQ4ODMgMTIuMjQzMiAzLjE0NjQ4IDEyLjE0NTVMNy4yOTE5OSA4TDMuMTQ2NDggMy44NTQ0OUMzLjA0ODgzIDMuNzU2ODQgMyAzLjYzODAyIDMgMy40OTgwNUMzIDMuNDI5NjkgMy4wMTMwMiAzLjM2NDU4IDMuMDM5MDYgMy4zMDI3M0MzLjA2NTEgMy4yNDA4OSAzLjEwMDkxIDMuMTg4OCAzLjE0NjQ4IDMuMTQ2NDhDMy4xOTIwNiAzLjEwMDkxIDMuMjQ1NzcgMy4wNjUxIDMuMzA3NjIgMy4wMzkwNkMzLjM2OTQ3IDMuMDEzMDIgMy40MzQ1NyAzIDMuNTAyOTMgM0MzLjYzOTY1IDMgMy43NTY4NCAzLjA0ODgzIDMuODU0NDkgMy4xNDY0OEw4IDcuMjkxOTlMMTIuMTQ1NSAzLjE0NjQ4QzEyLjI0MzIgMy4wNDg4MyAxMi4zNjIgMyAxMi41MDIgM0MxMi41NzAzIDMgMTIuNjMzOCAzLjAxMzAyIDEyLjY5MjQgMy4wMzkwNkMxMi43NTQyIDMuMDY1MSAxMi44MDc5IDMuMTAwOTEgMTIuODUzNSAzLjE0NjQ4QzEyLjg5OTEgMy4xOTIwNiAxMi45MzQ5IDMuMjQ1NzcgMTIuOTYwOSAzLjMwNzYyQzEyLjk4NyAzLjM2NjIxIDEzIDMuNDI5NjkgMTMgMy40OTgwNUMxMyAzLjYzODAyIDEyLjk1MTIgMy43NTY4NCAxMi44NTM1IDMuODU0NDlMOC43MDgwMSA4TDEyLjg1MzUgMTIuMTQ1NUMxMi45NTEyIDEyLjI0MzIgMTMgMTIuMzYwNCAxMyAxMi40OTcxQzEzIDEyLjU2NTQgMTIuOTg3IDEyLjYzMDUgMTIuOTYwOSAxMi42OTI0QzEyLjkzNDkgMTIuNzU0MiAxMi44OTkxIDEyLjgwNzkgMTIuODUzNSAxMi44NTM1QzEyLjgxMTIgMTIuODk5MSAxMi43NTkxIDEyLjkzNDkgMTIuNjk3MyAxMi45NjA5QzEyLjYzNTQgMTIuOTg3IDEyLjU3MDMgMTMgMTIuNTAyIDEzQzEyLjM2MiAxMyAxMi4yNDMyIDEyLjk1MTIgMTIuMTQ1NSAxMi44NTM1TDggOC43MDgwMVoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=');
	--adw-icon-windows-chrome-maximize: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNDc0NjEgMTNDNC4yNzkzIDEzIDQuMDkyMTIgMTIuOTYwOSAzLjkxMzA5IDEyLjg4MjhDMy43MzQwNSAxMi44MDE0IDMuNTc2MTcgMTIuNjk0IDMuNDM5NDUgMTIuNTYwNUMzLjMwNTk5IDEyLjQyMzggMy4xOTg1NyAxMi4yNjYgMy4xMTcxOSAxMi4wODY5QzMuMDM5MDYgMTEuOTA3OSAzIDExLjcyMDcgMyAxMS41MjU0VjQuNDc0NjFDMyA0LjI3OTMgMy4wMzkwNiA0LjA5MjEyIDMuMTE3MTkgMy45MTMwOUMzLjE5ODU3IDMuNzM0MDUgMy4zMDU5OSAzLjU3NzggMy40Mzk0NSAzLjQ0NDM0QzMuNTc2MTcgMy4zMDc2MiAzLjczNDA1IDMuMjAwMiAzLjkxMzA5IDMuMTIyMDdDNC4wOTIxMiAzLjA0MDY5IDQuMjc5MyAzIDQuNDc0NjEgM0gxMS41MjU0QzExLjcyMDcgMyAxMS45MDc5IDMuMDQwNjkgMTIuMDg2OSAzLjEyMjA3QzEyLjI2NiAzLjIwMDIgMTIuNDIyMiAzLjMwNzYyIDEyLjU1NTcgMy40NDQzNEMxMi42OTI0IDMuNTc3OCAxMi43OTk4IDMuNzM0MDUgMTIuODc3OSAzLjkxMzA5QzEyLjk1OTMgNC4wOTIxMiAxMyA0LjI3OTMgMTMgNC40NzQ2MVYxMS41MjU0QzEzIDExLjcyMDcgMTIuOTU5MyAxMS45MDc5IDEyLjg3NzkgMTIuMDg2OUMxMi43OTk4IDEyLjI2NiAxMi42OTI0IDEyLjQyMzggMTIuNTU1NyAxMi41NjA1QzEyLjQyMjIgMTIuNjk0IDEyLjI2NiAxMi44MDE0IDEyLjA4NjkgMTIuODgyOEMxMS45MDc5IDEyLjk2MDkgMTEuNzIwNyAxMyAxMS41MjU0IDEzSDQuNDc0NjFaTTExLjUwMSAxMS45OTlDMTEuNTY5MyAxMS45OTkgMTEuNjMyOCAxMS45ODYgMTEuNjkxNCAxMS45NkMxMS43NTMzIDExLjkzMzkgMTEuODA3IDExLjg5ODEgMTEuODUyNSAxMS44NTI1QzExLjg5ODEgMTEuODA3IDExLjkzMzkgMTEuNzU0OSAxMS45NiAxMS42OTYzQzExLjk4NiAxMS42MzQ0IDExLjk5OSAxMS41NjkzIDExLjk5OSAxMS41MDFWNC40OTkwMkMxMS45OTkgNC40MzA2NiAxMS45ODYgNC4zNjcxOSAxMS45NiA0LjMwODU5QzExLjkzMzkgNC4yNDY3NCAxMS44OTgxIDQuMTkzMDMgMTEuODUyNSA0LjE0NzQ2QzExLjgwNyA0LjEwMTg5IDExLjc1MzMgNC4wNjYwOCAxMS42OTE0IDQuMDQwMDRDMTEuNjMyOCA0LjAxNCAxMS41NjkzIDQuMDAwOTggMTEuNTAxIDQuMDAwOThINC40OTkwMkM0LjQzMDY2IDQuMDAwOTggNC4zNjU1NiA0LjAxNCA0LjMwMzcxIDQuMDQwMDRDNC4yNDUxMiA0LjA2NjA4IDQuMTkzMDMgNC4xMDE4OSA0LjE0NzQ2IDQuMTQ3NDZDNC4xMDE4OSA0LjE5MzAzIDQuMDY2MDggNC4yNDY3NCA0LjA0MDA0IDQuMzA4NTlDNC4wMTQgNC4zNjcxOSA0LjAwMDk4IDQuNDMwNjYgNC4wMDA5OCA0LjQ5OTAyVjExLjUwMUM0LjAwMDk4IDExLjU2OTMgNC4wMTQgMTEuNjM0NCA0LjA0MDA0IDExLjY5NjNDNC4wNjYwOCAxMS43NTQ5IDQuMTAxODkgMTEuODA3IDQuMTQ3NDYgMTEuODUyNUM0LjE5MzAzIDExLjg5ODEgNC4yNDUxMiAxMS45MzM5IDQuMzAzNzEgMTEuOTZDNC4zNjU1NiAxMS45ODYgNC40MzA2NiAxMS45OTkgNC40OTkwMiAxMS45OTlIMTEuNTAxWiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==');
	--adw-icon-windows-chrome-minimize: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMuNDk4MDUgOEMzLjQyOTY5IDggMy4zNjQ1OCA3Ljk4Njk4IDMuMzAyNzMgNy45NjA5NEMzLjI0NDE0IDcuOTM0OSAzLjE5MjA2IDcuODk5MDkgMy4xNDY0OCA3Ljg1MzUyQzMuMTAwOTEgNy44MDc5NCAzLjA2NTEgNy43NTU4NiAzLjAzOTA2IDcuNjk3MjdDMy4wMTMwMiA3LjYzNTQyIDMgNy41NzAzMSAzIDcuNTAxOTVDMyA3LjQzMzU5IDMuMDEzMDIgNy4zNzAxMiAzLjAzOTA2IDcuMzExNTJDMy4wNjUxIDcuMjQ5NjcgMy4xMDA5MSA3LjE5NTk2IDMuMTQ2NDggNy4xNTAzOUMzLjE5MjA2IDcuMTAxNTYgMy4yNDQxNCA3LjA2NDEzIDMuMzAyNzMgNy4wMzgwOUMzLjM2NDU4IDcuMDEyMDQgMy40Mjk2OSA2Ljk5OTAyIDMuNDk4MDUgNi45OTkwMkgxMi41MDJDMTIuNTcwMyA2Ljk5OTAyIDEyLjYzMzggNy4wMTIwNCAxMi42OTI0IDcuMDM4MDlDMTIuNzU0MiA3LjA2NDEzIDEyLjgwNzkgNy4xMDE1NiAxMi44NTM1IDcuMTUwMzlDMTIuODk5MSA3LjE5NTk2IDEyLjkzNDkgNy4yNDk2NyAxMi45NjA5IDcuMzExNTJDMTIuOTg3IDcuMzcwMTIgMTMgNy40MzM1OSAxMyA3LjUwMTk1QzEzIDcuNTcwMzEgMTIuOTg3IDcuNjM1NDIgMTIuOTYwOSA3LjY5NzI3QzEyLjkzNDkgNy43NTU4NiAxMi44OTkxIDcuODA3OTQgMTIuODUzNSA3Ljg1MzUyQzEyLjgwNzkgNy44OTkwOSAxMi43NTQyIDcuOTM0OSAxMi42OTI0IDcuOTYwOTRDMTIuNjMzOCA3Ljk4Njk4IDEyLjU3MDMgOCAxMi41MDIgOEgzLjQ5ODA1WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==');
	--adw-icon-windows-chrome-restore: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjk5OSA1Ljk2Mzg3QzExLjk5OSA1LjY5MzY4IDExLjk0NTMgNS40Mzk3OCAxMS44Mzc5IDUuMjAyMTVDMTEuNzMwNSA0Ljk2MTI2IDExLjU4NCA0Ljc1MjkzIDExLjM5ODQgNC41NzcxNUMxMS4yMTYxIDQuMzk4MTEgMTEuMDAyOSA0LjI1ODE0IDEwLjc1ODggNC4xNTcyM0MxMC41MTc5IDQuMDUzMDYgMTAuMjY0IDQuMDAwOTggOS45OTcwNyA0LjAwMDk4SDUuMDg0OTZDNS4xMzcwNCAzLjg1MTI0IDUuMjEwMjkgMy43MTQ1MiA1LjMwNDY5IDMuNTkwODJDNS4zOTkwOSAzLjQ2NzEyIDUuNTA4MTQgMy4zNjEzMyA1LjYzMTg0IDMuMjczNDRDNS43NTU1MyAzLjE4NTU1IDUuODkwNjIgMy4xMTg4MiA2LjAzNzExIDMuMDczMjRDNi4xODY4NSAzLjAyNDQxIDYuMzQxNDcgMyA2LjUwMDk4IDNIOS45OTcwN0MxMC40MTA1IDMgMTAuNzk5NSAzLjA3OTc1IDExLjE2NDEgMy4yMzkyNkMxMS41Mjg2IDMuMzk1NTEgMTEuODQ2IDMuNjA4NzIgMTIuMTE2MiAzLjg3ODkxQzEyLjM4OTYgNC4xNDkwOSAxMi42MDQ1IDQuNDY2NDcgMTIuNzYwNyA0LjgzMTA1QzEyLjkyMDIgNS4xOTU2NCAxMyA1LjU4NDY0IDEzIDUuOTk4MDVWOS40OTkwMkMxMyA5LjY1ODUzIDEyLjk3NTYgOS44MTMxNSAxMi45MjY4IDkuOTYyODlDMTIuODgxMiAxMC4xMDk0IDEyLjgxNDUgMTAuMjQ0NSAxMi43MjY2IDEwLjM2ODJDMTIuNjM4NyAxMC40OTE5IDEyLjUzMjkgMTAuNjAwOSAxMi40MDkyIDEwLjY5NTNDMTIuMjg1NSAxMC43ODk3IDEyLjE0ODggMTAuODYzIDExLjk5OSAxMC45MTVWNS45NjM4N1pNNC40NzQ2MSAxM0M0LjI3OTMgMTMgNC4wOTIxMiAxMi45NjA5IDMuOTEzMDkgMTIuODgyOEMzLjczNDA1IDEyLjgwMTQgMy41NzYxNyAxMi42OTQgMy40Mzk0NSAxMi41NjA1QzMuMzA1OTkgMTIuNDIzOCAzLjE5ODU3IDEyLjI2NiAzLjExNzE5IDEyLjA4NjlDMy4wMzkwNiAxMS45MDc5IDMgMTEuNzIwNyAzIDExLjUyNTRWNi40NzY1NkMzIDYuMjc3OTkgMy4wMzkwNiA2LjA5MDgyIDMuMTE3MTkgNS45MTUwNEMzLjE5ODU3IDUuNzM2IDMuMzA1OTkgNS41Nzk3NSAzLjQzOTQ1IDUuNDQ2MjlDMy41NzYxNyA1LjMwOTU3IDMuNzMyNDIgNS4yMDIxNSAzLjkwODIgNS4xMjQwMkM0LjA4NzI0IDUuMDQyNjQgNC4yNzYwNCA1LjAwMTk1IDQuNDc0NjEgNS4wMDE5NUg5LjUyMzQ0QzkuNzIyMDEgNS4wMDE5NSA5LjkxMDgxIDUuMDQyNjQgMTAuMDg5OCA1LjEyNDAyQzEwLjI2ODkgNS4yMDIxNSAxMC40MjUxIDUuMzA3OTQgMTAuNTU4NiA1LjQ0MTQxQzEwLjY5MjEgNS41NzQ4NyAxMC43OTc5IDUuNzMxMTIgMTAuODc2IDUuOTEwMTZDMTAuOTU3NCA2LjA4OTE5IDEwLjk5OCA2LjI3Nzk5IDEwLjk5OCA2LjQ3NjU2VjExLjUyNTRDMTAuOTk4IDExLjcyNCAxMC45NTc0IDExLjkxMjggMTAuODc2IDEyLjA5MThDMTAuNzk3OSAxMi4yNjc2IDEwLjY5MDQgMTIuNDIzOCAxMC41NTM3IDEyLjU2MDVDMTAuNDIwMiAxMi42OTQgMTAuMjY0IDEyLjgwMTQgMTAuMDg1IDEyLjg4MjhDOS45MDkxOCAxMi45NjA5IDkuNzIyMDEgMTMgOS41MjM0NCAxM0g0LjQ3NDYxWk05LjQ5OTAyIDExLjk5OUM5LjU2NzM4IDExLjk5OSA5LjYzMDg2IDExLjk4NiA5LjY4OTQ1IDExLjk2QzkuNzUxMyAxMS45MzM5IDkuODA1MDEgMTEuODk4MSA5Ljg1MDU5IDExLjg1MjVDOS44OTk0MSAxMS44MDcgOS45MzY4NSAxMS43NTQ5IDkuOTYyODkgMTEuNjk2M0M5Ljk4ODkzIDExLjYzNDQgMTAuMDAyIDExLjU2OTMgMTAuMDAyIDExLjUwMVY2LjUwMDk4QzEwLjAwMiA2LjQzMjYyIDkuOTg4OTMgNi4zNjc1MSA5Ljk2Mjg5IDYuMzA1NjZDOS45MzY4NSA2LjI0MzgyIDkuOTAxMDQgNi4xOTAxIDkuODU1NDcgNi4xNDQ1M0M5LjgwOTkgNi4wOTg5NiA5Ljc1NjE4IDYuMDYzMTUgOS42OTQzNCA2LjAzNzExQzkuNjMyNDkgNi4wMTEwNyA5LjU2NzM4IDUuOTk4MDUgOS40OTkwMiA1Ljk5ODA1SDQuNDk5MDJDNC40MzA2NiA1Ljk5ODA1IDQuMzY1NTYgNi4wMTEwNyA0LjMwMzcxIDYuMDM3MTFDNC4yNDUxMiA2LjA2MzE1IDQuMTkzMDMgNi4xMDA1OSA0LjE0NzQ2IDYuMTQ5NDFDNC4xMDE4OSA2LjE5NDk5IDQuMDY2MDggNi4yNDg3IDQuMDQwMDQgNi4zMTA1NUM0LjAxNCA2LjM2OTE0IDQuMDAwOTggNi40MzI2MiA0LjAwMDk4IDYuNTAwOThWMTEuNTAxQzQuMDAwOTggMTEuNTY5MyA0LjAxNCAxMS42MzQ0IDQuMDQwMDQgMTEuNjk2M0M0LjA2NjA4IDExLjc1NDkgNC4xMDE4OSAxMS44MDcgNC4xNDc0NiAxMS44NTI1QzQuMTkzMDMgMTEuODk4MSA0LjI0NTEyIDExLjkzMzkgNC4zMDM3MSAxMS45NkM0LjM2NTU2IDExLjk4NiA0LjQzMDY2IDExLjk5OSA0LjQ5OTAyIDExLjk5OUg5LjQ5OTAyWiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==');
}

body.DesktopUI,
html.client_chat_frame
{
	.title-bar-actions
	{
		.title-area-icon
		{
			min-height: 32px !important;
			background-color: transparent !important;

			&:hover
			{
				background-color: rgba(var(--adw-window-fg-rgb), var(--adw-hover-opacity)) !important;
			}

			&:active
			{
				background-color: rgba(var(--adw-window-fg-rgb), var(--adw-active-opacity)) !important;
			}

			&.closeButton
			{
				&:hover
				{
					background-color: rgb(196, 43, 28, 1) !important;
				}

				&:active
				{
					background-color: rgba(196, 43, 28, 0.9) !important;
				}
			}

			> div
			{
				display: none !important;
			}

			&::before
			{
				background-color: rgb(var(--adw-window-fg-rgb));
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				-webkit-mask-size: 16px;
			}

			&.closeButton::before
			{
				-webkit-mask-image: var(--adw-icon-windows-chrome-close);
			}

			&.maximizeButton::before
			{
				-webkit-mask-image: var(--adw-icon-windows-chrome-maximize);
			}

			&.minimizeButton::before
			{
				-webkit-mask-image: var(--adw-icon-windows-chrome-minimize);
			}

			&.restoreButton::before
			{
				-webkit-mask-image: var(--adw-icon-windows-chrome-restore);
			}
		}
	}
}
