body.DesktopUI
{
	/* Main window headerbar */
	div._3Z7VQ1IMk4E3HsHvrkLNgo
	{
		height: 46px !important;
		min-height: 46px !important;
		background: rgb(var(--adw-headerbar-bg-rgb)) !important;
		box-shadow: none !important;
		order: 1 !important;

		div._39oUCO1OuizVPwcnnv88no
		{
			height: 46px !important;
			min-height: 46px !important;
		}
	}

	/* Main window wrapper */
	div._1ENHEsrSLcTRtPQFl1F-wL
	{
		border: none !important;
		background: rgb(var(--adw-window-bg-rgb)) !important;

		&::after
		{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
			box-sizing: border-box;
			border: 1px rgba(var(--adw-window-fg-rgb), var(--adw-window-outline-opacity)) solid;
			z-index: 999;
		}

		&.Maximized::after
		{
			border: 1px transparent solid;
		}

		/* Focus Bar */
		& > div._3pXasCUulX4jjqO79s4q_F
		{
			background: none !important;
		}
	}

	/* .steamdesktop_DragArea_ */
	div._30vB9DdsPK7VrZAbb5Q1Av
	{
		-webkit-app-region: initial !important;
	}

	/* URL Bar placeholder - draw headerbar shadow instead */
	div.RGNMWtyj73_-WdhflrmuY > div._2CmrnGY-Amtd83ScJkFvx2
	{
		display: block !important;
		position: absolute !important;
		width: 100% !important;
		height: 4px !important;
		z-index: 999 !important;
		pointer-events: none !important;
		background: linear-gradient(to bottom, rgba(var(--adw-shade-rgb), calc(var(--adw-shade-a) * 0.75)), transparent 4px) !important;
		box-shadow: inset 0 1px rgba(var(--adw-shade-rgb), calc(var(--adw-shade-a) * 0.75)) !important;
	}

	/**
	 * Browser wrapper
	 * Can't draw shadow or anything else on top of the browser, draw a border instead
	 * Offset browser by 1px on other sides to keep window outline visible
	 */
	div._1bGewp3tfzqAF6fVTFFUOz
	{
		box-sizing: border-box !important;
		border: 1px rgb(var(--adw-window-bg-rgb)) solid !important;
		border-top: 1px rgba(var(--adw-headerbar-shade-rgb), var(--adw-headerbar-shade-a)) solid !important;
		background: rgb(var(--adw-window-bg-rgb)) !important;

		/* URL Bar (refresh button only) */
		div.UkR3sY319PuaUNuUWks2K
		{
			background: transparent !important;
			box-shadow: none !important;
			border: none !important;
			padding: 0 !important;
			position: absolute !important;
			top: 6px !important;
			left: calc(var(--adw-windowcontrols-margin-left) + 86px) !important;
			width: 34px !important;
			height: 34px !important;

			/* Refresh button */
			div._3KaB94Jl4r0hFkthDPJy09
			{
				-webkit-app-region: no-drag;
				cursor: var(--adw-cursor-pointer) !important;
				border-radius: var(--adw-button-radius) !important;
				box-sizing: border-box !important;
				width: 34px !important;
				height: 34px !important;
				padding: 9px !important;
				transition: var(--adw-button-transition);

				svg
				{
					display: none !important;
				}

				&:hover
				{
					background: rgba(var(--adw-headerbar-fg-rgb), var(--adw-hover-opacity)) !important;
				}

				&:active
				{
					background: rgba(var(--adw-headerbar-fg-rgb), var(--adw-active-opacity)) !important;
				}
			}

			&::before,
			div._3KaB94Jl4r0hFkthDPJy09::before
			{
				background-color: rgb(var(--adw-headerbar-fg-rgb));
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				-webkit-mask-size: 16px;
				-webkit-mask-image: var(--adw-icon-nav-refresh);
			}

			&::before
			{
				position: absolute;
				filter: opacity(var(--adw-disabled-opacity));
				padding: 9px;
			}
		}

		/* .steamdesktop_URLBarText_ */
		div._2m_orETo6AghzAnc0sISCt
		{
			display: none !important;
		}
	}

	/* Content frame */
	div._1rDh5rXSFZJOqCa4UpnI4z
	{
		position: initial !important;
		order: 3 !important;
	}

	/* Remove bottom bar, keep some buttons and update banner */

	/* Bottom bar container */
	div._1_yS5UP7el0aN4vntx3dx
	{
		display: block !important;
		background: rgb(var(--adw-headerbar-bg-rgb)) !important;
		order: 2 !important;

		/* Bottom bar */
		div._3vCzSrrXZzZjVJFZNg9SGu
		{
			height: 0 !important;
			overflow: hidden !important;
		}

		/* Add Game button */
		div._2foCkpRXhqq0UGVE50BWqj
		{
			display: none !important;
		}

		/* Update banner fixed height */
		& > div[style*="height:68px"],
		div._1sMxtPKaL0DcIZgJCQRduV
		{
			min-height: 46px !important;
		}

		/* Update banner */
		div._2iJsgdTIX9Tj23rWnB7Q-c,
		div._3GaHEQJW9B1Rlt0Ddz3E8D
		{
			background-image: linear-gradient(0deg, rgba(var(--adw-banner-bg-rgb), var(--adw-banner-bg-a)), rgba(var(--adw-banner-bg-rgb), var(--adw-banner-bg-a))) !important;
			background-color: rgb(var(--adw-headerbar-bg-rgb)) !important;
			box-shadow: inset 0 1px rgba(var(--adw-headerbar-shade-rgb), var(--adw-headerbar-shade-a)) !important;
			border-radius: 0 !important;
			min-height: 46px !important;
			padding: 0 10px !important;

			/* Text */
			&, a, div._2EXJTyc69b45nXI4h3RknI, div.SwtQX-CurM3HPVJ9DPI1V
			{
				cursor: var(--adw-cursor-pointer) !important;
				color: rgb(var(--adw-banner-fg-rgb)) !important;
				font-family: var(--adw-text-font) !important;
				font-size: var(--adw-text-title3-size) !important;
				font-weight: var(--adw-text-title3-weight) !important;
			}

			/* Content */
			div._2ZNEaet8lKMtw6CLs-UNXv
			{
				padding: 8px 0 !important;
			}

			/* Spinner */
			div.TdcThDOY4vwkhb9IjZbAl
			{
				width: 16px !important;
				height: 16px !important;
				min-width: 16px !important;
				min-height: 16px !important;
			}

			/* Actions */
			div._14fYfDS-pwIUwGfqr48EM
			{
				/* Button */
				div._2ohOQgahhMYnIEfAQmv9B8
				{
					background: rgba(var(--adw-banner-fg-rgb), var(--adw-button-bg-opacity)) !important;
					border-radius: var(--adw-button-radius) !important;
					color: rgb(var(--adw-banner-fg-rgb)) !important;
					font-family: var(--adw-text-font) !important;
					font-size: var(--adw-text-title3-size) !important;
					font-weight: var(--adw-text-title3-weight) !important;
					line-height: 24px !important;
					height: 24px !important;
					padding: 5px 10px !important;
					transition: var(--adw-button-transition) !important;
					cursor: var(--adw-cursor-pointer) !important;

					/* Disabled */
					&._TY57LlvVVnWqjaCz0EWr
					{
						opacity: var(--adw-disabled-opacity) !important;
						pointer-events: none !important;
					}

					&:hover
					{
						background: rgba(var(--adw-banner-fg-rgb), var(--adw-button-bg-opacity-hover)) !important;
					}

					&:active
					{
						background: rgba(var(--adw-banner-fg-rgb), var(--adw-button-bg-opacity-active)) !important;
					}
				}
			}

			/* Update error */
			&._2T8739wyg0K9mokTXWytuZ
			{
				background-image: linear-gradient(0deg, rgba(var(--adw-error-bg-rgb), var(--adw-banner-bg-a)), rgba(var(--adw-error-bg-rgb), var(--adw-banner-bg-a))) !important;
			}

			/* Small mode */
			&._25YQ-0tD-BPgk7Ca_hWbon
			{
				padding: 0 10px !important;

				/* Actions */
				div._1sMxtPKaL0DcIZgJCQRduV
				{
					flex-direction: row !important;
				}
			}

			/* Centered text */
			&._3GaHEQJW9B1Rlt0Ddz3E8D
			{
				justify-content: center !important;
			}
		}
	}
}
