/* Menu Bar */
div._3Z7VQ1IMk4E3HsHvrkLNgo div._3s0lkohH8wU2do0K1il28Y
{
	-webkit-app-region: no-drag !important;
	padding: 2px !important;
	margin: -2px !important;
	gap: 6px !important;
	z-index: 10 !important;
	flex-direction: row-reverse !important;
	justify-content: end !important;
	position: absolute !important;
	right: calc(var(--adw-windowcontrols-margin-right) + 6px) !important;
	top: 6px !important;
	width: 38px !important;
	height: 38px !important;
	border-radius: var(--adw-button-radius) !important;
	background: rgb(var(--adw-headerbar-bg-rgb)) !important;
	transition: width 200ms var(--adw-base-transition-curve), background 200ms var(--adw-base-transition-curve) !important;

	/* Menu button */
	div._2UyOBeiSdBayaFdRa39N2O
	{
		-webkit-app-region: no-drag !important;
		cursor: default !important;
		border-radius: var(--adw-button-radius) !important;
		width: 34px !important;
		height: 34px !important;
		padding: 9px !important;
		transition: var(--adw-button-transition);
		color: rgb(var(--adw-headerbar-fg-rgb)) !important;

		/* Keep all menu buttons visible and in the same place to prevent Steam from recalculating menu positions */
		position: absolute !important;
		top: 2px !important;
		right: 2px !important;

		&:hover
		{
			background: rgba(var(--adw-headerbar-fg-rgb), var(--adw-hover-opacity)) !important;
		}

		&:active
		{
			background: rgba(var(--adw-headerbar-fg-rgb), var(--adw-active-opacity)) !important;
		}

		/* Menu open */
		&._3rgV8pPmQvZC-01x9l-q-N
		{
			background: rgba(var(--adw-headerbar-fg-rgb), var(--adw-selected-opacity)) !important;

			&:hover
			{
				background: rgba(var(--adw-headerbar-fg-rgb), var(--adw-selected-hover-opacity)) !important;
			}

			&:active
			{
				background: rgba(var(--adw-headerbar-fg-rgb), var(--adw-selected-active-opacity)) !important;
			}
		}

		div
		{
			display: none !important;
		}

		&::before
		{
			background-color: rgb(var(--adw-headerbar-fg-rgb));
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center;
			-webkit-mask-size: 16px;
			-webkit-mask-image: var(--adw-icon-menu-main);
		}

		&:nth-of-type(2)
		{
			right: 42px !important;
			&::before
			{
				-webkit-mask-image: var(--adw-icon-menu-view);
			}
		}

		&:nth-of-type(3)
		{
			right: 82px !important;
			&::before
			{
				-webkit-mask-image: var(--adw-icon-menu-friends);
			}
		}

		&:nth-of-type(4)
		{
			right: 122px !important;
			&::before
			{
				-webkit-mask-image: var(--adw-icon-menu-games);
			}
		}

		&:nth-of-type(5)
		{
			right: 162px !important;
			&::before
			{
				-webkit-mask-image: var(--adw-icon-menu-help);
			}
		}
	}

	&:has(div._3rgV8pPmQvZC-01x9l-q-N)
	{
		width: 198px !important;
		background: rgb(var(--adw-secondary-sidebar-bg-rgb)) !important;
	}
}
