:root {
	/* ----------------------- */
	/* RGB Colors              */
	/* Format: R, G, B         */
	/* No Hex or rgb() allowed */
	/* ----------------------- */
	/* General */
	--bg_rgb: 36, 39, 58;
	--fg_rgb: 202, 211, 245;

	/* Accent Colors */
	--accent_rgb: 180, 190, 254;
	--accent_bg_rgb: 180, 190, 254;
	--destructive_rgb: 238, 153, 160;
	--destructive_bg_rgb: 237, 135, 150;
	--error_rgb: 238, 153, 160;
	--error_bg_rgb: 237, 135, 150;
	--success_rgb: 166, 218, 149;
	--success_bg_rgb: 139, 213, 202;
	--warning_rgb: 245, 168, 127;
	--warning_bg_rgb: 238, 212, 159;

	/* Scrollbars */
	--scrollbar_rgb: 91, 96, 120;

	/* ----------------------- */
	/* Other Colors            */
	/* ----------------------- */
	/* Darker Backgrounds */
	--view_bg: rgb(30, 32, 48);

	/* Headerbar */
	--headerbar_backdrop: rgb(36, 39, 58);
	--headerbar_bg: rgb(24, 25, 38);

	/* App properties DLC/Worshop Header */
	--card_solid_bg: rgb(58, 61, 78);

	/* Popup Elements */
	--popover_bg: rgb(30, 32, 48);

	/* Accent FG */
	--accent_fg: rgb(24, 25, 38);
	--success_fg: rgb(193, 255, 203);
	--warning_fg: rgb(24, 25, 38);
}
