:root {
	--bg: #24273AFF;
	--fg: #CAD3F5FF;
	--border: #181926FF;
	--window_bg: #24273AFF;
	--window_fg: #CAD3F5FF;
	--headerbar_backdrop: #24273AFF;
	--headerbar_bg: #181926FF;
	--headerbar_fg: #CAD3F5FF;
	--headerbar_shade: #000000D9;
	--popover_bg: #1E2030FF;
	--popover_fg: #CAD3F5FF;
	--toast_bg: #1E2030B3;
	--toast_fg: #CAD3F5FF;
	--view_bg: #1E2030FF;
	--view_fg: #CAD3F5FF;
	--accent: #B4BEFEFF;
	--accent_bg: #B4BEFEFF;
	--accent_fg: #181926FF;
	--accent_disabled: #B4BEFE80;
	--accent_hover_bg: #B4BEFE12;
	--accent_active_bg: #B4BEFE29;
	--destructive: #EE99A0FF;
	--destructive_bg: #ED8796FF;
	--destructive_fg: #CAD3F5FF;
	--destructive_disabled: #EE99A080;
	--destructive_hover_bg: #EE99A012;
	--destructive_active_bg: #EE99A029;
	--error: #EE99A0FF;
	--error_bg: #ED8796FF;
	--error_fg: #CAD3F5FF;
	--success: #A6DA95FF;
	--success_bg: #8BD5CAFF;
	--success_fg: #C1FFCBFF;
	--warning: #F5A87FFF;
	--warning_bg: #EED49FFF;
	--warning_fg: #181926FF;
	--button_fg: #CAD3F5FF;
	--dim_label_fg: #CAD3F58C;
	--card_solid_bg: #3A3D4EFF;
	--focusring: #B4BEFE80;
	--scrollbar: #5B607833;
	--scrollbar_hover: #5B607866;
	--scrollbar_active: #5B607899;
}
