/* -------------------------------------- */
/* --- Show Library Sidebar on Hover  --- */
/* -------------------------------------- */
[class*="library_LeftListSizableContainer_"]:not(:hover)
{
	min-width: 6px !important;
	opacity: 0 !important;
	transition: width 200ms var(--ease-out-quad) !important;
	width: 6px !important;
}

[class*="library_LeftListSizableContainer_"]:hover
{
	opacity: 1 !important;
}

[class*="library_Container_"]
{
	background: var(--bg) !important;
}

