:root {
	--bg: #2E3440FF;
	--fg: #ECEFF4FF;
	--border: #4C566AFF;
	--window_bg: #2E3440FF;
	--window_fg: #ECEFF4FF;
	--headerbar_backdrop: #2E3440FF;
	--headerbar_bg: #353C4AFF;
	--headerbar_fg: #ECEFF4FF;
	--headerbar_shade: #3B4252FF;
	--popover_bg: #434C5EFF;
	--popover_fg: #ECEFF4FF;
	--toast_bg: #3B4252FF;
	--toast_fg: #ECEFF4FF;
	--view_bg: #3B4252FF;
	--view_fg: #ECEFF4FF;
	--accent: #88C0D0FF;
	--accent_bg: #88C0D0FF;
	--accent_fg: #ECEFF4FF;
	--accent_disabled: #88C0D080;
	--accent_hover_bg: #88C0D012;
	--accent_active_bg: #88C0D029;
	--destructive: #D08770FF;
	--destructive_bg: #D08770FF;
	--destructive_fg: #2E3440FF;
	--destructive_disabled: #D0877080;
	--destructive_hover_bg: #D0877012;
	--destructive_active_bg: #D0877029;
	--error: #BF616AFF;
	--error_bg: #BF616AFF;
	--error_fg: #2E3440FF;
	--success: #A3BE8CFF;
	--success_bg: #A3BE8CFF;
	--success_fg: #ECEFF4FF;
	--warning: #EBCB8BFF;
	--warning_bg: #EBCB8BFF;
	--warning_fg: #2E3440FF;
	--button_fg: #ECEFF4FF;
	--dim_label_fg: #ECEFF48C;
	--card_solid_bg: #434954FF;
	--focusring: #88C0D080;
	--scrollbar: #88C0D033;
	--scrollbar_hover: #88C0D066;
	--scrollbar_active: #88C0D099;
}
