:root {
	/* ----------------------- */
	/* RGB Colors              */
	/* Format: R, G, B         */
	/* No Hex or rgb() allowed */
	/* ----------------------- */
	/* General */
	--bg_rgb: 46, 52, 64;
	--fg_rgb: 236, 239, 244;

	/* Accent Colors */
	--accent_rgb: 136, 192, 208;
	--accent_bg_rgb: 136, 192, 208;
	--destructive_rgb: 208, 135, 112;
	--destructive_bg_rgb: 208, 135, 112;
	--error_rgb: 191, 97, 106;
	--error_bg_rgb: 191, 97, 106;
	--success_rgb: 163, 190, 140;
	--success_bg_rgb: 163, 190, 140;
	--warning_rgb: 235, 203, 139;
	--warning_bg_rgb: 235, 203, 139;

	/* Scrollbars */
	--scrollbar_rgb: 136, 192, 208;

	/* ----------------------- */
	/* Other Colors            */
	/* ----------------------- */
	/* Darker Backgrounds */
	--view_bg: rgb(59, 66, 82);

	/* Headerbar */
	--headerbar_backdrop: rgb(46, 52, 64);
	--headerbar_bg: rgb(53, 60, 74);

	/* App properties DLC/Worshop Header */
	--card_solid_bg: rgb(67, 73, 84);

	/* Popup Elements */
	--popover_bg: rgb(67, 76, 94);
	--toast_bg: rgb(59, 66, 82);

	/* Accent FG */
	--destructive_fg: rgb(46, 52, 64);
	--error_fg: rgb(46, 52, 64);
	--warning_fg: rgb(46, 52, 64);

	/* Border */
	--border: rgb(76, 86, 106);

}
