/* --------------- */
/* --- Dialogs --- */
/* --------------- */

/* --- Global --- */
/* Window controls */
.title-area
{
	min-height: 45px;
}

.title-bar-actions
{
	height: 36px !important;
	max-height: 36px !important;
	margin-top: 4px !important;
}

.title-bar-actions.window-controls
{
	margin-right: 12px !important;
}

.title-bar-actions .title-area-icon
{
	width: 24px !important;
	height: 24px !important;
	border-radius: 50% !important;
	margin-left: 14px !important;
	background-color: var(--button_bg) !important;
	transition: var(--focus_transition) !important;
}

.title-bar-actions .title-area-icon:hover
{
	background-color: var(--button_hover_bg) !important;
}

.title-bar-actions .title-area-icon:active
{
	background-color: var(--button_active_bg) !important;
}

.title-bar-actions .title-area-icon svg
{
	width: 12px !important;
	height: 12px !important;
}

.title-bar-actions .closeButton svg > *,
.title-bar-actions .maximizeButton svg > *,
.title-bar-actions .minimizeButton svg > *,
.title-bar-actions .restoreButton svg > *
{
	stroke: var(--headerbar_fg) !important;
	stroke-width: 32px !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_WindowControls_"]
{
	flex-basis: 50px !important;
}

.title-bar-actions .title-area-icon.minimizeButton,
.title-bar-actions .title-area-icon.maximizeButton,
.title-bar-actions .title-area-icon.restoreButton
{
	display: none !important;
}

.title-area-icon.maximizeButton svg
{
	width: 7px !important;
}

.title-area-icon.maximizeButton svg rect
{
	width: 160px !important;
	height: 160px !important;
	stroke-width: 70px !important;
}

.title-area-icon.maximizeButton svg line
{
	display: none !important;
}

.title-area-icon.minimizeButton svg
{
	width: 10px !important;
	transform: translateY(0px) !important;
}

/* Blue Line on Dialog Window */
.ModalPosition_TopBar
{
	display: none !important;
}

