/* Show URL in main window headerbar */
body.DesktopUI div._1bGewp3tfzqAF6fVTFFUOz > div.UkR3sY319PuaUNuUWks2K > div._2m_orETo6AghzAnc0sISCt
{
	display: flex !important;
	cursor: default !important;
	-webkit-app-region: no-drag !important;
	position: absolute !important;
	left: 40px !important;
	padding: 4px 8px !important;
	background: transparent !important;
	max-width: 300px !important;
	transition: var(--adw-button-transition) !important;

	&:hover
	{
		background: rgba(var(--adw-headerbar-fg-rgb), var(--adw-hover-opacity)) !important;
	}

	&:active
	{
		background: rgba(var(--adw-headerbar-fg-rgb), var(--adw-active-opacity)) !important;
	}

	div._3izqEKa-zuPIrUDSm1bRvf
	{
		display: none !important;
	}

	div.MZPxEZcxAGtPDf1NYtouS
	{
		color: rgba(var(--adw-headerbar-fg-rgb), var(--adw-dim-label-opacity)) !important;
		font-family: var(--adw-text-font) !important;
		font-size: var(--adw-text-subtitle-size) !important;
		font-weight: var(--adw-text-subtitle-weight) !important;
	}

	@media(max-width: 1500px)
	{
		max-width: 250px !important;
	}

	@media(max-width: 1400px)
	{
		max-width: 200px !important;
	}

	@media(max-width: 1200px)
	{
		max-width: 150px !important;
	}
}
