/* Opacity levels */
:root
{
	--adw-border-opacity: 15%;
	--adw-thin-border-opacity: 5%;
	--adw-focus-border-opacity: 50%;

	--adw-hover-opacity: 7%;
	--adw-active-opacity: 16%;
	--adw-selected-opacity: 10%;
	--adw-selected-hover-opacity: 13%;
	--adw-selected-active-opacity: 19%;

	--adw-view-hover-opacity: 4%;
	--adw-view-active-opacity: 8%;
	--adw-view-selected-opacity: 25%;
	--adw-view-selected-hover-opacity: 32%;
	--adw-view-selected-active-opacity: 39%;

	--adw-window-outline-opacity: 7%;

	--adw-dim-label-opacity: 55%;
	--adw-dimmer-opacity: 30%;
	--adw-disabled-opacity: 50%;
	--adw-strong-disabled-opacity: 30%;

	@media (prefers-contrast: more)
	{
		--adw-border-opacity: 50%;
		--adw-thin-border-opacity: 25%;
		--adw-focus-border-opacity: 80%;

		--adw-dim-label-opacity: 90%;
		--adw-dimmer-opacity: 80%;
		--adw-disabled-opacity: 40%;
		--adw-strong-disabled-opacity: 30%;

		--adw-window-outline-opacity: 30%;
	}
}