/* Other global variables */

:root
{
	--adw-base-transition-curve: cubic-bezier(0.25, 0.46, 0.45, 0.94);

	--adw-gameicon-radius: 4px;
	--adw-gameicon-uninstalled-filter: grayscale(100%) opacity(50%);
}
