:root {
	--bg: #232629FF;
	--fg: #CFCFC2FF;
	--border: #FFFFFF26;
	--window_bg: #232629FF;
	--window_fg: #CFCFC2FF;
	--headerbar_backdrop: #232629FF;
	--headerbar_bg: #323436FF;
	--headerbar_fg: #CFCFC2FF;
	--headerbar_shade: #000000D9;
	--popover_bg: #323538FF;
	--popover_fg: #CFCFC2FF;
	--toast_bg: #323538B3;
	--toast_fg: #CFCFC2FF;
	--view_bg: #232629FF;
	--view_fg: #CFCFC2FF;
	--accent: #3B525EFF;
	--accent_bg: #2D5C76FF;
	--accent_fg: #FFFFFFFF;
	--accent_disabled: #3B525E80;
	--accent_hover_bg: #3B525E12;
	--accent_active_bg: #3B525E29;
	--destructive: #FF7B63FF;
	--destructive_bg: #C01C28FF;
	--destructive_fg: #FFFFFFFF;
	--destructive_disabled: #FF7B6380;
	--destructive_hover_bg: #FF7B6312;
	--destructive_active_bg: #FF7B6329;
	--error: #FF7B63FF;
	--error_bg: #C01C28FF;
	--error_fg: #FFFFFFFF;
	--success: #8FF0A4FF;
	--success_bg: #26A269FF;
	--success_fg: #FFFFFFFF;
	--warning: #F8E45CFF;
	--warning_bg: #CD9309FF;
	--warning_fg: #000000FF;
	--button_fg: #CFCFC2FF;
	--dim_label_fg: #CFCFC28C;
	--card_solid_bg: #393C3FFF;
	--focusring: #3B525E80;
	--scrollbar: #3B525E33;
	--scrollbar_hover: #3B525E66;
	--scrollbar_active: #3B525E99;
}
