/* Hide Window Close Button */

:root
{
	--adw-windowcontrols-margin-left: 0px;
	--adw-windowcontrols-margin-right: 0px;
	--adw-windowcontrols-close-margin-left: 0px;
	--adw-windowcontrols-close-margin-right: 0px;
}

body.DesktopUI .title-bar-actions .title-area-icon.closeButton,
body.DesktopUI .login_CloseButton_1mcCj,
body.DesktopUI ._1mcCj7vv9y3vsXrvF3Oadk
{
	display: none !important;
}
