/* Left Aligned Window Controls */

:root
{
	--adw-windowcontrols-margin-left: 40px;
	--adw-windowcontrols-margin-right: 0px;
	--adw-windowcontrols-close-margin-left: 40px;
	--adw-windowcontrols-close-margin-right: 0px;
}

body.DesktopUI .title-bar-actions.window-controls,
html.client_chat_frame .title-bar-actions.window-controls
{
	flex-direction: row !important;
	order: -99 !important;
}

body.DesktopUI div.steamdesktop_TopBar_3Z7VQ div.steamdesktop_WindowControls_qP17e,
body.DesktopUI div._3Z7VQ1IMk4E3HsHvrkLNgo div.qP17eBPXkfezFfexZ4hC3
{
	flex-basis: var(--adw-windowcontrols-margin-left) !important;
	margin-left: 10px !important;
	order: -1 !important;
}
