/* ------------------------------------------ */
/* --- Show Minimize and Maximize Button  --- */
/* ------------------------------------------ */

:root
{
	--adw-windowcontrols-margin-left: 0px;
	--adw-windowcontrols-margin-right: 114px;
	--adw-windowcontrols-close-margin-left: 0px;
	--adw-windowcontrols-close-margin-right: 40px;
}

.title-bar-actions .title-area-icon.minimizeButton,
.title-bar-actions .title-area-icon.maximizeButton,
.title-bar-actions .title-area-icon.restoreButton
{
	display: block !important;
}

body.DesktopUI div[class*="steamdesktop_TopBar_"] div[class*="steamdesktop_WindowControls_"]
{
	flex-basis: 114px !important;
}
