/* Show Minimize and Maximize Button */

:root
{
	--adw-windowcontrols-margin-left: 0px;
	--adw-windowcontrols-margin-right: 114px;
	--adw-windowcontrols-close-margin-left: 0px;
	--adw-windowcontrols-close-margin-right: 40px;
}

body.DesktopUI div.steamdesktop_TopBar_3Z7VQ div.steamdesktop_WindowControls_qP17e .title-area-icon.minimizeButton,
body.DesktopUI div.steamdesktop_TopBar_3Z7VQ div.steamdesktop_WindowControls_qP17e .title-area-icon.maximizeButton,
body.DesktopUI div.steamdesktop_TopBar_3Z7VQ div.steamdesktop_WindowControls_qP17e .title-area-icon.restoreButton,
body.DesktopUI div._3Z7VQ1IMk4E3HsHvrkLNgo div.qP17eBPXkfezFfexZ4hC3 .title-area-icon.minimizeButton,
body.DesktopUI div._3Z7VQ1IMk4E3HsHvrkLNgo div.qP17eBPXkfezFfexZ4hC3 .title-area-icon.maximizeButton,
body.DesktopUI div._3Z7VQ1IMk4E3HsHvrkLNgo div.qP17eBPXkfezFfexZ4hC3 .title-area-icon.restoreButton
{
	display: block !important;
}

body.DesktopUI div.steamdesktop_TopBar_3Z7VQ div.steamdesktop_WindowControls_qP17e,
body.DesktopUI div._3Z7VQ1IMk4E3HsHvrkLNgo div.qP17eBPXkfezFfexZ4hC3
{
	flex-basis: 114px !important;
}
