/* Show Minimize and Maximize Button */

:root
{
	--adw-windowcontrols-margin-left: 0px;
	--adw-windowcontrols-margin-right: 114px;
	--adw-windowcontrols-close-margin-left: 0px;
	--adw-windowcontrols-close-margin-right: 40px;
}

body.DesktopUI .title-bar-actions .title-area-icon.minimizeButton,
body.DesktopUI .title-bar-actions .title-area-icon.maximizeButton,
body.DesktopUI .title-bar-actions .title-area-icon.restoreButton,
html.client_chat_frame .title-bar-actions .title-area-icon.minimizeButton,
html.client_chat_frame .title-bar-actions .title-area-icon.maximizeButton,
html.client_chat_frame .title-bar-actions .title-area-icon.restoreButton
{
	display: block !important;
}
