:root {
	--bg: #fafafaFF;
	--fg: #000000cc;
	--border: #ebebebFF;
	--window_bg: #fafafaFF;
	--window_fg: #000000cc;
	--headerbar_backdrop: #fafafaFF;
	--headerbar_bg: #ebebebFF;
	--headerbar_fg: #000000cc;
	--headerbar_shade: #00000061;
	--headerbar_button_bg_hover: #00000012;
	--headerbar_button_bg_active: #00000026;
	--headerbar_button_bg_checked: #0000001a;
	--headerbar_button_bg_checked_hover: #00000021;
	--headerbar_button_bg_checked_active: #00000030;
	--popover_bg: #ffffffff;
	--popover_fg: #000000cc;
	--toast_bg: #000000B3;
	--toast_fg: #FFFFFFFF;
	--view_bg: #ffffffFF;
	--view_fg: #000000cc;
	--accent: #1c71d8FF;
	--accent_bg: #3584E4FF;
	--accent_fg: #FFFFFFFF;
	--accent_disabled: #78AEED80;
	--accent_hover_bg: #78AEED12;
	--accent_active_bg: #78AEED29;
	--destructive: #c01c28FF;
	--destructive_bg: #e01b24FF;
	--destructive_fg: #FFFFFFFF;
	--destructive_disabled: #FF7B6380;
	--destructive_hover_bg: #FF7B6312;
	--destructive_active_bg: #FF7B6329;
	--error: #c01c28FF;
	--error_bg: #e01b24FF;
	--error_fg: #FFFFFFFF;
	--success: #1b8553FF;
	--success_bg: #2ec27eFF;
	--success_fg: #FFFFFFFF;
	--warning: #9c6e03FF;
	--warning_bg: #e5a50aFF;
	--warning_fg: #FFFFFFFF;
	--button_fg: #000000cc;
	--button_bg: #0000001a;;
	--button_hover_bg: #00000026;
	--button_active_bg: #0000004d;
	--button_disabled_bg: #00000014;
	--button_disabled_fg: #00000066;
	--switch_bg: #ffffffff;
	--dim_label_fg: #0000008C;
	--card_bg: #FFFFFFFF;
	--card_solid_bg: #3A3A3AFF;
	--focusring: #1c71d880;
	--scrollbar: #FFFFFF33;
	--scrollbar_hover: #FFFFFF66;
	--scrollbar_active: #FFFFFF99;
}
