/* -------------- */
/* --- Global --- */
/* -------------- */
/* Store/Community Background */
div#responsive_page_template_content
{
	background: var(--view_bg);
}

/* Mid Page Gradient */
.home_ctn.tab_container
{
	background: none !important;
}

/* Friends Page Gradient */
#pagecontent > .friends_header_bg
{
	background: none !important;
}

/* Friends Page Title Bar */
#friends_list > .profile_friends.title_bar
{
	background: var(--bg) !important;
}

/* Footer */
.responsive_page_content #footer
{
	background: var(--bg) !important;
}

