/* --- Main Library View --- */
/* Play Button */
[class*="appportrait_Play_1"]
{
	border-radius: var(--button_radius) !important;
}

[class*="appportrait_Download_"]
{
	border-radius: var(--button_radius) !important;
}

/* Rounded Corners on Game Logos */
[class*="appportrait_LibraryItemBox_"],
[class*="libraryhomenewupdates_PartnerEventRowCapsule_MainImageContainer_"],
[class*="appportraithover_AppPortraitHover_"],
[class*="appportraithover_CapsuleBackgroundContainer_"]
{
	border-radius: var(--card_radius) !important;
}

/* Game Hours Subscript */
[class*="appportrait_LibraryItemBoxSubscript_"]
{
	background: var(--toast_bg) !important;
	border-radius: var(--toast_border_radius) !important;
	margin-top: -20px !important;
}

/* Update Summary */
[class*="libraryhomenewupdates_HoversEnabled_"]:hover [class*="libraryhomenewupdates_EventSummaryContainer_"]
{
	border-radius: var(--card_radius);
}
