/* Rounded Corners */
[class*="appactionbutton_ButtonChild"],
[class*="appactivityday_EventBody_"],
[class*="appactivityday_PartnerEventMediumImage_Image_"],
[class*="appactivityday_PartnerEventLargeImage_Image_"],
[class*="appactivityday_PartnerEventLargeImage_Container_"],
[class*="appactivityday_PartnerEvent_"],
[class*="appdetailsactivitysection_FetchMoreContainer_"],
[class*="appdetailscommunityfeed_HeaderStyles_"],
[class*="appdetailsdlcsection_Art_"],
[class*="appdetailsprimarylinkssection_LinksSectionBody_"],
[class*="appdetailssection_Highlight_"],
[class*="appdetailssection_RightColumnSection_"],
[class*="appdetailsspotlight_ReviewContainer_"],
[class*="appdetailsworkshopsection_FeaturedItemImage_"],
[class*="appdetailsworkshopsection_WorkshopContainer_"],
[class*="libraryassetimage_Visible_"],
[class*="spotlight_MajorEventImageContainer_"],
[class*="spotlight_MajorEventContainer_"],
[class*="spotlight_MajorEventBackground_"],
[class*="writereview_RightContainer_"] button,
[class*="appdetailsgameinfopanel_Description_"],
[class*="appactivitydlc_Contents_"]
{
	border-radius: var(--card_radius) !important;
	background: var(--card_bg) !important;
	border: none !important;
}

[class*="appdetailsachievementssection_AdditionalItem_"],
[class*="appdetailscommunityfeed_LoadContentButton_"]
{
	border-radius: var(--button_radius) !important;
	background: var(--button_bg) !important;
	border: none !important;
}

/* Play button, streaming device dropdown */
[class*="appactionbutton_PlayButtonContainer"]
{
	border-radius: var(--button_radius) !important;
	background-color: var(--accent_bg) !important;
	color: var(--accent_fg) !important;
}

[class*="appactionbutton_PlayButtonContainer"],
[class*="appactionbutton_ShowingStreaming"]
{
	min-width: 140px !important;
}

[class*="appactionbutton_PlayButtonContainer"][class*="appactionbutton_Green"]
{
	background-color: var(--success_bg) !important;
	color: var(--success_fg) !important;
}

[class*="appactionbutton_PlayButtonContainer"][class*="appactionbutton_Disabled"]
{
	background-color: var(--button_disabled_bg) !important;
	color: var(--button_disabled_fg) !important;
}

[class*="appactionbutton_PlayButtonContainer"] [class*="appactionbutton_ButtonText"]
{
	color: var(--button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: 18px !important;
	line-height: 32px !important;
	font-weight: 700 !important;
	letter-spacing: normal !important;
	text-transform: none !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:first-child > svg
{
	display: none !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"] > svg > path,
[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"] > svg > polygon
{
	stroke: currentColor !important;
	fill: currentColor !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]
{
	margin: 0 !important;
	border-radius: var(--button_radius) !important;
	background-color: transparent !important;
	transition: background 0.15s, border-color 0.15s, border-top-left-radius 0s, border-bottom-left-radius 0s !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:hover
{
	background-color: var(--button_hover_bg) !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:active
{
	background-color: var(--button_active_bg) !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:last-child:not(:first-child)
{
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-left: 1px var(--button_active_bg) solid !important;
}

[class*="appactionbutton_PlayButtonContainer"]:hover > [class*="appactionbutton_ButtonChild"]:last-child:not(:first-child)
{
	border-radius: var(--button_radius) !important;
	border-color: transparent !important;
}

/* Hover Highlight */
[class*="appactivityday_PartnerEventTextOnly_Container_"]:hover,
[class*="appactivityday_PartnerEventMediumImage_Container_"]:hover,
[class*="appactivityday_PartnerEventLargeImage_Container_"]:hover,
[class*="appdetailsachievementssection_AdditionalItem_"]:hover,
[class*="appdetailscommunityfeed_LoadContentButton_"]:hover
{
	background: var(--button_hover_bg) !important;
}

[class*="appactivityday_PartnerEventTextOnly_Container_"],
[class*="appactivityday_PartnerEventMediumImage_Container_"],
[class*="appactivityday_PartnerEventLargeImage_Container_"]
{
	border-radius: var(--card_radius) !important;
}

/* Remove Unneeded Backgrounds */
[class*="appactivityday_PartnerEventMediumImage_Container_"],
[class*="appdetailsdlcsection_Gloss_"],
[class*="writereview_RatingContainer_"],
[class*="appdetailsgameinfopanel_Container_"],
[class*="appactivityday_LeftSideMajorUpdateBar_"],
[class*="appactivityday_PartnerEventLargeUpdate_"]
{
	background: none !important;
}

/* Remove Image Borders */
[class*="appactivityday_PartnerEvent_"],
[class*="appactivityday_PartnerEventLargeUpdate_"],
[class*="spotlight_MajorEventContainer_"],
[class*="appactivityday_PartnerEventLargeUpdate_"]
{
	border-image-source: none !important;
}

/* Border Radius Fixes */
[class*="appdetailsworkshopsection_WorkshopContainer_"]
{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

[class*="appdetailsworkshopsection_WorkshopHightlight_"]
{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

[class*="appdetailsachievementssection_Icon_"],
[class*="appdetailsachievementssection_AdditionalItem_"]
{
	border-radius: var(--button_radius) !important;
}

[class*="appdetailshover_AppDetailsHover_"],
[class*="appdetailshover_Background_"]
{
	border-radius: var(--card_radius) !important;
}

/* Hide Blur From Major Updates */
[class*="appactivityday_Blur_"]
{
	display:none;
}

/* Partner Updates */
[class*="appactivityday_PartnerEventLargeUpdate_"]
{
	box-shadow: none !important;
}

[class*="appactivityday_PartnerEventTypeUpdate_"]
{
	color: var(--fg) import !important;
}

[class*="appactivityday_PartnerEventLargeImage_Summary_"]
{
	color: #929799 !important;
}

[class*="appactivityday_PartnerEventFeaturedHeader_"]
{
	background: none !important;
}

/* Post Game Summary */
[class*="spotlightgameplaysummary_SummaryCarouselContainer_"]
{
	background: var(--card_bg) !important;
	border-radius: var(--card_radius) !important;
}

[class*="spotlightgameplaysummary_SummaryCarouselContainer_"]::after
{
	box-shadow: none !important;
}

/* Remove Glassy Background */
[class*="appdetailsoverview_BackdropGlass_"]
{
	background: none !important;
	border-top: 1px solid var(--border) !important;
}

[class*="appdetailsplaysection_Glassy_"][class*="appdetailsplaysection_PlayBar_"]
{
	background: var(--view_bg) !important;
	border-bottom: 1px solid var(--border) !important;
}

[class*="appdetailsoverview_Container_"]
{
	background: var(--bg) !important;
}

/* Available DLC */
[class*="appactivitydlc_Contents_"],
[class*="appactivitydlc_CarouselItem_"] [class*="appactivitydlc_CarouselImage_"]
{
	box-shadow: none !important;
}

[class*="appactivitydlc_ViewAll_"]
{
	border-radius: var(--button_radius) !important;
}

[class*="appactivitydlc_ViewAll_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

[class*="appdetailsdlcsection_StoreHover_"]
{
	border-radius: var(--card_radius) !important;
}

[class*="tooltip_ToolTipCustom_"]
{
	background: var(--popover_bg) !important;
	border-radius: var(--popover_radius) !important;
}

/* Activity Post */
[class*="posttextentry_PostTextEntryArea_"],
[class*="posttextentry_PostTextEntryArea_"]:focus,
[class*="posttextentry_PostButton_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	box-shadow: none !important;
}

[class*="posttextentry_PostButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

/* Comment and Like Buttons */
[class*="comment_thread_CanClick_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

[class*="comment_thread_ActivityCommentThread_"]
{
	background: none !important;
}

/* AppDetails Play Section Buttons */
[class*="appdetailsplaysection_MenuButton_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
}

[class*="appdetailsplaysection_MenuButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

/* App Details Link Buttons */
[class*="appdetailsprimarylinkssection_LinksSectionBody_"]
{
	padding: 0px 10px !important;
}

[class*="appdetailsprimarylinkssection_Link_"]
{
	padding: 5px 10px !important;
}

[class*="appdetailsprimarylinkssection_Link_"]
{
	border-radius: var(--button_radius) !important;
}

[class*="appdetailsprimarylinkssection_Link_"]:hover
{
	background: var(--button_hover_bg) !important;
}

/* Right Side Buttons */
[class*="appdetailsbutton_AppDetailsButton_"]
{
	background: none !important;
	border-radius: var(--button_radius) !important;
}

[class*="appdetailsbutton_AppDetailsButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}
