/* Rounded Corners */
[class*="appactionbutton_ButtonChild"],
[class*="appactivityday_EventBody_"],
[class*="appactivityday_PartnerEventMediumImage_Image_"],
[class*="appactivityday_PartnerEventLargeImage_Image_"],
[class*="appactivityday_PartnerEventLargeImage_Container_"],
[class*="appactivityday_PartnerEvent_"],
[class*="appdetailsactivitysection_FetchMoreContainer_"],
[class*="appdetailscommunityfeed_HeaderStyles_"],
[class*="appdetailsdlcsection_Art_"],
[class*="appdetailsprimarylinkssection_LinksSectionBody_"],
[class*="appdetailssection_Highlight_"],
[class*="appdetailssection_RightColumnSection_"],
[class*="appdetailsspotlight_ReviewContainer_"],
[class*="appdetailsworkshopsection_FeaturedItemImage_"],
[class*="appdetailsworkshopsection_WorkshopContainer_"],
[class*="libraryassetimage_Visible_"],
[class*="spotlight_MajorEventImageContainer_"],
[class*="spotlight_MajorEventContainer_"],
[class*="spotlight_MajorEventBackground_"],
[class*="writereview_RightContainer_"] button
{
	border-radius: var(--card_radius) !important;
	background: var(--card_bg_color) !important;
	border: none !important;
}

/* Play button, streaming device dropdown */
[class*="appactionbutton_PlayButtonContainer"]
{
	border-radius: var(--button_radius) !important;
	background-color: var(--accent_bg_color) !important;
	color: var(--accent_fg_color) !important;
}

[class*="appactionbutton_PlayButtonContainer"][class*="appactionbutton_Green"]
{
	background-color: var(--success_bg_color) !important;
	color: var(--success_fg_color) !important;
}

[class*="appactionbutton_PlayButtonContainer"][class*="appactionbutton_Disabled"]
{
	background-color: var(--button_disabled_bg) !important;
	color: var(--button_disabled_fg) !important;
}

[class*="appactionbutton_PlayButtonContainer"] [class*="appactionbutton_ButtonText"]
{
	text-transform: none !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"] > svg > path,
[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"] > svg > polygon
{
	stroke: currentColor !important;
	fill: currentColor !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]
{
	margin: 0 !important;
	border-radius: var(--button_radius) !important;
	background-color: transparent !important;
	transition: background 0.15s, border-color 0.15s, border-top-left-radius 0s, border-bottom-left-radius 0s !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:hover
{
	background-color: var(--button_hover_bg) !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:active
{
	background-color: var(--button_active_bg) !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:last-child:not(:first-child)
{
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-left: 1px var(--button_active_bg) solid !important;
}

[class*="appactionbutton_PlayButtonContainer"]:hover > [class*="appactionbutton_ButtonChild"]:last-child:not(:first-child)
{
	border-radius: var(--button_radius) !important;
	border-color: transparent !important;
}

/* Hover Highlight */
[class*="appactivityday_PartnerEventTextOnly_Container_"]:hover,
[class*="appactivityday_PartnerEventMediumImage_Container_"]:hover,
[class*="appactivityday_PartnerEventLargeImage_Container_"]:hover
{
	background: var(--button_hover_bg) !important;
}

[class*="appactivityday_PartnerEventTextOnly_Container_"],
[class*="appactivityday_PartnerEventMediumImage_Container_"],
[class*="appactivityday_PartnerEventLargeImage_Container_"]
{
	border-radius: var(--card_radius) !important;
}

/* Remove Unneeded Backgrounds */
[class*="appactivityday_PartnerEventMediumImage_Container_"],
[class*="appdetailsdlcsection_Gloss_"],
[class*="writereview_RatingContainer_"]
{
	background: none !important;
}

/* Remove Image Borders */
[class*="appactivityday_PartnerEvent_"],
[class*="appactivityday_PartnerEventLargeUpdate_"],
[class*="spotlight_MajorEventContainer_"]
{
	border-image-source: none !important;
}

/* Border Radius Fixes */
[class*="appdetailsworkshopsection_WorkshopContainer_"]
{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

[class*="appdetailsworkshopsection_WorkshopHightlight_"]
{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

[class*="appdetailsachievementssection_Icon_"]
{
	border-radius: var(--button_radius) !important;
}

/* Hide Blur From Major Updates */
[class*="appactivityday_Blur_"]
{
	display:none;
}

