:root
{
	--adw-color-scheme: dark;

	--adw-accent-bg-light: var(--adw-system-accent, #3a515d);
	--adw-accent-bg-dark: var(--adw-system-accent, #3a515d);

	--adw-destructive-bg-light: #514045;
	--adw-destructive-bg-dark: #514045;
	--adw-destructive-fg: #ffffff;

	--adw-success-bg-light: #425047;
	--adw-success-bg-dark: #425047;
	--adw-success-fg: #ffffff;

	--adw-warning-bg-light: #4d4c43;
	--adw-warning-bg-dark: #4d4c43;
	--adw-warning-fg: rgba(0, 0, 0, 0.8);

	--adw-error-bg-light: #514045;
	--adw-error-bg-dark: #514045;
	--adw-error-fg: #ffffff;

	--adw-window-bg: #2d353b;
	--adw-window-fg: #d3c6aa;

	--adw-view-bg: #343f44;
	--adw-view-fg: #d3c6aa;

	--adw-headerbar-bg: #232a2e;
	--adw-headerbar-fg: #d3c6aa;
	--adw-headerbar-backdrop: #2d353b;
	--adw-headerbar-shade: rgba(0, 0, 0, 0.36);
	--adw-headerbar-darker-shade: rgba(0, 0, 0, 0.9);

	--adw-sidebar-bg: #232a2e;
	--adw-sidebar-fg: #d3c6aa;
	--adw-sidebar-backdrop: #2d353b;
	--adw-sidebar-shade: rgba(0, 0, 0, 0.36);

	--adw-secondary-sidebar-bg: #232a2e;
	--adw-secondary-sidebar-fg: #d3c6aa;
	--adw-secondary-sidebar-backdrop: #2d353b;
	--adw-secondary-sidebar-shade: rgba(0, 0, 0, 0.36);

	--adw-card-bg: rgba(0, 0, 0, 0.08);
	--adw-card-fg: #d3c6aa;
	--adw-card-shade: rgba(0, 0, 0, 0.36);

	--adw-dialog-bg: #3d484d;
	--adw-dialog-fg: #d3c6aa;

	--adw-popover-bg: #3d484d;
	--adw-popover-fg: #d3c6aa;
	--adw-popover-shade: rgba(61, 72, 77, 0.36);

	--adw-thumbnail-bg: #343f44;
	--adw-thumbnail-fg: #d3c6aa;

	--adw-shade: rgba(0, 0, 0, 0.36);

	--adw-banner: #7d7d83;
}