body.DesktopUI
{
	div._2sYIghGVXJr6tsQVvcryy8, /* gamelistsectionheader_Container */
	div._2-O4ZG0KrnSrzISHBKctFQ /* gamelistentry_Container */
	{
		height: 26px !important;
		line-height: 26px !important;
		margin: 0 calc(6px - var(--adw-local-scrollbar-size)) 0 6px !important;
		background: none !important;
		cursor: var(--adw-cursor-pointer) !important;
		box-sizing: border-box !important;
		border: none !important;
		border-radius: var(--adw-button-radius) !important;
		position: relative !important;
		color: var(--adw-sidebar-fg) !important;
		box-shadow: none !important;

		--text-color: var(--adw-sidebar-fg) !important;

		&,
		div,
		span
		{
			color: var(--text-color) !important;
			font-family: var(--adw-text-font) !important;
			font-size: var(--adw-text-gamelist-size) !important;
			font-weight: var(--adw-text-gamelist-weight) !important;
		}

		/* Installed */
		&._2ws8DONH9fxQjPXEmRpujE
		{
			--text-color: var(--adw-sidebar-fg) !important;
		}

		/* Uninstalled */
		&._5YTBr7WwIfzVU_3nUtAph
		{
			--text-color: color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-dim-label-opacity), transparent) !important;
		}

		/* Updating, syncing */
		&._1LVQp3h_vGOZ8TuDUEge0k,
		&._1yaIZGJb4PvyjF3_SSQxFx
		{
			--text-color: var(--adw-accent) !important;
		}

		/* Sync error */
		&.cMb2tLY-QjdRohM5U6Btp,
		div.cMb2tLY-QjdRohM5U6Btp,
		&._26PT_OTo7-JDunJWeZgjT8,
		div._26PT_OTo7-JDunJWeZgjT8
		{
			--text-color: var(--adw-warning) !important;
		}

		/* Running */
		&._10GdoB3tQXXGFToQ3yY_SK
		{
			--text-color: var(--adw-success) !important;
		}

		._2RggXvVkWMDvvxFegjtKso, /* DownloadDash */
		._3uk3F1BmAJQR6rl1TPcaif /* DownloadProgress */
		{
			opacity: var(--adw-dim-label-opacity) !important;
		}

		span._2mZ8LlvoUiyeEUtIWuTri, /* SectionName */
		div._29uten9Yy8q-n7woDEOXVF /* SectionCount */
		{
			height: 26px !important;
			line-height: 26px !important;
			color: var(--adw-sidebar-fg) !important;
			font-family: var(--adw-text-font) !important;
			font-size: var(--adw-text-gamelist-section-size) !important;
			font-weight: var(--adw-text-gamelist-section-weight) !important;
			letter-spacing: normal !important;
			text-transform: none !important;

			&._29uten9Yy8q-n7woDEOXVF
			{
				color: color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-dim-label-opacity), transparent) !important;
				font-weight: var(--adw-text-gamelist-weight) !important;
			}
		}

		&:hover
		{
			background: color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-hover-opacity), transparent) !important;
			box-shadow: var(--adw-button-hc-outline) !important;
		}

		&:active
		{
			background: color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-active-opacity), transparent) !important;
			box-shadow: var(--adw-button-hc-outline) !important;
		}

		/* Selected */
		&.sXMOsx8OIRalBMxO9yFY5,
		&._1UBpAXP408Ez_L_mXhW5Q9,
		div._1UBpAXP408Ez_L_mXhW5Q9 > &
		{
			background: color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-selected-opacity), transparent) !important;
			box-shadow: var(--adw-button-hc-outline) !important;

			&:hover
			{
				background: color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-selected-hover-opacity), transparent) !important;
				box-shadow: var(--adw-button-hc-outline) !important;
			}

			&:active
			{
				background: color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-selected-active-opacity), transparent) !important;
				box-shadow: var(--adw-button-hc-outline) !important;
			}
		}

		/* Previous selected */
		div.Panel:has(div._1UBpAXP408Ez_L_mXhW5Q9 > &) + div.Panel > div._1UBpAXP408Ez_L_mXhW5Q9 > &
		{
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}

		/* Next selected */
		div.Panel:has(+ div.Panel > div._1UBpAXP408Ez_L_mXhW5Q9 > &) > div._1UBpAXP408Ez_L_mXhW5Q9 > &
		{
			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}

		/* Context menu open */
		&._1dcGFHhye9BeEOg7CkFNQG,
		&._3km84Vscc0uS91f0RN_30C
		{
			background: color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-selected-active-opacity), transparent) !important;
			box-shadow: var(--adw-button-hc-outline), var(--adw-focus-border-thin) !important;
		}
	}

	/* gamelist_Container */
	div._1ijTaXJJA5YWl_fW2IxcaT
	{
		div.ReactVirtualized__Grid
		{
			padding: 6px 0 !important;
			animation: --adw-local-scrollbar-size forwards !important;
			animation-timeline: scroll(y self) !important;

			div.ReactVirtualized__Grid__innerScrollContainer > div
			{
				max-width: 100% !important;

				&:hover
				{
					max-width: fit-content !important;
				}
			}
		}
	}

	div._2sYIghGVXJr6tsQVvcryy8, /* gamelistsectionheader_Container */
	div._1vO6BoiVslZgs1kqDGdUs8 /* gamelistentry_GameListEntryContainer */
	{
		border: none !important;
		padding: 0 6px !important;
		background: none !important;
		box-shadow: none !important;

		& > div._3cV3O8FnPQqpJO5kIMUlLX
		{
			padding: 0 !important;
		}

		div._3SFRZYIb9Y2q7YsVtB3YKb, /* collapseicon_Container */
		& > div.ga1hyw11cdBVodrCAidPF, /* gamelistentry_GameIcon */
		& > div._2kzMb_F7UTOEdecAFftN-l /* gamelistentry_AppIconDownloading */
		{
			padding: 0 !important;
			margin: 3px 6px 3px 0 !important;
			width: 20px !important;
			height: 20px !important;
			border-radius: var(--adw-gameicon-radius) !important;
			overflow: hidden !important;
		}

		/* gamelistentry_AppIconDownloading */
		& > div._2kzMb_F7UTOEdecAFftN-l
		{
			border-radius: 50% !important;

			/* gamelistentry_GameIcon */
			& > div.ga1hyw11cdBVodrCAidPF
			{
				margin: 0 !important;
			}

			/* gamelistentry_DownloadProgressSVG */
			& > svg.f6-7-5CWFxNqF2BycKWlb
			{
				width: 20px !important;
				height: 20px !important;
				margin: 0 !important;

				& > circle
				{
					stroke: var(--adw-accent) !important;
					stroke-width: 40px !important;
				}
			}
		}

		& > svg
		{
			display: none !important;
		}

		/* gamelistentry_FriendIsPlaying */
		& > div.cNZ3wORgnf1KSNhI2eE2M
		{
			width: 16px !important;
			height: 16px !important;
			line-height: 16px !important;
			position: absolute !important;
			left: auto !important;
			right: 10px !important;
			top: 5px !important;
			opacity: 0.5 !important;

			& > svg *
			{
				fill: var(--adw-success) !important;
			}

			&:hover
			{
				opacity: 1 !important;
			}
		}

		/* Tool icon container */
		& > div._2-J2nMJ1zmDok8-jqXlf1e
		{
			width: 0 !important;
			height: 0 !important;
			margin: 0 !important;
			padding: 0 !important;
			
			/* Tool icon */
			div._3XmPzyQFrH_CwSk4SxurMz
			{
				width: 16px !important;
				height: 16px !important;
				line-height: 16px !important;
				position: absolute !important;
				left: auto !important;
				right: 6px !important;
				top: 5px !important;

				& > svg *
				{
					fill: color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-dim-label-opacity), transparent) !important;
				}
			}
		}

		&:has(div._3XmPzyQFrH_CwSk4SxurMz)
		{
			padding-right: 24px !important;
		}

		/* .gamelistentry_Uninstalled .gamelistentry_GameIcon */
		&._5YTBr7WwIfzVU_3nUtAph div.ga1hyw11cdBVodrCAidPF
		{
			filter: var(--adw-gameicon-uninstalled-filter) !important;
		}

		/* .collapseicon_Container */
		div._3SFRZYIb9Y2q7YsVtB3YKb > svg
		{
			width: 20px !important;
			height: 20px !important;
			margin: 0 !important;

			line
			{
				stroke: currentColor !important;
			}
		}
	}

	/* Hover overlay */
	div.EUN4GPmCCaj1QX2Yy9CVb,
	div._2_lmTz0tA4NOSle5WaO1PZ
	{
		div._3cMVyOc-9F9Jvp3uKF7_xj
		{
			background-color: var(--adw-sidebar-bg) !important;
			background-image: linear-gradient(0deg, color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-hover-opacity), transparent), color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-hover-opacity), transparent)) !important;
			border-radius: var(--adw-button-radius) !important;
			box-shadow: var(--adw-button-hc-outline) !important;

			/* Selected */
			&._1UBpAXP408Ez_L_mXhW5Q9
			{
				background-image: linear-gradient(0deg, color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-selected-hover-opacity), transparent), color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-selected-hover-opacity), transparent)) !important;
			}
		}
	}

	/* div.gamelistentry_Container:not(.gamelistentry_HoverOverlay) > div.gamelistentry_GameListEntryContainer */
	div._2-O4ZG0KrnSrzISHBKctFQ:not(._3cMVyOc-9F9Jvp3uKF7_xj) > div._1vO6BoiVslZgs1kqDGdUs8 > span
	{
		-webkit-mask-image: linear-gradient(to left, transparent, black 16px) !important;
		width: -webkit-fill-available !important;
		overflow: hidden !important;
	}

	/** Remove unneeded inner backgrounds */
	div._2-O4ZG0KrnSrzISHBKctFQ *,
	div._2-O4ZG0KrnSrzISHBKctFQ *:hover,
	div._2-O4ZG0KrnSrzISHBKctFQ *:active
	{
		background: none !important;
	}

	/* Drag & Drop */
	div._2sYIghGVXJr6tsQVvcryy8._2iS5rrpqHApjSzVZBrJuab, /* div.gamelistsectionheader_Container.gamelistsectionheader_DropOption */
	div._2-O4ZG0KrnSrzISHBKctFQ._3WdXWyhLHLmRV1y0koSG9I /* div.gamelistentry_Container.gamelistentry_DropOption */
	{
		&::before
		{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			border-radius: inherit;
			border: 1px color-mix(in srgb, var(--adw-accent) var(--adw-focus-border-opacity), transparent) dashed;
		}

		&._2sYIghGVXJr6tsQVvcryy8._2iS5rrpqHApjSzVZBrJuab:not(._1u3dMjGnp9Hs5DrFMRFHtH)
		{
			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 0 !important;

			&::before
			{
				border-bottom-width: 0 !important;
			}
		}

		&._2-O4ZG0KrnSrzISHBKctFQ._3WdXWyhLHLmRV1y0koSG9I
		{
			border-radius: 0 !important;

			&::before
			{
				border-top-width: 0 !important;
				border-bottom-width: 0 !important;
			}
	
			/* gamelistentry_LastInCollection */
			&._1VBNpnuk5eWT3VSCWNH57k
			{
				border-bottom-left-radius: var(--adw-button-radius) !important;
				border-bottom-right-radius: var(--adw-button-radius) !important;
			
				&::before
				{
					border-bottom-width: 1px !important;
				}
			}
		}

		&._3zHMJ5G47DFRWd_Mld_lU2, /* gamelistsectionheader_DropTarget */
		&._1m8McNxY74W6zXfUn8Bq81 /* gamelistentry_DropTarget */
		{
			background: color-mix(in srgb, var(--adw-sidebar-fg) var(--adw-hover-opacity), transparent) !important;

			&::before
			{
				border-style: solid !important;
			}
		}
	}
}