:root
{
	--adw-color-scheme: dark !important;

	--adw-accent-bg-light: var(--adw-system-accent, #3584e4) !important;
	--adw-accent-bg-dark: var(--adw-system-accent, #3584e4) !important;

	--adw-destructive-bg-light: #c01c28 !important;
	--adw-destructive-bg-dark: #c01c28 !important;
	--adw-destructive-fg: #ffffff !important;

	--adw-success-bg-light: #26a269 !important;
	--adw-success-bg-dark: #26a269 !important;
	--adw-success-fg: #ffffff !important;

	--adw-warning-bg-light: #cd9309 !important;
	--adw-warning-bg-dark: #cd9309 !important;
	--adw-warning-fg: rgba(0, 0, 0, 0.8) !important;

	--adw-error-bg-light: #c01c28 !important;
	--adw-error-bg-dark: #c01c28 !important;
	--adw-error-fg: #ffffff !important;

	--adw-window-bg: #151c23 !important;
	--adw-window-fg: #ffffff !important;

	--adw-view-bg: #24272f !important;
	--adw-view-fg: #ffffff !important;

	--adw-headerbar-bg: #24272f !important;
	--adw-headerbar-fg: #ffffff !important;
	--adw-headerbar-backdrop: #151c23 !important;
	--adw-headerbar-shade: rgba(0, 0, 0, 0.36) !important;
	--adw-headerbar-darker-shade: rgba(0, 0, 0, 0.9) !important;

	--adw-sidebar-bg: #24272f !important;
	--adw-sidebar-fg: #ffffff !important;
	--adw-sidebar-backdrop: #151c23 !important;
	--adw-sidebar-shade: rgba(0, 0, 0, 0.36) !important;

	--adw-secondary-sidebar-bg: #24272f !important;
	--adw-secondary-sidebar-fg: #ffffff !important;
	--adw-secondary-sidebar-backdrop: #151c23 !important;
	--adw-secondary-sidebar-shade: rgba(0, 0, 0, 0.36) !important;

	--adw-card-bg: rgba(255, 255, 255, 0.08) !important;
	--adw-card-fg: #ffffff !important;
	--adw-card-shade: rgba(0, 0, 0, 0.36) !important;

	--adw-dialog-bg: #151c23 !important;
	--adw-dialog-fg: #ffffff !important;

	--adw-popover-bg: #151c23 !important;
	--adw-popover-fg: #ffffff !important;
	--adw-popover-shade: rgba(0, 0, 0, 0.36) !important;

	--adw-thumbnail-bg: #151c23 !important;
	--adw-thumbnail-fg: #ffffff !important;

	--adw-shade: rgba(0, 0, 0, 0.36) !important;

	--adw-banner: #7d7d83 !important;
}