/* --------------- */
/* --- Library --- */
/* --------------- */

/* Post Login Loading Screen */
#SteamDesktop div[class*="index_Container_"][class*="index_PreloadThrobber_"]
{
	background: var(--bg) !important;
}

/* Library Horizontal Scrollbar Workaround */
html[class*="gamepadui_SteamUIPopupHTML_"]
{
	overflow-x: hidden;
}

/* --- Main Library View --- */
/* Backgrounds */
#SteamDesktop div[class*="library_Container_"],
#SteamDesktop div[class*="libraryhome_LibraryHome_"],
#SteamDesktop div[class*="library_AppDetailsTransitionGroup_"]
{
	background: var(--bg) !important;
	box-shadow: none !important;
}

#SteamDesktop div[class*="libraryhome_UpdatesContainer_"]
{
	background: var(--view_bg) !important;
	border-bottom: 1px solid var(--border) !important;
}

#SteamDesktop div[class*="libraryhome_Container_"]
{
	background: none !important;
}

/* Mouse Over Descriptions */
#SteamDesktop div[class*="appdetailsgameinfopanel_Description_"]
{
	background: var(--popover_bg) !important;
}

/* Showcase Headers */
#SteamDesktop div[class*="libraryhomeshowcases_CollectionDropDown_"] ._DialogInputContainer,
#SteamDesktop div[class*="libraryhomeshowcases_CountDisplay_"],
#SteamDesktop div[class*="libraryhome_UpdatesContainer_"] div[class*="pageablecontainer_Name_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_2_weight) !important;
	font-size: var(--title_2_size) !important;
}

#SteamDesktop div[class*="appgrid_SortingDropDownLabel_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_3_weight) !important;
	font-size: var(--title_3_size) !important;
}

#SteamDesktop div[class*="appgrid_SortingDropDown_"] > ._DialogInputContainer
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

#SteamDesktop div[class*="appgrid_SortingDropDown_"] > ._DialogInputContainer .DialogDropDown_Arrow svg
{
	fill: var(--fg) !important;
}

#SteamDesktop div[class*="libraryhomenewupdates_SettingsButton_"] svg path
{
	fill: var(--dim_label_fg) !important;
}

#SteamDesktop div[class*="libraryhomerecentgames_AddedDate_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

/* Popup Elements */
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div[class*="libraryhomeshowcases_CollectionDropDownContainer_"][class*="libraryhomeshowcases_CollectionDropDownContainer_"] ._DialogInputContainer[class*="dropdown_DialogDropDownMenu_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > .DialogMenuPosition[class*="appgrid_SortingDropDownContainer_"] > div,
[class*="tooltip_TextToolTip_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div[class*="contextmenu_contextMenu_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div[class*="contextmenu_ContextMenuFocusContainer_"] div[class*="dropdown_DialogDropDownMenu_Item_"]
{
	background: var(--popover_bg) !important;
	border: none !important;
	border-radius: var(--menu_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div[class*="contextmenu_ContextMenuFocusContainer_"] div[class*="dropdown_DialogDropDownMenu_Item_"]:hover,
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div[class*="contextmenu_contextMenu_"] div[class*="contextmenu_contextMenuItem_"]:hover,
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div[class*="contextmenu_contextMenu_"] div[class*="contextmenu_contextMenuItem_"][class*="contextmenu_active_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div[class*="contextmenu_contextMenu_"] div[class*="library_ContextMenuAction_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--menu_radius) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div[class*="contextmenu_contextMenu_"] [class*="library_ContextMenuAction_"]
{
	background: none !important;
	border-radius: var(--menu_radius) !important;
}

/* Play Button */
#SteamDesktop div[class*="appportrait_Play_1"]
{
	background: var(--success_bg) !important;
}

#SteamDesktop div[class*="appportrait_Download_"]
{
	background: var(--accent_bg) !important;
}

/* Update Summary */
#SteamDesktop div[class*="libraryhomenewupdates_HoversEnabled_"]:hover div[class*="libraryhomenewupdates_EventSummaryContainer_"]
{
	background: var(--toast_bg) !important;
}

#SteamDesktop div[class*="libraryhomenewupdates_EventOptions_"] > div
{
	background-color: var(--button_bg) !important;
}

#SteamDesktop div[class*="libraryhomenewupdates_EventOptions_"]:hover > div
{
	background-color: var(--button_hover_bg) !important;
}

/* --- Left Panel --- */
/* Backgrounds */
#SteamDesktop div[class*="gamelistbar_Container_"],
#SteamDesktop div[class*="gamelistbar_GameListHomeAndSearch_"],
#SteamDesktop div[class*="gamelistsectionheader_Container_"]
{
	background: var(--bg) !important;
	box-shadow: none !important;
}

/* Separator */
#SteamDesktop div[class*="library_LibraryWindowDivider_"]
{
	background: rgba(255, 255, 255, 0.2) !important;
	min-width: 1px !important;
	width: 1px !important;
}

/* Home and Collections */
#SteamDesktop a[class*="gamelisthome_Bar_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	box-shadow: none !important;
}

#SteamDesktop a[class*="gamelisthome_Bar_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop div[class*="gamelisthome_Label_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

#SteamDesktop div[class*="gamelisthome_CollectionIconBox_"]
{
	background: var(--button_fg) !important;
	opacity: 0.2 !important;
}

#SteamDesktop a[class*="gamelisthome_CollectionButton_"]:hover div[class*="gamelisthome_CollectionIconBox_"]
{
	opacity: 0.8 !important;
}

/* Filters and Buttons */
#SteamDesktop div[class*="gamelistdropdown_Bar_"]
{
	padding: 0px 6px !important;
}

#SteamDesktop div[class*="gamelistdropdown_MenuHeader_"],
#SteamDesktop div[class*="gamelistdropdown_ScrollToTop_"] .SVGIcon_Arrow,
#SteamDesktop button[class*="appfilterpane_SaveButton_"],
#SteamDesktop div[class*="gamelistsearchbar_FilterTag_"]
{
	background: var(--button_bg) !important;
	border: none !important;
	border-radius: var(--button_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

#SteamDesktop div[class*="gamelistdropdown_MenuHeader_"]:hover,
#SteamDesktop div[class*="gamelistdropdown_ScrollToTop_"]:hover .SVGIcon_Arrow
{
	background: var(--button_hover_bg) !important;
	border: none !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop div[class*="gamelistdropdown_Active_"] svg
{
	fill: var(--accent_bg) !important;
}

#SteamDesktop div[class*="gamelistdropdown_Active_"] svg circle
{
	stroke: var(--accent_bg) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div[class*="gamelistdropdown_DropDown_"],
#SteamDesktop div[class*="appfilterpane_Container_"],
#SteamDesktop [class*="appfilterpane_Description_"]
{
	background: var(--popover_bg) !important;
}

#SteamDesktop div[class*="appfilterpane_FilterBucketLabel_"]
{
	color: var(--fg) !important;
}

#SteamDesktop button[class*="appfilterpane_SaveButton_"].Disabled
{
	background: var(--button_disabled_bg) !important;
	color: var(--button_disabled_fg) !important;
}

#SteamDesktop div[class*="gamelistsearchbar_AdvancedSearchPane_"]::before
{
	background: none !important;
}

/* Game Search */
#SteamDesktop div[class*="gamelistsearchbar_SearchInput_"] input
{
	background-color: transparent !important;
}

#SteamDesktop div[class*="gamelistsearchbar_SearchInput_"]
{
	background-color: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	color: var(--fg) !important;
}

#SteamDesktop div[class*="gamelistsearchbar_SearchInput_"]:hover
{
	background-color: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

#SteamDesktop div[class*="gamelistsearchbar_SearchInput_"] input:focus
{
	box-shadow: none !important;
}

#SteamDesktop div[class*="gamelistsearchbar_AdvancedSearchButton_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

#SteamDesktop div[class*="gamelistsearchbar_AdvancedSearchContainer_"]
{
	background: none !important;
}

#SteamDesktop div[class*="gamelistsearchbar_AdvancedSearchContainer_"]:hover,
#SteamDesktop div[class*="gamelistsearchbar_AdvancedSearchContainer_"][class*="gamelistsearchbar_Extended_"]
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

/* Game Headers and Rows */
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) span[class*="gamelistsectionheader_SectionName"]
{
	color: var(--fg) !important;
	font-weight: var(--title_3_weight) !important;
	font-family: var(--basefont) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistsectionheader_Container_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Container_"]
{
	border: none !important;
	margin-left: 6px !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_GameListEntryContainer_"]
{
	border: none !important;
	padding-left: 6px !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Installed_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Uninstalled_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelist_Container_"] .ReactVirtualized__Grid[style*="overflow: hidden;"]
{
	/* Only try to pad if the list doesnt overflow */
	padding-right: 6px !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_GameIcon_"]
{
	margin: 0px 6px 0px 0px !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Container_"]:hover,
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistsectionheader_Container_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--menu_radius) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"] :hover,
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Selected_"] > [class*="gamelistentry_Container_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Selected_"] > [class*="gamelistentry_Container_"]:hover,
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Selected_"] > [class*="gamelistentry_Container_"] :hover
{
	background: none !important;
	box-shadow: none !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistsectionheader_Selected_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_HasContextMenuOpen_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Selected_"] div[class*="gamelistentry_GameListEntryContainer_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Selected_"] div[class*="gamelistentry_GameListEntryContainer_"][class*="gamelistentry_CloudError_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_HasContextMenuOpen_"]
{
	border: 1px var(--focusring) solid !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_HasContextMenuOpen_"] div[class*="gamelistentry_GameListEntryContainer_"]
{
	margin-left: -1px !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistsectionheader_Selected_"]:hover,
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Selected_"] div[class*="gamelistentry_GameListEntryContainer_"]:hover,
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Selected_"] div[class*="gamelistentry_GameListEntryContainer_"][class*="gamelistentry_CloudError_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Updating_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_DownloadProgress_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Synchronizing_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_CloudError_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_CloudOutOfDate_"]
{
	color: var(--accent) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) div[class*="gamelistentry_Running_"]
{
	color: var(--success) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div > div[class*="hoverposition_HoverPosition_"] div[class*="gamelistentry_HoverOverlay_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div > div[class*="hoverposition_HoverPosition_"] div[class*="gamelistentry_HoverOverlay_"][class*="gamelistentry_Selected_"],
body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div > div[class*="hoverposition_HoverPosition_"] div[class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]
{
	background: var(--bg) !important;
	border-radius: var(--menu_radius) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) > div > div[class*="hoverposition_HoverPosition_"] div[class*="gamelistentry_HoverOverlay_"] [class*="gamelistentry_GameListEntryContainer_"]
{
	background: var(--button_hover_bg) !important;
}

/* Drag & Drop */
#SteamDesktop div[class*="gamelistentry_Container_"][class*="gamelistentry_DropTarget_"] {
	background-color: var(--button_bg) !important;
	border-left: 1px solid var(--accent_bg) !important;
	border-right: 1px solid var(--accent_bg) !important;
}

#SteamDesktop div[class*="gamelistsectionheader_Container_"][class*="gamelistsectionheader_DropOption_"] {
	background-color: var(--button_bg) !important;
}

#SteamDesktop div[class*="gamelistsectionheader_Container_"][class*="gamelistsectionheader_DropTarget_"] {
	border-left: 1px solid var(--accent_bg) !important;
	border-right: 1px solid var(--accent_bg) !important;
	border-top: 1px solid var(--accent_bg) !important;
}

#SteamDesktop div[class*="gamelistentry_Container_"][class*="gamelistentry_DropTarget_"][class*="gamelistentry_LastInCollection_"],
#SteamDesktop div[class*="gamelistsectionheader_Container_"][class*="gamelistsectionheader_DropTarget_"][class*="gamelistsectionheader_SingleLine_"] {
	border-bottom: 1px solid var(--accent_bg) !important;
}
