:root {
	/* ----------------------- */
	/* RGB Colors              */
	/* Format: R, G, B         */
	/* No Hex or rgb() allowed */
	/* ----------------------- */
	/* General */
	--bg_rgb: 48, 52, 70;
	--fg_rgb: 198, 208, 245;

	/* Accent Colors */
	--accent_rgb: 180, 190, 254;
	--accent_bg_rgb: 180, 190, 254;
	--destructive_rgb: 234, 153, 156;
	--destructive_bg_rgb: 231, 130, 132;
	--error_rgb: 234, 153, 156;
	--error_bg_rgb: 231, 130, 132;
	--success_rgb: 166, 209, 137;
	--success_bg_rgb: 129, 200, 190;
	--warning_rgb: 239, 158, 118;
	--warning_bg_rgb: 229, 201, 144;

	/* Scrollbars */
	--scrollbar_rgb: 81, 87, 109;

	/* ----------------------- */
	/* Other Colors            */
	/* ----------------------- */
	/* Darker Backgrounds */
	--view_bg: rgb(48, 52, 70);

	/* Headerbar */
	--headerbar_backdrop: rgb(48, 52, 70);
	--headerbar_bg: rgb(35, 38, 52);

	/* App properties DLC/Worshop Header */
	--card_solid_bg: rgb(69, 73, 89);

	/* Popup Elements */
	--popover_bg: rgb(48, 52, 70);

	/* Accent FG */
	--accent_fg: rgb(35, 38, 52);
	--success_fg: rgb(193, 255, 203);
	--warning_fg: rgb(35, 38, 52);
}
