/* Navigation */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_SuperNavBar_"]
{
	-webkit-app-region: inherit !important;
	position: relative !important;
	box-sizing: border-box !important;
	top: -47px !important;
	height: 46px !important;
	min-height: 46px !important;
	padding: 0 !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"]
{
	display: flex !important;
	align-content: center !important;
	justify-content: center !important;
	box-sizing: border-box !important;
	height: 46px !important;
	gap: 3px !important;
}

/* Navigation button wrapper */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"]
{
	box-sizing: border-box !important;
	height: 34px !important;
	padding: 0 !important;
}

/* Back and Forward buttons */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"]
{
	position: absolute !important;
	top: 7px !important;
	left: calc(var(--windowcontrols_margin_left) + 6px) !important;
	-webkit-app-region: no-drag;
	cursor: default !important;
	border-radius: var(--button_radius) !important;
	box-sizing: border-box !important;
	width: 34px !important;
	height: 34px !important;
	padding: 9px !important;
	transition: var(--focus_transition);
	color: var(--headerbar_button_fg) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"]:nth-child(2)
{
	left: calc(var(--windowcontrols_margin_left) + 46px) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"] > path
{
	d: var(--icon_nav_forward_path) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"][class*="supernav_Disabled_"]
{
	filter: opacity(0.5) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"]:not([class*="supernav_Disabled_"]):hover
{
	background: var(--headerbar_button_bg_hover) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] svg[class*="supernav_Arrow_"]:not([class*="supernav_Disabled_"]):active
{
	background: var(--headerbar_button_bg_active) !important;
}

/* Navigation menu buttons */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_MenuButton_"]
{
	-webkit-app-region: no-drag !important;
	cursor: default !important;
	border-radius: var(--button_radius) !important;
	color: var(--headerbar_button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	line-height: 24px !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	text-transform: none !important;
	transition: var(--focus_transition) !important;
	white-space: nowrap !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	box-sizing: border-box !important;
	width: 120px !important;
	height: 34px !important;
	padding: 12px 2px !important;
	gap: 6px !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_MenuButton_"]:hover,
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"][class*="menu_MenuOpen_"] div[class*="supernav_MenuButton_"]
{
	background: var(--headerbar_button_bg_hover) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_MenuButton_"]:active
{
	background: var(--headerbar_button_bg_active) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"]:not([class*="supernav_Disabled_"]) div[class*="supernav_MenuButton_"]
{
	background: var(--headerbar_button_bg_checked) !important;
	text-shadow: none !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"]:not([class*="supernav_Disabled_"]) div[class*="supernav_MenuButton_"]:hover,
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"][class*="menu_MenuOpen_"]:not([class*="supernav_Disabled_"]) div[class*="supernav_MenuButton_"]
{
	background: var(--headerbar_button_bg_checked_hover) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"]:not([class*="supernav_Disabled_"]) div[class*="supernav_MenuButton_"]:active
{
	background: var(--headerbar_button_bg_checked_active) !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"]:not([class*="supernav_Disabled_"]) div[class*="supernav_MenuButton_"]::after
{
	display: none !important;
	background: none !important;
	height: 0 !important;
}

/**
 * Navigation Icon Hackery
 * `~` selector is used instead of `:nth-child(n of <selector>)` because of outdated CEF
 */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div[class*="supernav_SuperNavMenu_"] > div::before
{
	background-color: var(--fg);
	content: "";
	width: 16px;
	height: 16px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: 16px;
	-webkit-mask-image: var(--icon_nav_store);
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] > div::before
{
	-webkit-mask-image: var(--icon_nav_library);
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] > div::before
{
	-webkit-mask-image: var(--icon_nav_community);
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] > div::before
{
	-webkit-mask-image: var(--icon_nav_profile);
}

/* Profile button text */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] > div > span
{
	text-indent: -9999px !important;
	line-height: 0 !important;
}

/* Profile button fake text */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] > div > span::after
{
	content: var(--string_nav_profile) !important;
	text-indent: 0 !important;
	display: block !important;
	line-height: 24px !important;
}

#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] > div::before
{
	-webkit-mask-image: var(--icon_nav_console);
}

/* Small window width - make buttons compact */
@media (max-width: 1400px)
{
	/* Compact navigation button wrapper */
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNavMenu_"]
	{
		height: 40px !important;
	}

	/* Compact navigation buttons */
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_MenuButton_"]
	{
		flex-direction: column !important;
		width: 90px !important;
		height: 40px !important;
		padding: 2px 0 !important;
		gap: 2px !important;
		font-size: 11px !important;
		line-height: 14px !important;
	}

	/* Profile button fake text */
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] > div > span::after
	{
		line-height: 14px !important;
	}
}

/* Smaller window width - hide console button if it's visible */
@media (max-width: 1200px)
{
	#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="supernav_SuperNav_"] > div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"] ~ div[class*="supernav_SuperNavMenu_"]
	{
		display: none !important;
	}
}

