/* -------------------------------------- */
/* --- Show Library Sidebar on Hover  --- */
/* -------------------------------------- */
body.DesktopUI .library_Container_3xRRJ > div[class*="library_LeftListSizableContainer_"]:not(:hover)
{
	min-width: 6px !important;
	opacity: 0 !important;
	transition: width 200ms var(--adw-base-transition-curve) !important;
	width: 6px !important;
}

body.DesktopUI .library_Container_3xRRJ > div[class*="library_LeftListSizableContainer_"]:hover
{
	opacity: 1 !important;
}

body.DesktopUI .library_Container_3xRRJ
{
	background: var(--bg) !important;
}

