:root {
	--bg: #1A1B26FF;
	--fg: #C0CAF5FF;
	--border: #FFFFFF26;
	--window_bg: #1A1B26FF;
	--window_fg: #C0CAF5FF;
	--headerbar_backdrop: #1A1B26FF;
	--headerbar_bg: #1A1B26FF;
	--headerbar_fg: #C0CAF5FF;
	--headerbar_shade: #00000061;
	--popover_bg: #1A1B26FF;
	--popover_fg: #C0CAF5FF;
	--toast_bg: #000000DE;
	--toast_fg: #C0CAF5FF;
	--view_bg: #1A1B26FF;
	--view_fg: #C0CAF5FF;
	--accent: #A9B1D6FF;
	--accent_bg: #A9B1D6FF;
	--accent_fg: #000000DE;
	--accent_disabled: #A9B1D680;
	--accent_hover_bg: #A9B1D612;
	--accent_active_bg: #A9B1D629;
	--destructive: #F28B82FF;
	--destructive_bg: #F28B82FF;
	--destructive_fg: #000000DE;
	--destructive_disabled: #F28B8280;
	--destructive_hover_bg: #F28B8212;
	--destructive_active_bg: #F28B8229;
	--error: #F28B82FF;
	--error_bg: #F28B82FF;
	--error_fg: #000000DE;
	--success: #81C995FF;
	--success_bg: #81C995FF;
	--success_fg: #000000DE;
	--warning: #FDD633FF;
	--warning_bg: #FDD633FF;
	--warning_fg: #000000DE;
	--button_fg: #C0CAF5FF;
	--dim_label_fg: #C0CAF58C;
	--card_solid_bg: #31323CFF;
	--focusring: #A9B1D680;
	--scrollbar: #FFFFFF33;
	--scrollbar_hover: #FFFFFF66;
	--scrollbar_active: #FFFFFF99;
}
