:root {
	/* ----------------------- */
	/* RGB Colors              */
	/* Format: R, G, B         */
	/* No Hex or rgb() allowed */
	/* ----------------------- */
	/* General */
	--bg_rgb: 26, 27, 38;
	--fg_rgb: 192, 202, 245;

	/* Accent Colors */
	--accent_rgb: 169, 177, 214;
	--accent_bg_rgb: 169, 177, 214;
	--destructive_rgb: 242, 139, 130;
	--destructive_bg_rgb: 242, 139, 130;
	--error_rgb: 242, 139, 130;
	--error_bg_rgb: 242, 139, 130;
	--success_rgb: 129, 201, 149;
	--success_bg_rgb: 129, 201, 149;
	--warning_rgb: 253, 214, 51;
	--warning_bg_rgb: 253, 214, 51;

	/* ----------------------- */
	/* Other Colors            */
	/* ----------------------- */
	/* Darker Backgrounds */
	--view_bg: rgb(26, 27, 38);

	/* Headerbar */
	--headerbar_backdrop: rgb(26, 27, 38);
	--headerbar_bg: rgb(26, 27, 38);

	/* App properties DLC/Worshop Header */
	--card_solid_bg: rgb(49, 50, 60);

	/* Popup Elements */
	--popover_bg: rgb(26, 27, 38);
	--toast_bg: rgba(0, 0, 0, 0.87);

	/* Accent FG */
	--accent_fg: rgba(0, 0, 0, 0.87);
	--destructive_fg: rgba(0, 0, 0, 0.87);
	--error_fg: rgba(0, 0, 0, 0.87);
	--success_fg: rgba(0, 0, 0, 0.87);
	--warning_fg: rgba(0, 0, 0, 0.87);
}
