:root
{
	--adw-color-scheme: dark;

	--adw-accent-bg-light: var(--adw-system-accent, #a9b1d6);
	--adw-accent-bg-dark: var(--adw-system-accent, #a9b1d6);

	--adw-destructive-bg-light: #f28b82;
	--adw-destructive-bg-dark: #f28b82;
	--adw-destructive-fg: #ffffff;

	--adw-success-bg-light: #81c995;
	--adw-success-bg-dark: #81c995;
	--adw-success-fg: #ffffff;

	--adw-warning-bg-light: #fdd633;
	--adw-warning-bg-dark: #fdd633;
	--adw-warning-fg: rgba(0, 0, 0, 0.8);

	--adw-error-bg-light: #f28b82;
	--adw-error-bg-dark: #f28b82;
	--adw-error-fg: #ffffff;

	--adw-window-bg: #1a1b26;
	--adw-window-fg: #c0caf5;

	--adw-view-bg: #1a1b26;
	--adw-view-fg: #c0caf5;

	--adw-headerbar-bg: #1a1b26;
	--adw-headerbar-fg: #c0caf5;
	--adw-headerbar-backdrop: #1a1b26;
	--adw-headerbar-shade: rgba(0, 0, 0, 0.36);
	--adw-headerbar-darker-shade: rgba(0, 0, 0, 0.9);

	--adw-sidebar-bg: #1a1b26;
	--adw-sidebar-fg: #c0caf5;
	--adw-sidebar-backdrop: #1a1b26;
	--adw-sidebar-shade: rgba(0, 0, 0, 0.36);

	--adw-secondary-sidebar-bg: #1a1b26;
	--adw-secondary-sidebar-fg: #c0caf5;
	--adw-secondary-sidebar-backdrop: #1a1b26;
	--adw-secondary-sidebar-shade: rgba(0, 0, 0, 0.36);

	--adw-card-bg: rgba(255, 255, 255, 0.08);
	--adw-card-fg: #ffffff;
	--adw-card-shade: rgba(0, 0, 0, 0.36);

	--adw-dialog-bg: #1a1b26;
	--adw-dialog-fg: #c0caf5;

	--adw-popover-bg: #1a1b26;
	--adw-popover-fg: #c0caf5;
	--adw-popover-shade: rgba(0, 0, 0, 0.36);

	--adw-thumbnail-bg: #1a1b26;
	--adw-thumbnail-fg: #c0caf5;

	--adw-shade: rgba(0, 0, 0, 0.36);

	--adw-banner: #7d7d83;
}