:root
{
	--adw-color-scheme: dark;

	--adw-accent-bg-light: var(--adw-system-accent, #3477ad);
	--adw-accent-bg-dark: var(--adw-system-accent, #3477ad);

	--adw-destructive-bg-light: #d19a66;
	--adw-destructive-bg-dark: #d19a66;
	--adw-destructive-fg: rgba(0, 0, 0, 0.8);

	--adw-success-bg-light: #98c379;
	--adw-success-bg-dark: #98c379;
	--adw-success-fg: rgba(0, 0, 0, 0.8);

	--adw-warning-bg-light: #e5c07b;
	--adw-warning-bg-dark: #e5c07b;
	--adw-warning-fg: rgba(0, 0, 0, 0.8);

	--adw-error-bg-light: #be5046;
	--adw-error-bg-dark: #be5046;
	--adw-error-fg: #ffffff;

	--adw-window-bg: #282c34;
	--adw-window-fg: #abb2bf;

	--adw-view-bg: #2d333b;
	--adw-view-fg: #abb2bf;

	--adw-headerbar-bg: #282c34;
	--adw-headerbar-fg: #abb2bf;
	--adw-headerbar-backdrop: #282c34;
	--adw-headerbar-shade: rgba(0, 0, 0, 0.36);
	--adw-headerbar-darker-shade: rgba(0, 0, 0, 0.9);

	--adw-sidebar-bg: #282c34;
	--adw-sidebar-fg: #abb2bf;
	--adw-sidebar-backdrop: #282c34;
	--adw-sidebar-shade: rgba(0, 0, 0, 0.36);

	--adw-secondary-sidebar-bg: #282c34;
	--adw-secondary-sidebar-fg: #abb2bf;
	--adw-secondary-sidebar-backdrop: #282c34;
	--adw-secondary-sidebar-shade: rgba(0, 0, 0, 0.36);

	--adw-card-bg: rgba(255, 255, 255, 0.08);
	--adw-card-fg: #ffffff;
	--adw-card-shade: rgba(0, 0, 0, 0.36);

	--adw-dialog-bg: #2d333b;
	--adw-dialog-fg: #abb2bf;

	--adw-popover-bg: #2d333b;
	--adw-popover-fg: #abb2bf;
	--adw-popover-shade: rgba(0, 0, 0, 0.36);

	--adw-thumbnail-bg: #2d333b;
	--adw-thumbnail-fg: #abb2bf;

	--adw-shade: rgba(0, 0, 0, 0.36);

	--adw-banner: #7d7d83;
}