:root {
	--bg: #282C34FF;
	--fg: #ABB2BFFF;
	--border: #FFFFFF26;
	--window_bg: #282C34FF;
	--window_fg: #ABB2BFFF;
	--headerbar_backdrop: #282C34FF;
	--headerbar_bg: #282C34FF;
	--headerbar_fg: #ABB2BFFF;
	--headerbar_shade: #000000D9;
	--popover_bg: #2D333BFF;
	--popover_fg: #ABB2BFFF;
	--toast_bg: #2D333BB3;
	--toast_fg: #ABB2BFFF;
	--view_bg: #2D333BFF;
	--view_fg: #ABB2BFFF;
	--accent: #61AFEFFF;
	--accent_bg: #3477ADFF;
	--accent_fg: #FFFFFFFF;
	--accent_disabled: #61AFEF80;
	--accent_hover_bg: #61AFEF12;
	--accent_active_bg: #61AFEF29;
	--destructive: #D19A66FF;
	--destructive_bg: #D19A66FF;
	--destructive_fg: #282C34FF;
	--destructive_disabled: #D19A6680;
	--destructive_hover_bg: #D19A6612;
	--destructive_active_bg: #D19A6629;
	--error: #BE5046FF;
	--error_bg: #BE5046FF;
	--error_fg: #282C34FF;
	--success: #98C379FF;
	--success_bg: #98C379FF;
	--success_fg: #FFFFFFFF;
	--warning: #E5C07BFF;
	--warning_bg: #E5C07BFF;
	--warning_fg: #282C34FF;
	--button_fg: #ABB2BFFF;
	--dim_label_fg: #ABB2BF8C;
	--card_solid_bg: #3E4249FF;
	--focusring: #61AFEF80;
	--scrollbar: #61AFEF33;
	--scrollbar_hover: #61AFEF66;
	--scrollbar_active: #61AFEF99;
}
