:root
{
	/* The main accent color and the matching text value */
	--adw-accent-bg-rgb: 52, 119, 173;
	--adw-accent-fg-rgb: 255, 255, 255;
	--adw-accent-rgb: 97, 175, 239;

	/* destructive-action buttons */
	--adw-destructive-bg-rgb: 209, 154, 102;
	--adw-destructive-fg-rgb: 40, 44, 52;
	--adw-destructive-rgb: 209, 154, 102;

	/* Levelbars, entries, labels and infobars. These don't need text colors */
	--adw-success-bg-rgb: 152, 195, 121;
	--adw-success-fg-rgb: 255, 255, 255;
	--adw-success-rgb: 152, 195, 121;

	--adw-warning-bg-rgb: 229, 192, 123;
	--adw-warning-fg-rgb: 40, 44, 52;
	--adw-warning-fg-a: 0.8;
	--adw-warning-rgb: 229, 192, 123;

	--adw-error-bg-rgb: 190, 80, 70;
	--adw-error-fg-rgb: 40, 44, 52;
	--adw-error-rgb: 190, 80, 70;

	/* Window */
	--adw-window-bg-rgb: 40, 44, 52;
	--adw-window-fg-rgb: 171, 178, 191;

	/* Views - e.g. text view or tree view */
	--adw-view-bg-rgb: 45, 51, 59;
	--adw-view-fg-rgb: 171, 178, 191;

	/* Header bar, search bar, tab bar */
	--adw-headerbar-bg-rgb: 40, 44, 52;
	--adw-headerbar-fg-rgb: 171, 178, 191;
	--adw-headerbar-border-rgb: 255, 255, 255;
	--adw-headerbar-backdrop-rgb: 40, 44, 52;
	--adw-headerbar-shade-rgb: 0, 0, 0;
	--adw-headerbar-shade-a: 0.36;
	--adw-headerbar-darker-shade-rgb: 0, 0, 0;
	--adw-headerbar-darker-shade-a: 0.9;

	/* Split pane views */
	--adw-sidebar-bg-rgb: 40, 44, 52;
	--adw-sidebar-fg-rgb: 171, 178, 191;
	--adw-sidebar-backdrop-rgb: 40, 44, 52;
	--adw-sidebar-shade-rgb: 0, 0, 0;
	--adw-sidebar-shade-a: 0.36;

	--adw-secondary-sidebar-bg-rgb: 40, 44, 52;
	--adw-secondary-sidebar-fg-rgb: 171, 178, 191;
	--adw-secondary-sidebar-backdrop-rgb: 40, 44, 52;
	--adw-secondary-sidebar-shade-rgb: 0, 0, 0;
	--adw-secondary-sidebar-shade-a: 0.36;

	/* Cards, boxed lists */
	--adw-card-bg-rgb: 255, 255, 255;
	--adw-card-bg-a: 0.08;
	--adw-card-fg-rgb: 255, 255, 255;
	--adw-card-shade-rgb: 0, 0, 0;
	--adw-card-shade-a: 0.36;

	/* Dialogs */
	--adw-dialog-bg-rgb: 45, 51, 59;
	--adw-dialog-fg-rgb: 171, 178, 191;

	/* Popovers */
	--adw-popover-bg-rgb: 45, 51, 59;
	--adw-popover-fg-rgb: 171, 178, 191;

	/* Thumbnails */
	--adw-thumbnail-bg-rgb: 45, 51, 59;
	--adw-popover-fg-rgb: 171, 178, 191;

	/* Miscellaneous */
	--adw-shade-rgb: 0, 0, 0;
	--adw-shade-a: 0.36;

}
