:root
{
	--adw-window-bg: light-dark(#ffffff, #000000);
	--adw-window-fg: light-dark(rgba(0, 0, 0, 0.8), #ffffff);

	--adw-view-bg: light-dark(#ffffff, #000000);
	--adw-view-fg: light-dark(rgba(0, 0, 0, 0.8), #ffffff);

	--adw-headerbar-bg: light-dark(#ffffff, #000000);
	--adw-headerbar-fg: light-dark(rgba(0, 0, 0, 0.8), #ffffff);
	--adw-headerbar-backdrop: light-dark(#ffffff, #000000);

	--adw-sidebar-bg: light-dark(#ffffff, #000000);
	--adw-sidebar-fg: light-dark(rgba(0, 0, 0, 0.8), #ffffff);
	--adw-sidebar-backdrop: light-dark(#ffffff, #000000);

	--adw-secondary-sidebar-bg: light-dark(#ffffff, #000000);
	--adw-secondary-sidebar-fg: light-dark(rgba(0, 0, 0, 0.8), #ffffff);
	--adw-secondary-sidebar-backdrop: light-dark(#ffffff, #000000);
}