/* ------------------------------------- */
/* --- Left Aligned Window Controls  --- */
/* ------------------------------------- */
.title-bar-actions
{
	flex-direction: row !important;
	left: 0px !important;
	right: auto !important;
}

/* App Properties Titles */
.ModalDialogPopup [class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] > [class*="pagedsettings_PagedSettingsDialog_Title_"]
{
	padding-left: 50px !important;
	padding-right: 50px !important;
}

/* Friendslist */
.currentUserContainer .AvatarAndUser
{
	padding-left: 125px !important;
}

.title-bar-actions .title-area-icon.minimizeButton,
.title-bar-actions .title-area-icon.maximizeButton
{
	display: block !important;
}

.title-bar-actions .title-area-icon.maximizeButton
{
	order: 3 !important;
}

.multiChatDialog .title-bar-actions {
	position: fixed !important;
}

/* Content Management */
[class*="contentmanagement_ContentManagement_"] [class*="contentmanagement_PageableCarousel_"]
{
	margin-left: 70px !important;
}

/* ------------------------------------------ */
/* --- Show Minimize and Maximize Button  --- */
/* ------------------------------------------ */
.title-bar-actions .title-area-icon.minimizeButton,
.title-bar-actions .title-area-icon.maximizeButton
{
	display: block !important;
}

