/* ------------ */
/* --- Chat --- */
/* ------------ */

/* BG */
html.client_chat_frame body,
html.client_chat_frame .friendlist
{
	background: var(--bg) !important;
}

/* Window Focus Indicator */
html.client_chat_frame .singleWindowFocusBar,
html.client_chat_frame .title-area-highlight
{
	display: none !important
}

/* - Left Panel - */
html.client_chat_frame .friendListHeaderContainer,
html.client_chat_frame .activeTab,
html.client_chat_frame .friendSearchInput[type=text],
html.client_chat_frame .friendlistListContainer,
html.client_chat_frame .FriendsListContent .friendlistListContainer .friendGroup.onlineFriends,
html.client_chat_frame .friendsListSectionTitle,
html.client_chat_frame .chatRoomListContainer,
html.client_chat_frame .friendListFooter,
html.client_chat_frame div[class*="friendslist_OfflineContainer_"]
{
	background: var(--view_bg) !important;
	border: none !important;
	box-shadow: none !important;
}

/* Header Drag */
html.client_chat_frame .currentUserContainer [class*="personanameandstatus_statusAndName_"],
html.client_chat_frame .currentUserContainer [class*="personanameandstatus_gameName_"]
{
	-webkit-app-region: drag !important;
}

/* Avatar HeaderBar */
html.client_chat_frame .currentUserContainer
{
	border-bottom: 1px solid var(--border) !important;
	background: var(--headerbar_bg) !important;
}

html.client_chat_frame .singlewindow:not(.focused) .currentUserContainer
{
	background: var(--headerbar_backdrop) !important;
}

html.client_chat_frame .AvatarAndUser
{
	padding-top: 2px !important;
	max-height: 38px !important;
}

html.client_chat_frame .currentUserAvatar img.avatar
{
	margin-top: 1px !important;
}

html.client_chat_frame .currentUserAvatar .avatarHolder,
html.client_chat_frame .currentUserAvatar .avatarFrame img,
html.client_chat_frame .friends_loading_error .currentUserAvatar
{
	border: none !important;
	height: 44px !important;
	width: 44px !important;
}

html.client_chat_frame .currentUserAvatar img.avatar
{
	border-radius: var(--button_radius) !important;
}

html.client_chat_frame .currentUserContainer .labelHolder
{
	margin-bottom: -4px !important;
}

html.client_chat_frame .currentUserContainer .statusHeaderGlow
{
	display: none !important;
}

html.client_chat_frame .currentUserContainer .playerName,
html.client_chat_frame .currentUserContainer .gameName,
html.client_chat_frame .currentUserContainer [class*="personanameandstatus_playerName_"],
html.client_chat_frame .currentUserContainer [class*="personanameandstatus_gameName_"]
{
	text-shadow: none !important;
	font-weight: var(--baseweight) !important;
}

html.client_chat_frame .currentUserContainer.ingame [class*="personanameandstatus_playerName_"]
{
	color: var(--success) !important;
}

html.client_chat_frame .currentUserContainer.ingame [class*="personanameandstatus_gameName_"]
{
	color: var(--success_bg) !important;
}

html.client_chat_frame .friendListButton.friendSettingsButton
{
	margin-top: -16px !important;
	margin-right: 2px !important;
}

html.client_chat_frame .chat_main.fullheight.responsive_friends .friendListButton.friendSettingsButton
{
	margin-right: 0px !important;
	margin-top: 0px !important;
	position: relative !important;
	top: 40px !important;
}

html.client_chat_frame .friendListButton.friendCollapseButton
{
	margin-right: 1px !important;
	margin-top: -2px !important;
}

html.client_chat_frame .friendListButton.friendSettingsButton .SVGIcon_Settings
{
	height: 16px !important;
	width: 16px !important;
}

html.client_chat_frame .friendListButton.friendCollapseButton .SVGIcon_DoubleArrow
{
	height: 14px !important;
	width: 14px !important;
}

html.client_chat_frame .currentUserContainer.online [class*="personanameandstatus_richPresenceLabel_"],
html.client_chat_frame .currentUserContainer.online [class*="personanameandstatus_playerName_"]
{
	color: var(--accent) !important;
}

/* Signed Out */
html.client_chat_frame .friends_loading_error,
html.client_chat_frame .FriendsFailureContainer
{
	background: var(--window_bg) !important;
}

html.client_chat_frame .FriendsFailureContainer .summaryText,
html.client_chat_frame .friendlist div[class*="friendslist_summaryText_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: 700 !important;
}

html.client_chat_frame .FriendsFailureContainer .detailText,
html.client_chat_frame .friendlist div[class*="friendslist_detailText_"]
{
	font-family: var(--basefont) !important;
}

html.client_chat_frame .FriendsFailureContainer .retryButton,
html.client_chat_frame .friendlist button[class*="friendslist_retryButton_"]
{
	background-blend-mode: var(--button_suggested_blend) !important;
	background: var(--button_suggested_bg) !important;
	border-radius: var(--button_radius) !important;
	box-shadow: none !important;
	font-family: var(--basefont) !important;
	font-size: 15px !important;
	font-weight: 700 !important;
	transition: var(--focus_transition) !important;
}

html.client_chat_frame .FriendsFailureContainer .retryButton:hover
{
	background-color: var(--button_suggested_hover_bg) !important;
}

html.client_chat_frame .FriendsFailureContainer .retryButton:active
{
	background-color: var(--button_suggested_click_bg) !important;
}

html.client_chat_frame .friends_loading_error .currentUserContainer,
html.client_chat_frame .friends_loading_error .TitleBar.title-area
{
	height: 48px !important;
}

/* Set Online Status Menu */
html.client_chat_frame [class*="contextmenu_contextMenu_"]
{
	background: var(--popover_bg) !important;
}

html.client_chat_frame [class*="contextmenu_contextMenuItem_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

html.client_chat_frame [class*="ntextmenu_contextMenuItem_"].menuChecked
{
	color: var(--accent) !important;
}

/* Remove Box Shadow */
html.client_chat_frame [class*="insetshadow_FriendListInsetShadowBottom_"],
html.client_chat_frame [class*="insetshadow_FriendListInsetShadowTop_"]
{
	background: none !important;
}

/* Panel Resizer */
html.client_chat_frame .singleWindowDivider
{
	background: var(--border) !important;
	border: none !important;
	min-width: 1px !important;
	width: 1px !important;
}

/* Friend Hover BG */
html.client_chat_frame .friendStatusHover,
html.client_chat_frame .ChatRoomListGroupItem,
html.client_chat_frame .SteamPlayerGroupFooter
{
	margin: 0px var(--menu_margin) !important;
}

html.client_chat_frame .friendStatusHover:hover,
html.client_chat_frame .ChatRoomListGroupItem:hover
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
}

/* Friend Status Text */
html.client_chat_frame .friend.online,
html.client_chat_frame .friend.online [class*="personanameandstatus_playerName_"],
html.client_chat_frame .friend.online [class*="personanameandstatus_richPresenceLabel_"]
{
	color: var(--accent) !important;
}

html.client_chat_frame .friend.ingame [class*="personanameandstatus_playerName_"]
{
	color: var(--success) !important;
}

html.client_chat_frame .friend.ingame [class*="personanameandstatus_richPresenceLabel_"],
html.client_chat_frame .SteamPlayerGroupFooter,
html.client_chat_frame .SteamPlayerGroupFooterLabel
{
	color: var(--success_bg) !important;
}

html.client_chat_frame .SteamPlayerGroupFooterLabel
{
	opacity: 0.5 !important;
}

html.client_chat_frame .friend.offline [class*="personanameandstatus_playerName_"],
html.client_chat_frame .friend.offline [class*="personanameandstatus_richPresenceLabel_"]
{
	color: var(--dim_label_fg) !important;
}

/* - Right Side - */
html.client_chat_frame .chatDialogs,
html.client_chat_frame .titleBarContainer.ChatTabs,
html.client_chat_frame .chatWindow,
html.client_chat_frame .chatWindow .chatEntry
{
	background: var(--bg) !important;
	border: none !important;
	box-shadow: none !important;
}

/* Text Entry */
html.client_chat_frame [class*="chatentry_chatEntryControls_"]
{
	background: var(--button_bg) !important;
	border: 2px solid transparent;
	border-radius: var(--button_radius) !important;
	box-shadow: none !important;
}

html.client_chat_frame [class*="chatentry_chatEntryControls_"] textarea:focus
{
	box-shadow: var(--focusring_bs) !important;
	border-radius: var(--button_radius) !important;
}

/* /command popup suggestions */
html.client_chat_frame .chatEntry [class*="suggestdialog_mentionDialog_"]
{
	background: var(--popover_bg) !important;
	border-radius: var(--menu_radius) !important;
}

html.client_chat_frame .chatEntry [class*="suggestdialog_selected_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--menu_radius) !important;
}

/* File Upload */
html.client_chat_frame .chatFileUploadPreviewContainer,
html.client_chat_frame .chatFileUploadProgressContainer
{
	background: var(--popover_bg) !important;
	border-radius: var(--menu_radius) !important;
}

html.client_chat_frame .chatFileUploadPreviewContainer img
{
	border-radius: var(--card_radius) !important;
}

html.client_chat_frame .chatFileUploadProgressBarContainer .DialogProgressBar_Value {
	background: var(--accent_bg) !important;
}

/* Chat Buttons */
html.client_chat_frame button[class*="chatentry_chatSubmitButton_"],
html.client_chat_frame .chatEntry .VoiceToggle,
html.client_chat_frame .chatBody .inviteAnotherFriendButton
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	border: none !important;
	box-shadow: none !important;
}

html.client_chat_frame button[class*="chatentry_EmoticonPickerButton_"]
{
	margin-right: 3px !important;
}

html.client_chat_frame .chatEntry .ChatMessageEntryVoice
{
	margin-left: -1px !important;
}

html.client_chat_frame [class*="chatentry_chatEntryActionsGroup_"],
html.client_chat_frame .chatEntry .ChatMessageEntryVoice
{
	background: none !important;
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}

html.client_chat_frame .chatBody .inviteAnotherFriendButton .SVGIcon_Button
{
	fill: var(--button_active_bg) !important;
}

html.client_chat_frame .ChatRoomGroupDialog_history .ScrollToBottomButton
{
	color: var(--fg) !important;
}

html.client_chat_frame .ChatRoomGroupDialog_history .ScrollToBottomButton span
{
	background: var(--toast_bg) !important;
	border-radius: var(--toast_border_radius) !important;
	border-spacing: var(--toast_border_spacing) !important;
	box-shadow: none !important;
	margin-bottom: var(--toast_margin_bottom) !important;
	margin: var(--toast_margin) !important;
	padding: var(--toast_padding) !important;
}

/* Message Hover */
html.client_chat_frame [class*="messages_MsgWithAddons_"]:hover
{
	background: var(--button_bg) !important;
	border-radius: var(--menu_radius) !important;
}

/* Message Addons */
html.client_chat_frame [class*="messages_Addons_"]
{
	background: var(--popover_bg) !important;
	border: 1px solid var(--border) !important;
}

/* Message Links */
html.client_chat_frame .chatHistory .msg a
{
	border-bottom: none !important;
	color: var(--accent) !important;
	text-decoration: underline !important;
}

/* Time Divider */
html.client_chat_frame .msg.timeDivision
{
	color: var(--dim_label_fg) !important;
	opacity: 0.55 !important;
}

html.client_chat_frame .msg.timeDivision .preHorizDivider,
html.client_chat_frame .msg.timeDivision .horizDivider
{
	background-color: var(--dim_label_fg) !important;
	opacity: 0.55 !important;
}

/* Message Images */
html.client_chat_frame .chatHistory .chatImageContainer img,
html.client_chat_frame .BBCodeImageWrapper
{
	border-radius: var(--card_radius) !important;
}

/* Image Popup */
html.client_chat_frame #popup_target [class*="bbcode_ImageModalBackground_"],
html.client_chat_frame.ModalDialogPopup body.ModalDialogBody
{
	background: var(--popover_bg) !important;
	border: none !important;
	box-shadow: none !important;
}

/* Message Sender */
html.client_chat_frame .chatHistory [class*="messages_SpeakerName_Online_"],
html.client_chat_frame .chatHistory .GamepadMode[class*="messages_SpeakerName_Online_"],
html.client_chat_frame .chatHistory .GamepadMode [class*="messages_SpeakerName_Online_"],
html.client_chat_frame .chatHistory .isCurrentUser [class*="messages_SpeakerName_Online_"],
html.client_chat_frame .chatHistory .isCurrentUser .GamepadMode[class*="messages_SpeakerName_Online_"],
html.client_chat_frame .chatHistory .GamepadMode .isCurrentUser [class*="messages_SpeakerName_Online_"]
{
	color: var(--accent) !important;
}

html.client_chat_frame .chatHistory [class*="messages_SpeakerName_InGame_"]
html.client_chat_frame .chatHistory .GamepadMode[class*="messages_SpeakerName_InGame_"],
html.client_chat_frame .chatHistory .GamepadMode [class*="messages_SpeakerName_InGame_"],
html.client_chat_frame .chatHistory .isCurrentUser [class*="messages_SpeakerName_InGame_"],
html.client_chat_frame .chatHistory .isCurrentUser [class*="messages_SpeakerName_InGame_"].GamepadMode,
html.client_chat_frame .chatHistory .GamepadMode .isCurrentUser [class*="messages_SpeakerName_InGame_"]
{
	color: var(--success) !important;
}

html.client_chat_frame .chatHistory [class*="messages_SpeakerName_Default_"],
html.client_chat_frame .chatHistory .GamepadMode[class*="messages_SpeakerName_Default_"],
html.client_chat_frame .chatHistory .GamepadMode [class*="messages_SpeakerName_Default_"]
html.client_chat_frame .chatHistory .isCurrentUser [class*="messages_SpeakerName_Default_"]
html.client_chat_frame .chatHistory .isCurrentUser .GamepadMode[class*="messages_SpeakerName_Default_"],
html.client_chat_frame .chatHistory .GamepadMode .isCurrentUser [class*="messages_SpeakerName_Default_"]
{
	color: var(--dim_label_fg) !important;
}

/* Message Timestamp */
html.client_chat_frame .chatHistory .speakerTimeStamp
{
	color: var(--dim_label_fg) !important;
	opacity: 0.55 !important;
}

/* Message Text */
html.client_chat_frame .msgText,
html.client_chat_frame .isCurrentUser .msgText
{
	color: var(--fg) !important;
}

html.client_chat_frame .msgText > span,
html.client_chat_frame .isCurrentUser .msgText > span
{
	opacity: 0.8 !important;
}

/* Message Invite */
html.client_chat_frame .msgText .ChatMessageInvite,
html.client_chat_frame .msgText .ChatMessageInvite.InviteExpired,
html.client_chat_frame .msgText .ChatMessageInvite.GroupAlreadyJoined,
html.client_chat_frame .msgText .ChatMessageInvite.Inviter
{
	background: var(--card_bg) !important;
	border-radius: var(--card_radius) !important;
	box-shadow: none !important;
}

html.client_chat_frame .msgText .ChatMessageInvite button.DialogButton.GreenPlay
{
	background-blend-mode: var(--button_suggested_blend) !important;
	background: var(--button_success_bg) !important;
	border-radius: var(--button_radius) !important;
	box-shadow: none !important;
	transition: var(--focus_transition) !important;
}

html.client_chat_frame .msgText .ChatMessageInvite button.DialogButton.GreenPlay:hover
{
	background-color: var(--button_suggested_hover_bg) !important;
	box-shadow: none !important;
}

html.client_chat_frame .msgText .ChatMessageInvite button.DialogButton.GreenPlay:active
{
	background-color: var(--button_suggested_click_bg) !important;
}

html.client_chat_frame .msgText .ChatMessageInvite .leftInviteContainer .productImage
{
	border-radius: var(--card_radius) !important;
	box-shadow: none !important;
}

html.client_chat_frame .msgText .ChatMessageInvite .leftInviteContainer .productImageBlur
{
	display: none !important;
}

/* Message Steam Store Link */
html.client_chat_frame .msgText > [class*="bbcode_ChatMessageSteamStore_"]
{
	background: var(--card_bg) !important;
	border-radius: var(--card_radius) !important;
}

html.client_chat_frame .msgText [class*="bbcode_ChatMessageSteamStore_Header_"]
{
	background: none !important;
}

html.client_chat_frame .msgText [class*="bbcode_ChatMessageSteamStore_HeaderImage_"]
{
	border-radius: var(--card_radius) !important;
}

html.client_chat_frame .msgText [class*="bbcode_Blurred_"]
{
	display: none !important;
}

/* Message Link Preview */
html.client_chat_frame .msgText div.ChatMessageOpenGraph, .msg div.SteamPublishedFile
{
	background: var(--card_bg) !important;
	border-radius: var(--card_radius) !important;
}

html.client_chat_frame .msgText .OpenGraphImgBackground
{
	display: none !important;
}

html.client_chat_frame .msgText .OpenGraphMessageURL,
html.client_chat_frame .msgText .OpenGraphMessageURL_full
{
	color: var(--accent) !important;
}

html.client_chat_frame .msgText div.ChatMessageOpenGraph_Description
{
	color: var(--fg) !important;
	text-shadow: none !important;
}

/* Message /me emote */
html.client_chat_frame .msg.ChatMsgSlashEmote .speaker
{
	background: none !important;
}

html.client_chat_frame .msg.ChatMsgSlashEmote .msgText
{
	font-weight: bold !important;
}

/* Typing Notification */
html.client_chat_frame .FriendChatTypingNotification
{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 12px, rgba(0, 0, 0, 0) 80%);
	font-weight: var(--baseweight);
	color: var(--dim_label_fg) !important;
}

/* Chat Tabs Headerbar */
html.client_chat_frame .ChatTabs .title-area
{
	background: var(--headerbar_bg) !important;
	border-bottom: 1px solid var(--border) !important;
	min-height: 48px !important;
}

html.client_chat_frame .singlewindow:not(.focused) .ChatTabs .title-area
{
	background: var(--headerbar_backdrop) !important;
}

/* Chat Tabs Bottom Separator */
html.client_chat_frame .chatWindow .chatHeader
{
	background: none !important;
	min-height: 1px !important;
}

/* Center Tabs */
html.client_chat_frame .ChatTabs
{
	display: flex !important;
	justify-content: center !important;
}

/* Tabs Margin */
html.client_chat_frame .chatTabSetContainer [class*="chattabs_ChatTab_"]
{
	margin-right: 4px !important;
}

/* Active Chat Tab */
html.client_chat_frame [class*="chattabs_Active_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
}

/* Tab Hover */
html.client_chat_frame [class*="chattabs_ChatTab_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

html.client_chat_frame [class*="chattabs_Active_"]:hover
{
	background: var(--button_active_bg) !important;
	border-radius: var(--button_radius) !important;
}

html.client_chat_frame [class*="miniprofile_miniProfile_"]
{
	border-radius: var(--card_radius) !important;
}

/* Chat Tab Unread */
html.client_chat_frame .ChatTabs [class*="chattabs_UnreadGlow_"]
{
	background: var(--button_bg) !important;
	width: 100% !important;
	height: 100% !important;
	border-radius: var(--button_radius) !important
}

html.client_chat_frame .ChatTabs [class*="chattabs_UnreadCircle_"]
{
	background: var(--accent_bg) !important;
}

/* Hide Close Button unless Hover */
html.client_chat_frame [class*="chattabs_ChatTab_"]:not(:hover) [class*="chattabs_CloseButton_"]
{
	display: none !important;
}

html.client_chat_frame [class*="chattabs_CloseButton_"] .SVGIcon_X_Line line
{
	stroke: var(--fg) !important;
}

/* Hide Tab Separator */
html.client_chat_frame [class*="chattabs_ChatTab_"]::before,
html.client_chat_frame [class*="chattabs_ChatTab_"]::after
{
	background: none !important;
}

/* Chat Tabs Selector */
html.client_chat_frame .chatTabSelector
{
	background: none !important;
	box-shadow: none !important;
	margin-right: 43px;
	margin-top: -6px;
}

html.client_chat_frame .chatTabSelector:hover,
html.client_chat_frame .chatTabSelector:active
{
	background: none !important;
}

/* Open Friends List Button */
html.client_chat_frame .ChatTabs .chatTabOpenFriendsList
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	box-shadow: none !important;
	height: 36px !important;
}

html.client_chat_frame .ChatTabs .chatTabOpenFriendsList:hover
{
	background: var(--button_active_bg) !important;
	border-radius: var(--button_radius) !important;
}

