/* Rounded Corners */
#SteamDesktop div[class*="appactionbutton_ButtonChild"],
#SteamDesktop div[class*="appactivityday_EventBody_"],
#SteamDesktop img[class*="appactivityday_PartnerEventMediumImage_Image_"],
#SteamDesktop img[class*="appactivityday_PartnerEventLargeImage_Image_"],
#SteamDesktop div[class*="appactivityday_PartnerEventLargeImage_Container_"],
#SteamDesktop div[class*="appactivityday_PartnerEvent_"],
#SteamDesktop button[class*="appdetailsactivitysection_FetchMoreContainer_"],
#SteamDesktop div[class*="appdetailscommunityfeed_HeaderStyles_"],
#SteamDesktop div[class*="appdetailsdlcsection_Art_"],
#SteamDesktop div[class*="appdetailsprimarylinkssection_LinksSectionBody_"],
#SteamDesktop div[class*="appdetailssection_Highlight_"],
#SteamDesktop div[class*="appdetailssection_RightColumnSection_"],
#SteamDesktop div[class*="appdetailsspotlight_ReviewContainer_"],
#SteamDesktop img[class*="appdetailsworkshopsection_FeaturedItemImage_"],
#SteamDesktop div[class*="appdetailsworkshopsection_WorkshopContainer_"],
#SteamDesktop img[class*="libraryassetimage_Visible_"],
#SteamDesktop div[class*="spotlight_MajorEventImageContainer_"],
#SteamDesktop div[class*="spotlight_MajorEventContainer_"],
#SteamDesktop [class*="spotlight_MajorEventBackground_"],
#SteamDesktop div[class*="writereview_RightContainer_"] button,
#SteamDesktop div[class*="appdetailsgameinfopanel_Description_"],
#SteamDesktop div[class*="appactivitydlc_Contents_"],
#SteamDesktop div[class*="discussionwidget_VoteContainer_"],
#SteamDesktop div[class*="discussionwidget_ShareContainer_"],
#SteamDesktop div[class*="discussionwidget_DiscussContainer_"]
{
	border-radius: var(--card_radius) !important;
	background: var(--card_bg) !important;
	border: none !important;
}

#SteamDesktop div[class*="appdetailsachievementssection_AdditionalItem_"],
#SteamDesktop div[class*="appdetailscommunityfeed_LoadContentButton_"],
#SteamDesktop div[class*="appdetailsactivitysection_ViewLastNews_"]
{
	border-radius: var(--button_radius) !important;
	background: var(--button_bg) !important;
	border: none !important;
}

#SteamDesktop button[class*="appdetailsactivitysection_FetchMoreContainer_"],
#SteamDesktop div[class*="appdetailscommunityfeed_LoadContentButton_"],
#SteamDesktop div[class*="appdetailsactivitysection_ViewLastNews_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	line-height: 32px !important;
}

/* Play button, streaming device dropdown */
#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"]
{
	border-radius: var(--button_radius) !important;
	background-color: var(--accent_bg) !important;
	color: var(--accent_fg) !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"],
#SteamDesktop [class*="appactionbutton_ShowingStreaming"]
{
	min-width: 140px !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"][class*="appactionbutton_Green"]
{
	background-color: var(--success_bg) !important;
	color: var(--success_fg) !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"][class*="appactionbutton_Disabled"]
{
	background-color: var(--button_disabled_bg) !important;
	color: var(--button_disabled_fg) !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"] div[class*="appactionbutton_ButtonText"]
{
	color: var(--button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: 18px !important;
	line-height: 32px !important;
	font-weight: 700 !important;
	letter-spacing: normal !important;
	text-transform: none !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"] > div[class*="appactionbutton_ButtonChild"]:first-child > svg
{
	display: none !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"] > div[class*="appactionbutton_ButtonChild"] > svg > path,
#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"] > div[class*="appactionbutton_ButtonChild"] > svg > polygon
{
	stroke: currentColor !important;
	fill: currentColor !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"] > div[class*="appactionbutton_ButtonChild"]
{
	margin: 0 !important;
	border-radius: var(--button_radius) !important;
	background-color: transparent !important;
	transition: background 0.15s, border-color 0.15s, border-top-left-radius 0s, border-bottom-left-radius 0s !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"] > div[class*="appactionbutton_ButtonChild"]:hover
{
	background-color: var(--button_hover_bg) !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"] > div[class*="appactionbutton_ButtonChild"]:active
{
	background-color: var(--button_active_bg) !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"] > div[class*="appactionbutton_ButtonChild"]:last-child:not(:first-child)
{
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-left: 1px var(--button_active_bg) solid !important;
}

#SteamDesktop div[class*="appactionbutton_PlayButtonContainer"]:hover > div[class*="appactionbutton_ButtonChild"]:last-child:not(:first-child)
{
	border-radius: var(--button_radius) !important;
	border-color: transparent !important;
}

/* Hover Highlight */
#SteamDesktop div[class*="appactivityday_PartnerEventTextOnly_Container_"]:hover,
#SteamDesktop div[class*="appactivityday_PartnerEventMediumImage_Container_"]:hover,
#SteamDesktop div[class*="appactivityday_PartnerEventLargeImage_Container_"]:hover,
#SteamDesktop div[class*="appdetailsachievementssection_AdditionalItem_"]:hover,
#SteamDesktop div[class*="appdetailscommunityfeed_LoadContentButton_"]:hover,
#SteamDesktop button[class*="appdetailsactivitysection_FetchMoreContainer_"]:hover,
#SteamDesktop div[class*="appdetailsactivitysection_ViewLastNews_"]:hover
{
	background: var(--button_hover_bg) !important;
}

#SteamDesktop div[class*="appactivityday_PartnerEventTextOnly_Container_"],
#SteamDesktop div[class*="appactivityday_PartnerEventMediumImage_Container_"],
#SteamDesktop div[class*="appactivityday_PartnerEventLargeImage_Container_"]
{
	border-radius: var(--card_radius) !important;
}

/* Remove Unneeded Backgrounds */
#SteamDesktop div[class*="appactivityday_PartnerEventMediumImage_Container_"],
#SteamDesktop div[class*="appdetailsdlcsection_Gloss_"],
#SteamDesktop div[class*="writereview_RatingContainer_"],
#SteamDesktop div[class*="appdetailsgameinfopanel_Container_"],
#SteamDesktop div[class*="appactivityday_LeftSideMajorUpdateBar_"],
#SteamDesktop div[class*="appactivityday_PartnerEventLargeUpdate_"]
{
	background: none !important;
}

/* Remove Image Borders */
#SteamDesktop div[class*="appactivityday_PartnerEvent_"],
#SteamDesktop div[class*="appactivityday_PartnerEventLargeUpdate_"],
#SteamDesktop div[class*="spotlight_MajorEventContainer_"],
#SteamDesktop div[class*="appactivityday_PartnerEventLargeUpdate_"]
{
	border-image-source: none !important;
}

/* Border Radius Fixes */
#SteamDesktop div[class*="appdetailsworkshopsection_WorkshopContainer_"]
{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

#SteamDesktop div[class*="appdetailsworkshopsection_WorkshopHightlight_"]
{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

#SteamDesktop div[class*="appdetailsachievementssection_Icon_"],
#SteamDesktop div[class*="appdetailsachievementssection_AdditionalItem_"]
{
	border-radius: var(--button_radius) !important;
}

[class*="appdetailshover_AppDetailsHover_"],
[class*="appdetailshover_Background_"]
{
	border-radius: var(--card_radius) !important;
}

/* Hide Blur From Major Updates */
#SteamDesktop img[class*="appactivityday_Blur_"]
{
	display:none;
}

/* Partner Updates */
#SteamDesktop div[class*="appactivityday_PartnerEventLargeUpdate_"],
#SteamDesktop [class*="appactivityday_PartnerEventFeatured_"]
{
	box-shadow: none !important;
}

#SteamDesktop div[class*="appactivityday_PartnerEventTypeUpdate_"]
{
	color: var(--fg) !important;
	text-shadow: none !important;
}

#SteamDesktop div[class*="appactivityday_PartnerEventLargeImage_Summary_"]
{
	color: #929799 !important;
}

#SteamDesktop [class*="appactivityday_PartnerEventFeaturedHeader_"]
{
	background: none !important;
}

#SteamDesktop div[class*="appactivityday_PartnerEventType_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_4_weight) !important;
	font-size: var(--title_4_size) !important;
	text-shadow: none !important;
}

#SteamDesktop div[class*="appactivityday_PartnerEventMediumImage_Title_"],
#SteamDesktop div[class*="appactivityday_PartnerEventLargeImage_Title_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_1_weight) !important;
	font-size: var(--title_1_size) !important;
	text-shadow: none !important;
}

#SteamDesktop div[class*="appactivityday_PartnerEventMediumImage_Summary_"],
#SteamDesktop div[class*="appactivityday_PartnerEventLargeImage_Summary_"],
#SteamDesktop span[class*="appactivityday_PartnerEventTextOnly_Summary_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
	text-shadow: none !important;
}

#SteamDesktop div[class*="appactivityday_PartnerEventTextOnly_Title_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_3_weight) !important;
	text-shadow: none !important;
}

#SteamDesktop div[class*="appactivityday_PartnerEventTextOnly_Icon_"] svg path
{
	fill: var(--dim_label_fg) !important;
}

#SteamDesktop div[class*="appactivityday_Event_"] div[class*="comment_thread_RatingBar_"]
{
	margin-top: 4px !important;
}

/* Achievement Activity */
#SteamDesktop div[class*="appdetailsachievementssection_Name_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

#SteamDesktop div[class*="appdetailsachievementssection_Desc_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

/* Fetch More */
#SteamDesktop button[class*="appdetailsactivitysection_FetchMoreContainer_"]::before,
#SteamDesktop button[class*="appdetailsactivitysection_FetchMoreContainer_"]:active
{
	box-shadow: none !important;
}

#SteamDesktop button[class*="appdetailsactivitysection_FetchMoreContainer_"].Disabled
{
	background-color: var(--button_disabled_bg) !important;
	color: var(--button_disabled_fg) !important;
}

/* Pop Up Update */
#SteamDesktop div[class*="apppartnereventspage_PartnerEvent_"]
{
	border-radius: var(--popover_radius) !important;
	background: var(--popover_bg) !important;
	border: none !important;
	box-shadow: none !important;
}

#SteamDesktop img[class*="partnereventdisplay_EventBackgroundBlur_"]
{
	display: none !important;
}

#SteamDesktop span[class*="apppartnereventspage_EventType_"],
#SteamDesktop div[class*="discussionwidget_VoteCount_"],
#SteamDesktop div[class*="discussionwidget_DiscussionCount_"]
{
	color: var(--accent) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_4_weight) !important;
}

#SteamDesktop div[class*="partnereventdisplay_EventDetailTimeInfo_"] div[class*="localdateandtime_ShortDateAndTime_"],
#SteamDesktop div[class*="partnereventdisplay_EventDetailTimeInfo_"] div[class*="localdateandtime_RightSideTitles_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

#SteamDesktop a[class*="partnereventdisplay_EventDetailTitle_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_1_size) !important;
	font-weight: var(--title_1_weight) !important;
}

#SteamDesktop div[class*="partnereventdisplay_EventDetailsSubTitle_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

#SteamDesktop div[class*="apppartnereventspage_CloseButton_"]
{
	background: var(--popover_bg) !important;
	height: 24px !important;
	width: 24px !important;
}

#SteamDesktop div[class*="apppartnereventspage_CloseButton_"] svg line
{
	stroke: var(--headerbar_fg) !important;
	stroke-width: 32px !important;
}

#SteamDesktop div[class*="apppartnereventspage_ScrollButton_"]
{
	background: var(--popover_bg) !important;
	height: 24px !important;
	width: 40px !important;
}

#SteamDesktop div[class*="apppartnereventspage_ScrollButton_"] svg polygon
{
	fill: var(--headerbar_fg) !important;
}

#SteamDesktop div[class*="apppartnereventspage_ScrollButton_"][class*="apppartnereventspage_GameArt_"]
{
	height: 40px !important;
	width: 40px !important;
}

#SteamDesktop div[class*="partnereventdisplay_EventDetailsBody_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

#SteamDesktop div[class*="partnereventdisplay_EventDetailsBody_"] a:not(.LinkButton)
{
	color: var(--accent) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_4_weight) !important;
}

#SteamDesktop div[class*="partnereventdisplay_EventDetailsBody_"] a:not(.LinkButton):hover
{
	text-decoration: underline !important;
}

#SteamDesktop div[class*="partnereventdisplay_EventDetailsBody_"] img,
#SteamDesktop div[class*="youtubeembed_PreviewYouTubeVideo_"]
{
	border-radius: var(--card_radius) !important;
}

#SteamDesktop div[class*="eventbbcodeparser_Header1_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_1_size) !important;
	font-weight: var(--title_1_weight) !important;
}

#SteamDesktop div[class*="eventbbcodeparser_Header2_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_2_size) !important;
	font-weight: var(--title_2_weight) !important;
}

#SteamDesktop div[class*="eventbbcodeparser_Header3_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

#SteamDesktop div[class*="eventbbcodeparser_Header4_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

#SteamDesktop svg[class*="discussionwidget_VoteUpStaticIcon_"],
#SteamDesktop div[class*="discussionwidget_DiscussionCount_"] > svg
{
	fill: var(--accent) !important;
}

#SteamDesktop div[class*="partnereventshared_Button_"][class*="partnereventshared_Icon_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	box-shadow: none !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	transition: var(--focus_transition) !important;
}

#SteamDesktop div[class*="partnereventshared_Button_"][class*="partnereventshared_Icon_"]:hover
{
	background: var(--button_hover_bg) !important;
}

#SteamDesktop div[class*="partnereventshared_Button_"][class*="partnereventshared_Icon_"]:active
{
	background: var(--button_active_bg) !important;
}

/* Post Game Summary */
#SteamDesktop div[class*="spotlightgameplaysummary_SummaryCarouselContainer_"]
{
	background: var(--card_bg) !important;
	border-radius: var(--card_radius) !important;
}

#SteamDesktop div[class*="spotlightgameplaysummary_SummaryCarouselContainer_"]::after
{
	box-shadow: none !important;
}

/* Remove Glassy Background */
#SteamDesktop div[class*="appdetailsoverview_BackdropGlass_"]
{
	background: none !important;
	border-top: 1px solid var(--border) !important;
}

#SteamDesktop div[class*="appdetailsplaysection_Glassy_"][class*="appdetailsplaysection_PlayBar_"]
{
	background: var(--view_bg) !important;
	border-bottom: 1px solid var(--border) !important;
}

#SteamDesktop div[class*="appdetailsoverview_Container_"]
{
	background: var(--bg) !important;
}

/* Available DLC */
#SteamDesktop div[class*="appactivitydlc_Contents_"],
#SteamDesktop a[class*="appactivitydlc_CarouselItem_"] div[class*="appactivitydlc_CarouselImage_"]
{
	box-shadow: none !important;
}

#SteamDesktop a[class*="appactivitydlc_ViewAll_"]
{
	border-radius: var(--button_radius) !important;
}

#SteamDesktop a[class*="appactivitydlc_ViewAll_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

body:not([class*="gamepadui_GamepadUIPopupWindowBody_"]) iframe[class*="appdetailsdlcsection_StoreHover_"]
{
	border-radius: var(--card_radius) !important;
}

[class*="tooltip_ToolTipCustom_"]
{
	background: var(--popover_bg) !important;
	border-radius: var(--popover_radius) !important;
}

/* Write a Review */
#SteamDesktop div[class*="writereview_Playtime_"],
#SteamDesktop button[class*="writereview_ReviewThumbButton_"]
{
	color: var(--accent) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

#SteamDesktop svg[class*="writereview_ThumbIcon_"]
{
	fill: var(--accent) !important;
}

#SteamDesktop svg[class*="writereview_ThumbIcon_"][class*="writereview_Up_"]
{
	top: -1px !important;
}

#SteamDesktop svg[class*="writereview_ThumbIcon_"][class*="writereview_Down_"]
{
	bottom: -1px !important;
}

#SteamDesktop div[class*="writereview_RatingContainer_"] div[class*="writereview_RecommendGame_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

/* Gameplay Summary */
#SteamDesktop [class*="spotlightgameplaysummary_EventHeaderBlock_"],
#SteamDesktop [class*="spotlightgameplaysummary_GamePlaySummaryHeader_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

#SteamDesktop [class*="spotlightgameplaysummary_EventDaySeparator_"]
{
	background-color: var(--dim_label_fg) !important;
	opacity: 0.55 !important;
}

#SteamDesktop [class*="appdetailsachievementssection_Stats_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

/* Activity Post */
#SteamDesktop textarea[class*="posttextentry_PostTextEntryArea_"],
#SteamDesktop textarea[class*="posttextentry_PostTextEntryArea_"]:focus,
#SteamDesktop div[class*="posttextentry_PostButton_"],
#SteamDesktop button[class*="posttextentry_EmoticonButton_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	box-shadow: none !important;
}

#SteamDesktop div[class*="posttextentry_PostButton_"]
{
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

#SteamDesktop textarea[class*="posttextentry_PostTextEntryArea_"]::placeholder
{
	color: var(--dim_label_fg) !important;
}

#SteamDesktop div[class*="posttextentry_PostButton_"]:hover,
#SteamDesktop button[class*="posttextentry_EmoticonButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

/* Comment and Like Buttons */
#SteamDesktop div[class*="comment_thread_CanClick_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop [class*="comment_thread_ActivityCommentThread_"]
{
	background: none !important;
}

#SteamDesktop div[class*="appdetailssectionheader_LabelText_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

#SteamDesktop div[class*="appactivityday_AppActivityDate_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

/* AppDetails Play Section */
#SteamDesktop div[class*="appdetailsplaysection_PlayBarLabel_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

#SteamDesktop div[class*="appdetailsplaysection_PlayBarDetailLabel_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
}

#SteamDesktop div[class*="appdetailsplaysection_PlayBarCloudStatusContainer_"] div[class*="appdetailsplaysection_GameStatIconForced_"]
{
	color: var(--dim_label_fg) !important;
}

#SteamDesktop div[class*="appdetailsplaysection_PlaytimeIcon_"] > svg > *,
#SteamDesktop div[class*="appdetailsplaysection_GameStatIcon_"] > svg > *
{
	stroke: var(--dim_label_fg) !important;
}

#SteamDesktop span[class*="appdetailsplaysection_PlayBarGameName_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_2_size) !important;
	font-weight: var(--title_2_weight) !important;
}

/* AppDetails Play Section Buttons */
#SteamDesktop div[class*="appdetailsplaysection_MenuButton_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop div[class*="appdetailsplaysection_MenuButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

/* App Details Link Buttons */
#SteamDesktop div[class*="appdetailsprimarylinkssection_LinksSectionBody_"]
{
	padding: 0px 10px !important;
}

#SteamDesktop div[class*="appdetailsprimarylinkssection_Link_"]
{
	border-radius: var(--button_radius) !important;
	padding: 5px 10px !important;
}

#SteamDesktop div[class*="appdetailsprimarylinkssection_Link_"]:hover
{
	background: var(--button_hover_bg) !important;
}

#SteamDesktop span[class*="appdetailsprimarylinkssection_Text_"],
#SteamDesktop div[class*="appdetailsprimarylinkssection_Link_"]:hover span[class*="appdetailsprimarylinkssection_Text_"]
{
	color: var(--button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

/* Right Side Buttons */
#SteamDesktop button[class*="appdetailsbutton_AppDetailsButton_"]
{
	background: none !important;
	border-radius: var(--button_radius) !important;
	color: var(--button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

#SteamDesktop button[class*="appdetailsbutton_AppDetailsButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop div[class*="appdetailsscreenshotssection_InstructionText_"],
#SteamDesktop div[class*="appdetailsscreenshotssection_NoneTaken_"],
#SteamDesktop div[class*="appdetailsreviewsection_PlayedForTime_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

#SteamDesktop div[class*="appdetailssection_Body_"] span[style="color: white;"]
{
	color: var(--accent) !important;
}
