/* --------------- */
/* --- Top Bar --- */
/* --------------- */
/* --- Rounded Window Corners --- */
body.DesktopUI div[class*="steamdesktop_Wrapper_"]
{
	border-radius: var(--window_radius) !important;
	border: 1px var(--window_outline) solid !important;
	box-shadow: 0 0 0 1px var(--window_outline), 0 0 0 1px var(--window_outline) inset !important;
	overflow: hidden !important;
}

body.DesktopUI div[class*="steamdesktop_Wrapper_"].Maximized
{
	border-radius: 0 !important;
	border: 1px transparent solid !important;
	box-shadow: none !important;
}

/* --- Entire Top Bar --- */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ
{
	height: 46px !important;
	background: var(--headerbar_bg) !important;
	box-shadow: inset 0 -1px var(--headerbar_shade);
}

/* Title Bar */
#SteamDesktop .steamdesktop_TopBar_3Z7VQ div[class*="steamdesktop_TitleBar_"]
{
	height: 46px !important;
}

/* Focus Bar */
#SteamDesktop .steamdesktop_Wrapper_1ENHE > div[class*="steamdesktop_FocusBar_"]
{
	background: none !important;
}

/* URL Bar placeholder */
#SteamDesktop .steamdesktop_LocalContentContainer_RGNMW > div[class*="steamdesktop_URLBarReplacement_"]
{
	display: none !important;
	height: 0 !important;
	min-height: 0 !important;
	max-height: 0 !important;
}

/* URL Bar (refresh button only) */
#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URLBar_"]
{
	background: transparent !important;
	box-shadow: none !important;
	border: none !important;
	padding: 0 !important;
	position: absolute !important;
	top: -40px !important;
	left: 86px !important;
	width: 34px !important;
	height: 34px !important;
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URLBar_"] div[class*="steamdesktop_ReloadButton_"]
{
	-webkit-app-region: no-drag;
	cursor: default !important;
	border-radius: var(--button_radius) !important;
	box-sizing: border-box !important;
	width: 34px !important;
	height: 34px !important;
	padding: 9px !important;
	transition: var(--focus_transition);
	color: var(--button_fg) !important;
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URLBar_"] div[class*="steamdesktop_ReloadButton_"] > svg
{
	display: none !important;
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URLBar_"] div[class*="steamdesktop_ReloadButton_"]::before
{
	background-color: var(--fg);
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: 16px;
	-webkit-mask-image: var(--icon_nav_refresh);
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URLBar_"] div[class*="steamdesktop_ReloadButton_"]:hover
{
	background: var(--button_hover_bg) !important;
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URLBar_"] div[class*="steamdesktop_ReloadButton_"]:active
{
	background: var(--button_active_bg) !important;
}

#SteamDesktop .steamdesktop_BrowserWrapper_1bGew div[class*="steamdesktop_URLBarText_"]
{
	display: none !important;
}

/* Content frame - enable overflow to make the refresh button visible */
#SteamDesktop div[class*="steamdesktop_ContentFrame_"]
{
	overflow: visible !important;
}

/* --- Context Menu --- */
body.ContextMenuPopupBody.DesktopUI
{
	background: none !important;
	overflow: hidden !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="contextmenu_contextMenu_"]
{
	border-radius: var(--menu_radius) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="menu_MenuPopup_"]
{
	background: var(--popover_bg) !important;
	border: none !important;
	border-radius: var(--menu_radius) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="menu_MenuItem_"]
{
	border-radius: var(--menu_radius) !important;
	color: var(--fg) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="menu_MenuItem_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--menu_radius) !important;
	color: var(--fg) !important;
}

body.ContextMenuPopupBody.DesktopUI hr[class*="menu_Separator_"]
{
	border-color: var(--bg) !important;
}

/* Notification Menu */
body.ContextMenuPopupBody.DesktopUI div[class*="titlebarcontrols_NotificationsMenu_"]
{
	padding-bottom: 10px !important;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05) !important;
}

body.ContextMenuPopupBody.DesktopUI button[class*="titlebarcontrols_AllNotificationsButton_"],
body.DesktopUI div[class*="standardtemplates_StandardTemplateDesktop_"],
body.ContextMenuPopupBody.DesktopUI div[class*="standardtemplates_PinnedTemplateDesktop_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	border: none !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	padding: var(--button_padding) !important;
	transition: var(--focus_transition) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="standardtemplates_PinnedBody_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="titlebarcontrols_EmptyNotificationsBody_"]
{
	color: var(--entry_subtitle_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--entry_subtitle_font_size) !important;
	font-weight: var(--entry_subtitle_font_weight) !important;
}

body.ContextMenuPopupBody.DesktopUI button[class*="titlebarcontrols_AllNotificationsButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

body.ContextMenuPopupBody.DesktopUI button[class*="titlebarcontrols_AllNotificationsButton_"]:active
{
	background: var(--button_active_bg) !important;
	border-radius: var(--button_radius) !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="steamtemplates_NewIndicator_"]
{
	filter: none !important;
}

body.ContextMenuPopupBody.DesktopUI div[class*="steamtemplates_NewIndicator_"] svg
{
	color: var(--accent) !important;
}

