	/* ------------------------------------------------------------- */
	/* This file is for reference only                               */
	/* It is not actually used by the installer                      */
	/* It includes more verbose theming than you probable need       */
	/* See one of the other themes for more a more compact theme     */
	/* ------------------------------------------------------------- */

:root {
	/* ----------------------- */
	/* RGB Colors              */
	/* Format: R, G, B         */
	/* No Hex or rgb() allowed */
	/* ----------------------- */
	/* General */
	--bg_rgb: 36, 36, 36;
	--fg_rgb: 255, 255, 255;

	/* Accent Colors */
	--accent_rgb: 120, 174, 237;
	--accent_bg_rgb: 53, 132, 228;
	--destructive_rgb: 255, 123, 99;
	--destructive_bg_rgb: 192, 28, 40;
	--error_rgb: 255, 123, 99;
	--error_bg: 192, 28, 40;
	--success_rgb: 143, 240, 164;
	--success_bg_rgb: 38, 162, 105;
	--warning_rgb: 248, 228, 92;
	--warning_bg_rgb: 205, 147, 9;
	--warning_bg_rgb: 205, 147, 9;

	/* Elements */
	--button_bg_rgb: 255, 255, 255;
	--headerbar_button_bg_rgb: 255, 255, 255;
	--scrollbar_rgb: 255, 255, 255;

	/* ----------------------- */
	/* Other Colors            */
	/* ----------------------- */
	/* Accent FGs */
	--accent_fg: rgb(255, 255, 255);
	--destructive_fg: rgb(255, 255, 255);
	--error_fg: rgb(255, 255, 255);
	--success_fg: rgb(255, 255, 255);
	--warning_fg: rgb(255, 255, 255);

	/* Darker View */
	--view_bg: rgb(30, 30, 30);
	--view_fg: rgb(255, 255, 255);

	/* Window */
	--border: rgba(255, 255, 255, 0.15);
	--window_bg: rgb(36, 36, 36);
	--window_fg: rgb(255, 255, 255);

	/* Headerbar */
	--headerbar_backdrop: rgb(36, 36, 36);
	--headerbar_bg: rgb(48, 48, 48);
	--headerbar_fg: rgb(255, 255, 255);
	--headerbar_shade: rgba(0, 0, 0, 0.64);

	/* Buttons */
	--button_fg: rgb(255, 255, 255);

	/* Popup elements */
	--popover_bg: rgb(56, 56, 56);
	--popover_fg: rgb(255, 255, 255);

	/* Floating Toasts */
	--toast_bg: rgba(0, 0, 0, 0.7);
	--toast_fg: rgba(255, 255, 255);

	/* App properties DLC/Worshop Header */
	--card_solid_bg: rgb(58, 58, 58);
}
