/* --- About Steam --- */
/* Header Fix */
.ModalDialogPopup div[class*="aboutsteamdialog_AboutSteamDialog_"]
{
	align-items: normal !important;
}

/* Text */
.ModalDialogPopup span[class*="aboutsteamdialog_DialogBodyLabel_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_3_weight) !important;
	font-size: var(--title_3_size) !important;
}

.ModalDialogPopup div[class*="aboutsteamdialog_DialogBodyText_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
	font-size: var(--title_4_size) !important;
}
