/* --- Add Non-Steam Game --- */
/* Content */
.ModalDialogPopup div[class*="addnonsteamgamedialog_AddNonSteamGameDialogContent_"]
{
	padding: 16px !important;
}

/* Initial Text */
.ModalDialogPopup div.DialogBodyText[class*="addnonsteamgamedialog_DialogBodyText_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

/* Entire List */
.ModalDialogPopup div[class*="addnonsteamgamedialog_GameList_"]
{
	background: none !important;
	box-shadow: none !important;
	border: none !important;
}

/* Header */
.ModalDialogPopup div[class*="addnonsteamgamedialog_Header_"]
{
	background: var(--card_solid_bg) !important;
	border-top-right-radius: var(--card_radius) !important;
	border-top-left-radius: var(--card_radius) !important;
	border: none !important;
}

/* Row */
.ModalDialogPopup div[class*="addnonsteamgamedialog_GameRow_"]:hover
{
	background: var(--entry_hover_bg) !important;
	border-radius: var(--menu_radius) !important;
}

.ModalDialogPopup div[class*="addnonsteamgamedialog_GameRow_"]
{
	border-radius: var(--menu_radius) !important;
}

.ModalDialogPopup div[class*="addnonsteamgamedialog_AppName_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

.ModalDialogPopup div[class*="addnonsteamgamedialog_ExePath_"]
{
	color: var(--entry_subtitle_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--entry_subtitle_font_size) !important;
	font-weight: var(--entry_subtitle_font_weight) !important;
	font-style: normal !important;
}

/* Checkbox */
.ModalDialogPopup div[class*="addnonsteamgamedialog_Checkbox_"] .DialogCheckbox
{
	background-color: var(--checkbox_bg) !important;
	box-shadow: var(--checkbox_bs) !important;
	border-radius: var(--checkbox_radius) !important;
	height: 20px !important;
	width: 20px !important;
	margin-top: 3px !important;
}

.ModalDialogPopup div[class*="addnonsteamgamedialog_Checkbox_"] .DialogCheckbox:hover
{
	box-shadow: var(--checkbox_hover_bs) !important;
}

.ModalDialogPopup div[class*="addnonsteamgamedialog_Checkbox_"] .DialogCheckbox:active:not(.Active)
{
	box-shadow: none !important;
	background: var(--checkbox_active_bg) !important;
}

.ModalDialogPopup div[class*="addnonsteamgamedialog_Checkbox_"] .DialogCheckbox.Active
{
	background: var(--checkbox_checked_bg) !important;
	background-blend-mode: var(--button_suggested_blend) !important;
	border-radius: var(--checkbox_radius) !important;
	box-shadow: none !important;
}

.ModalDialogPopup div[class*="addnonsteamgamedialog_Checkbox_"] .DialogCheckbox.Active:hover
{
	background-color: var(--button_suggested_hover_bg) !important;
}

.ModalDialogPopup div[class*="addnonsteamgamedialog_Checkbox_"] .DialogCheckbox.Active:active
{
	background-color: var(--button_suggested_click_bg) !important;
}

.ModalDialogPopup div[class*="addnonsteamgamedialog_Checkbox_"] .DialogCheckbox svg
{
	stroke-width: var(--checkbox_checked_sw) !important;
}

.ModalDialogPopup div[class*="addnonsteamgamedialog_Checkbox_"] .DialogCheckbox svg path
{
	stroke: var(--fg) !important;
	d: path("M 185 63 L 92 170 l -53 -52") !important;
	transition: none !important;
}
