/* --- Steam Settings --- */
/* - General - */
/* Header */
.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="settings_SettingsDialogSubHeader_"],
.ModalDialogPopup div[class*="settings_SettingsModal_"] .DialogControlsSection > .DialogBodyText,
.ModalDialogPopup div[class*="settings_SettingsModal_"] .DialogControlsSection > .DialogSubHeader
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

/* Label */
.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="gamepaddialog_FieldLabel_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--label_size) !important;
	font-weight: var(--label_weight) !important;
}

/* Description */
.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="gamepaddialog_FieldDescription_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--subtitle_size) !important;
	font-weight: var(--subtitle_size) !important;
}

/* Slider */
.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="gamepadslider_SliderTrack_"]
{
	--left-track-color: var(--accent) !important;
	background: var(--card_bg) !important;
}

.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="gamepadslider_SliderHandle_"]
{
	background: var(--fg) !important;
	height: 20px !important;
	top: 2px !important;
	width: 20px !important;
}

.ModalDialogPopup div[class*="settings_SettingsModal_"] .DialogDropDown_CurrentDisplay
{
	padding-right: 20px !important;
}

/* - Account Panel - */
/* Fat Buttons */
.ModalDialogPopup div[class*="settings_SettingsModal_"] button[class*="accountpanel_FatButton_"] svg
{
	color: var(--fg) !important;
}

.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="accountpanel_Label_"]
{
	color: var(--fg) !important;
}

.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="accountpanel_Details_"]
{
	color: var(--dim_label_fg) !important;
}

/* Label */
.ModalDialogPopup div[class*="settings_SettingsModal_"] span[class*="accountsettings_EntryLabel_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

.ModalDialogPopup div[class*="settings_SettingsModal_"] span[class*="accountsettings_EntryValue_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--baseweight) !important;
	line-height: initial !important;
}

/* - Security Panel - */
/* Label */
.ModalDialogPopup div[class*="settings_SettingsModal_"] span[class*="desktopsecuritysettings_EntryLabel_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

.ModalDialogPopup div[class*="settings_SettingsModal_"] span[class*="desktopsecuritysettings_EntryValue_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

/* - Notifications Panel - */
/* Label */
.ModalDialogPopup div[class*="settings_SettingsModal_"] p[class*="notificationssettings_NotificationDescription_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--basesize) !important;
	font-weight: var(--baseweight) !important;
	order: -1 !important;
}

/* Expander Button */
.ModalDialogPopup div[class*="settings_SettingsModal_"] button.DialogButton[class*="notificationssettings_PrefDetailsToggle_"]
{
	margin-left: 6px !important;
}

/* Expanded */
.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="notificationssettings_NotificationPrefDetails_"],
.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="notificationssettings_NotificationGroupExpanded_"]
{
	background: none !important;
	box-shadow: none !important;;
}

/* Toggle Header */
.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="notificationssettings_ToggleHeader_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

/* - In Game Panel - */
.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="settings_OverlayTabSetting_"]
{
	background: none !important;
}

/* - Remote Play Panel - */
/* Header */
.ModalDialogPopup div[class*="settings_SettingsModal_"] div[class*="remoteplaysettings_TableHeader_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}
