/* Window controls layout - :close */
:root
{
	--adw-windowcontrols-left-has-buttons: 0 !important;
	--adw-windowcontrols-left-buttons: 0 !important;
	--adw-windowcontrols-right-has-buttons: 1 !important;
	--adw-windowcontrols-right-buttons: 1 !important;
	--adw-windowcontrols-close-margin-left: calc(0 * (var(--adw-windowcontrols-buttons-margin-outer) + var(--adw-windowcontrols-button-width) + var(--adw-windowcontrols-buttons-margin-inner))) !important;
	--adw-windowcontrols-close-margin-right: calc(1 * (var(--adw-windowcontrols-buttons-margin-outer) + var(--adw-windowcontrols-button-width) + var(--adw-windowcontrols-buttons-margin-inner))) !important;
}

body.DesktopUI,
html.client_chat_frame
{
	.title-bar-actions .title-area-icon
	{
		visibility: hidden !important;

		&.closeButton
		{
			visibility: visible !important;
			right: calc(var(--adw-windowcontrols-buttons-margin-outer) + 0 * var(--adw-windowcontrols-button-width) + 0 * var(--adw-windowcontrols-button-gap)) !important;

			html.client_chat_frame div.chat_main.singlewindow div.friendsListContainer:not(.collapsed) &
			{
				visibility: hidden !important;
			}
		}

	}
}
