/**
 * Default color variables (Dark).
 *
 * libadwaita reference:
 * - https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/css-variables.html
 * - https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/_defaults.scss
 * - https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/_colors.scss
 */

:root
{
	color-scheme: dark;
	--adw-standalone-color-oklab: max(l, 0.85) a b;

	/**
	 * @name Accent background
	 * @description The accent color is used to indicate that a widget is important, interactive, or currently active
	 */
	--adw-accent-bg: #3584e4;
	/**
	 * @name Accent foreground
	 * @description Text and icon color to be used with accent background
	 */
	--adw-accent-fg: #ffffff;

	/**
	 * @name Destructive background
	 * @description The destructive color indicates a dangerous action, such as deleting a file
	 */
	--adw-destructive-bg: #c01c28;
	/**
	 * @name Destructive foreground
	 * @description Text and icon color to be used with destructive background
	 */
	--adw-destructive-fg: #ffffff;

	/**
	 * @name Success background
	 * @description Background color for success messages
	 */
	--adw-success-bg: #26a269;
	/**
	 * @name Success foreground
	 * @description Text and icon color to be used with success background
	 */
	--adw-success-fg: #ffffff;
	
	/**
	 * @name Warning background
	 * @description Background color for warnings
	 */
	--adw-warning-bg: #cd9309;
	/**
	 * @name Warning foreground
	 * @description Text and icon color to be used with warning background
	 */
	--adw-warning-fg: rgba(0, 0, 6, 0.8);
	
	/**
	 * @name Error background
	 * @description Background color for errors
	 */
	--adw-error-bg: #c01c28;
	/**
	 * @name Error foreground
	 * @description Text and icon color to be used with error background
	 */
	--adw-error-fg: #ffffff;

	--adw-window-bg: #222226;
	--adw-window-fg: #ffffff;

	--adw-view-bg: #1d1d20;
	--adw-view-fg: #ffffff;

	--adw-headerbar-bg: #2e2e32;
	--adw-headerbar-fg: #ffffff;
	--adw-headerbar-backdrop: #222226;
	--adw-headerbar-border: #ffffff;
	--adw-headerbar-shade: rgba(0, 0, 6, 0.36);
	--adw-headerbar-darker-shade: rgba(0, 0, 12, 0.9);

	--adw-sidebar-bg: #2e2e32;
	--adw-sidebar-fg: #ffffff;
	--adw-sidebar-backdrop: #28282c;
	--adw-sidebar-border: rgba(0, 0, 6, 0.36);
	--adw-sidebar-shade: rgba(0, 0, 6, 0.25);

	--adw-secondary-sidebar-bg: #28282c;
	--adw-secondary-sidebar-fg: #ffffff;
	--adw-secondary-sidebar-backdrop: #252529;
	--adw-secondary-sidebar-border: rgba(0, 0, 6, 0.36);
	--adw-secondary-sidebar-shade: rgba(0, 0, 6, 0.25);

	--adw-card-bg: rgba(255, 255, 255, 0.08);
	--adw-card-fg: #ffffff;
	--adw-card-shade: rgba(0, 0, 6, 0.36);

	--adw-dialog-bg: #36363a;
	--adw-dialog-fg: #ffffff;

	--adw-popover-bg: #36363a;
	--adw-popover-fg: #ffffff;
	--adw-popover-shade: rgba(0, 0, 6, 0.25);

	--adw-thumbnail-bg: #39393d;
	--adw-thumbnail-fg: #ffffff;

	--adw-shade: rgba(0, 0, 6, 0.25);
	
	/* Skin-specific */
	--adw-user-offline: #808080;
	--adw-user-online: #78aeed;
	--adw-user-ingame: #8ff0a4;

	/* Banners */
	--adw-banner-bg-rgb: 125, 125, 131;
	--adw-banner-bg-a: 0.3;
	--adw-banner-fg-rgb: 255, 255, 255;
}
