/**
 * Default color variables (Light).
 *
 * libadwaita reference:
 * - https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/css-variables.html
 * - https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/_defaults.scss
 * - https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/_colors.scss
 */

:root
{
	--adw-standalone-color-oklab: min(l, 0.5) a b;

	/**
	 * @name Accent background
	 * @description The accent color is used to indicate that a widget is important, interactive, or currently active
	 */
	--adw-accent-bg: #3584e4;
	/**
	 * @name Accent foreground
	 * @description Text and icon color to be used with accent background
	 */
	--adw-accent-fg: #ffffff;

	/**
	 * @name Destructive background
	 * @description The destructive color indicates a dangerous action, such as deleting a file
	 */
	--adw-destructive-bg: #e01b24;
	/**
	 * @name Destructive foreground
	 * @description Text and icon color to be used with destructive background
	 */
	--adw-destructive-fg: #ffffff;

	/**
	 * @name Success background
	 * @description Background color for success messages
	 */
	--adw-success-bg: #2ec27e;
	/**
	 * @name Success foreground
	 * @description Text and icon color to be used with success background
	 */
	--adw-success-fg: #ffffff;
	
	/**
	 * @name Warning background
	 * @description Background color for warnings
	 */
	--adw-warning-bg: #e5a50a;
	/**
	 * @name Warning foreground
	 * @description Text and icon color to be used with warning background
	 */
	--adw-warning-fg: rgba(0, 0, 6, 0.8);
	
	/**
	 * @name Error background
	 * @description Background color for errors
	 */
	--adw-error-bg: #e01b24;
	/**
	 * @name Error foreground
	 * @description Text and icon color to be used with error background
	 */
	--adw-error-fg: #ffffff;

	--adw-window-bg: #fafafb;
	--adw-window-fg: rgba(0, 0, 6, 0.8);

	--adw-view-bg: #ffffff;
	--adw-view-fg: rgba(0, 0, 6, 0.8);

	--adw-headerbar-bg: #ffffff;
	--adw-headerbar-fg: rgba(0, 0, 6, 0.8);
	--adw-headerbar-backdrop: #fafafb;
	--adw-headerbar-border: rgba(0, 0, 6, 0.8);
	--adw-headerbar-shade: rgba(0, 0, 6, 0.12);
	--adw-headerbar-darker-shade: rgba(0, 0, 6, 0.12);

	--adw-sidebar-bg: #ebebed;
	--adw-sidebar-fg: rgba(0, 0, 6, 0.8);
	--adw-sidebar-backdrop: #f2f2f4;
	--adw-sidebar-border: rgba(0, 0, 6, 0.07);
	--adw-sidebar-shade: rgba(0, 0, 6, 0.07);

	--adw-secondary-sidebar-bg: #f3f3f5;
	--adw-secondary-sidebar-fg: rgba(0, 0, 6, 0.8);
	--adw-secondary-sidebar-backdrop: #f6f6fa;
	--adw-secondary-sidebar-border: rgba(0, 0, 6, 0.07);
	--adw-secondary-sidebar-shade: rgba(0, 0, 6, 0.07);

	--adw-card-bg: #ffffff;
	--adw-card-fg: rgba(0, 0, 6, 0.8);
	--adw-card-shade: rgba(0, 0, 6, 0.07);

	--adw-dialog-bg: #fafafb;
	--adw-dialog-fg: rgba(0, 0, 6, 0.8);

	--adw-popover-bg: #ffffff;
	--adw-popover-fg: rgba(0, 0, 6, 0.8);
	--adw-popover-shade: rgba(0, 0, 6, 0.07);

	--adw-thumbnail-bg: #ffffff;
	--adw-thumbnail-fg: rgba(0, 0, 6, 0.8);

	--adw-shade: rgba(0, 0, 6, 0.07);
	
	/* Skin-specific */
	--adw-user-offline: #808080;
	--adw-user-online: #78aeed;
	--adw-user-ingame: #8ff0a4;

	/* Banners */
	--adw-banner-bg-rgb: 125, 125, 131;
	--adw-banner-bg-a: 0.3;
	--adw-banner-fg-rgb: 255, 255, 255;
}