:root
{
    --adw-blue-1: #99c1f1;
    --adw-blue-2: #62a0ea;
    --adw-blue-3: #3584e4;
    --adw-blue-4: #1c71d8;
    --adw-blue-5: #1a5fb4;
    --adw-green-1: #8ff0a4;
    --adw-green-2: #57e389;
    --adw-green-3: #33d17a;
    --adw-green-4: #2ec27e;
    --adw-green-5: #26a269;
    --adw-yellow-1: #f9f06b;
    --adw-yellow-2: #f8e45c;
    --adw-yellow-3: #f6d32d;
    --adw-yellow-4: #f5c211;
    --adw-yellow-5: #e5a50a;
    --adw-orange-1: #ffbe6f;
    --adw-orange-2: #ffa348;
    --adw-orange-3: #ff7800;
    --adw-orange-4: #e66100;
    --adw-orange-5: #c64600;
    --adw-red-1: #f66151;
    --adw-red-2: #ed333b;
    --adw-red-3: #e01b24;
    --adw-red-4: #c01c28;
    --adw-red-5: #a51d2d;
    --adw-purple-1: #dc8add;
    --adw-purple-2: #c061cb;
    --adw-purple-3: #9141ac;
    --adw-purple-4: #813d9c;
    --adw-purple-5: #613583;
    --adw-brown-1: #cdab8f;
    --adw-brown-2: #b5835a;
    --adw-brown-3: #986a44;
    --adw-brown-4: #865e3c;
    --adw-brown-5: #63452c;
    --adw-light-1: #ffffff;
    --adw-light-2: #f6f5f4;
    --adw-light-3: #deddda;
    --adw-light-4: #c0bfbc;
    --adw-light-5: #9a9996;
    --adw-dark-1: #77767b;
    --adw-dark-2: #5e5c64;
    --adw-dark-3: #3d3846;
    --adw-dark-4: #241f31;
    --adw-dark-5: #000000;

    --adw-accent-blue: #3584e4;
    --adw-accent-teal: #2190a4;
    --adw-accent-green: #3a944a;
    --adw-accent-yellow: #c88800;
    --adw-accent-orange: #ed5b00;
    --adw-accent-red: #e62d42;
    --adw-accent-pink: #d56199;
    --adw-accent-purple: #9141ac;
    --adw-accent-slate: #6f8396;
}