body.DesktopUI div._2sssIwe0duyIrFvat2oXzH
{
	/* User avatar */
	div._2SLehb0Hvx-jWmuv0gPqB-
	{
		display: flex !important;
		align-items: center !important;
		gap: 12px !important;

		div._2nksWzc3nto0qQdizUQHbE
		{
			padding: 0 !important;
		}
	}

	/* User name */
	div.nOdcT-MoOaXGePXLyPe0H
	{
		color: rgb(var(--adw-card-fg-rgb)) !important;
		font-family: var(--adw-text-font) !important;
		font-size: var(--adw-text-row-title-size) !important;
		font-weight: var(--adw-text-row-title-weight) !important;
		line-height: normal !important;
		letter-spacing: normal !important;
	}

	/* User status */
	div._1cB0qtF0paHWWyj1XNcnbG
	{
		color: rgb(var(--adw-user-offline-rgb)) !important;
		font-family: var(--adw-text-font) !important;
		font-size: var(--adw-text-row-subtitle-size) !important;
		font-weight: var(--adw-text-row-subtitle-weight) !important;
		margin-top: 2px !important;
		line-height: normal !important;
		letter-spacing: normal !important;

		div.online &
		{
			color: rgb(var(--adw-user-online-rgb)) !important;
		}

		div.online.awayOrSnooze &
		{
			color: rgba(var(--adw-user-online-rgb), var(--adw-dim-label-opacity)) !important;
		}

		div.ingame &
		{
			color: rgb(var(--adw-user-ingame-rgb)) !important;
		}
	}

	/* Account buttons - remove row styling, style inner buttons as rows */
	div.eKmEXJCm_lgme24Fp_HWt:has(button.JA6JIY08WWMEfWP-sZkZ2)
	{
		background: none !important;
		box-shadow: none !important;
		padding: 0 !important;
		margin: 0 !important;
		margin-bottom: 1px !important;
		overflow: visible !important;
		display: flex !important;
		align-items: stretch !important;

		div._1aw7cA3mAZfWt8idAlVJWi
		{
			position: initial !important;
		}

		div._2XSsNSGcWjGZ6z3fvqaRd5
		{
			padding: 0 !important;
			margin: 0 !important;
			display: flex !important;
			flex-direction: column !important;
			gap: 1px !important;
		}

		div._2LQjjxR3ZOcEZU73abIsw-
		{
			padding: 0 !important;
			margin: 0 !important;
			max-width: none !important;
			overflow: visible !important;
		}

		button.JA6JIY08WWMEfWP-sZkZ2
		{
			cursor: default !important;
			background: rgba(var(--adw-card-bg-rgb), var(--adw-card-opacity)) !important;
			color: rgb(var(--adw-card-fg-rgb)) !important;
			border-radius: 0 !important;
			box-shadow: var(--adw-card-shadow) !important;
			border: none !important;
			min-height: var(--adw-row-height) !important;
			box-sizing: border-box !important;
			margin: 0 !important;
			padding: 2px 56px !important;
			transition: var(--adw-button-transition) !important;
			max-width: none !important;
			position: relative !important;
			display: flex !important;
			flex-direction: column !important;
			justify-content: center !important;

			&:hover
			{
				background: rgba(var(--adw-card-bg-rgb), var(--adw-card-hover-opacity)) !important;
			}

			&:active
			{
				background: rgba(var(--adw-card-bg-rgb), var(--adw-card-active-opacity)) !important;
			}

			&::before
			{
				content: none !important;
			}

			svg,
			&::after
			{
				position: absolute !important;
				left: 16px !important;
				width: 24px !important;
				height: 100% !important;
				margin: 0 !important;
			}

			&::after
			{
				content: "";
				left: auto !important;
				right: 12px !important;
				width: 16px !important;
				background-color: rgb(var(--adw-card-fg-rgb)) !important;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				-webkit-mask-size: 16px;
				-webkit-mask-image: var(--adw-icon-nav-forward);
			}

			/* Title */
			div._3wadwgMy2-9k8uOKh3iSdT
			{
				color: rgb(var(--adw-card-fg-rgb)) !important;
				font-family: var(--adw-text-font) !important;
				font-size: var(--adw-text-row-title-size) !important;
				font-weight: var(--adw-text-row-title-weight) !important;
				line-height: normal !important;
				letter-spacing: normal !important;
			}

			/* Subtitle */
			div._3Wb9yDmYPUJksCr7HmaT9H
			{
				color: rgba(var(--adw-card-fg-rgb), var(--adw-dim-label-opacity)) !important;
				font-family: var(--adw-text-font) !important;
				font-size: var(--adw-text-row-subtitle-size) !important;
				font-weight: var(--adw-text-row-subtitle-weight) !important;
				margin-top: 2px !important;
				line-height: normal !important;
				letter-spacing: normal !important;

				span._35ztZulp_gETT1gOElpfvK
				{
					color: rgb(var(--adw-card-fg-rgb)) !important;
					font-family: var(--adw-text-font) !important;
					font-size: var(--adw-text-row-subtitle-size) !important;
					font-weight: var(--adw-text-row-subtitle-weight) !important;
					margin-left: 4px !important;
				}
			}
		}
	}

	/* Family */
	div._3RNLmzBdpcg55exL2SwhT1
	{
		position: relative !important;

		div._3K8Afwm4bvd9vSIzAz9siX
		{
			padding: 0 !important;
		}

		span._1RfVQWVozb8NJ_wmCLAtxP,
		div.H4JE-8OU0E7AeMZY3bEeM,
		button._1foeEGhPcfRZy7M3msTvNt
		{
			color: rgb(var(--adw-window-fg-rgb)) !important;
			font-family: var(--adw-text-font) !important;
			line-height: var(--adw-list-header-height) !important;
			text-transform: none !important;
			letter-spacing: normal !important;
			font-size: var(--adw-list-header-size) !important;
			font-weight: var(--adw-list-header-weight) !important;
			padding: 0 !important;
			margin: 0 !important;
		}

		div.H4JE-8OU0E7AeMZY3bEeM
		{
			color: rgb(var(--adw-accent-rgb)) !important;
			margin-left: 4px !important;
		}

		/* Manage family button */
		button._1foeEGhPcfRZy7M3msTvNt
		{
			position: absolute !important;
			top: 0 !important;
			right: 0 !important;
			width: auto !important;
			height: var(--adw-list-header-height) !important;
			padding: 0 12px !important;
			background: transparent !important;
			box-shadow: none !important;
			border-radius: var(--adw-button-radius) !important;
			transition: var(--adw-button-transition) !important;
			cursor: default !important;

			&:hover
			{
				background: rgba(var(--adw-window-fg-rgb), var(--adw-hover-opacity)) !important;
				box-shadow: none !important;
			}

			&:active
			{
				background: rgba(var(--adw-window-fg-rgb), var(--adw-active-opacity)) !important;
				box-shadow: none !important;
			}

			&::before
			{
				content: none !important;
			}
		}

		/* Family member row */
		div._2LyGIHuQ8SFKb5T262YUvg
		{
			background: rgba(var(--adw-card-bg-rgb), var(--adw-card-opacity)) !important;
			color: rgb(var(--adw-card-fg-rgb)) !important;
			border-radius: 0 !important;
			box-shadow: var(--adw-card-shadow) !important;
			border: none !important;
			min-height: var(--adw-row-height) !important;
			box-sizing: border-box !important;
			padding: 4px 12px !important;
			font-family: var(--adw-text-font) !important;
			font-size: var(--adw-text-row-title-size) !important;
			font-weight: var(--adw-text-row-title-weight) !important;
			text-transform: none !important;
			line-height: normal !important;
			letter-spacing: normal !important;
			transition: var(--adw-button-transition) !important;
			margin: 0 0 1px 0 !important;
			justify-content: center !important;
			position: relative !important;
			overflow: hidden !important;
			flex: none !important;

			&:nth-child(2)
			{
				border-top-left-radius: var(--adw-card-radius) !important;
				border-top-right-radius: var(--adw-card-radius) !important;
			}

			&:nth-last-child(2)
			{
				border-bottom-left-radius: var(--adw-card-radius) !important;
				border-bottom-right-radius: var(--adw-card-radius) !important;
			}

			&:hover
			{
				background: rgba(var(--adw-card-bg-rgb), var(--adw-card-hover-opacity)) !important;
			}

			&:active
			{
				background: rgba(var(--adw-card-bg-rgb), var(--adw-card-active-opacity)) !important;
			}

			a._2oSTSohQ1CZIgVn7E6_0Ft
			{
				flex-grow: 1 !important;
				cursor: default !important;
			}

			div._3VzCnvA_1SxskuCqmZkkHA
			{
				order: 1 !important;
			}
		}
	}

	/* Notification settings: table header */
	div.eKmEXJCm_lgme24Fp_HWt._33Q-MOeBz52WPV0tuTqKy
	{
		min-height: auto !important;
		height: 24px !important;
		font-size: 12px !important;
		font-weight: 700 !important;
		color: rgba(var(--adw-card-fg-rgb), 0.4) !important;
	}

	/* Notification settings: expandable rows */
	div._2KFeE_s51aT07ohdMu_ZH1
	{
		border: none !important;
		background: none !important;
		padding: 0 !important;
		margin: 0 0 1px 0 !important;
		border-radius: 0 !important;
		overflow: hidden !important;
		box-shadow: var(--adw-card-shadow) !important;
		transition: height 200ms var(--adw-base-transition-curve) !important;
		height: var(--adw-row-height) !important;

		/* Expanded */
		&._21Uc0N6TIRIw4LIZzQnsdE
		{
			height: calc(var(--adw-row-height) * 3) !important;
		}

		&:first-child,
		div._31RJyFXKo0KWIm1cS4INFH + &,
		div.SettingsDialogSubHeader + &
		{
			border-top-left-radius: var(--adw-card-radius) !important;
			border-top-right-radius: var(--adw-card-radius) !important;
		}

		&:last-child
		{
			border-bottom-left-radius: var(--adw-card-radius) !important;
			border-bottom-right-radius: var(--adw-card-radius) !important;
		}

		div.BRmrC-jnwpXqye4oYB21C,
		div._1u5y7VbwvOwncjMsMqnFUz,
		div._1u5y7VbwvOwncjMsMqnFUz > div.DialogCheckbox_Container
		{
			background: rgba(var(--adw-card-bg-rgb), var(--adw-card-opacity)) !important;
			color: rgb(var(--adw-card-fg-rgb)) !important;
			border-radius: 0 !important;
			box-shadow: none !important;
			border: none !important;
			height: var(--adw-row-height) !important;
			box-sizing: border-box !important;
			padding: 4px 12px !important;
			font-family: var(--adw-text-font) !important;
			font-size: var(--adw-text-row-title-size) !important;
			font-weight: var(--adw-text-row-title-weight) !important;
			text-transform: none !important;
			line-height: normal !important;
			letter-spacing: normal !important;
			transition: var(--adw-button-transition) !important;
			margin: 0 0 1px 0 !important;
			justify-content: center !important;
			position: relative !important;
			overflow: hidden !important;
			flex: none !important;
		}

		div.BRmrC-jnwpXqye4oYB21C:hover
		{
			background: rgba(var(--adw-card-bg-rgb), var(--adw-card-hover-opacity)) !important;
		}

		div.BRmrC-jnwpXqye4oYB21C:active
		{
			background: rgba(var(--adw-card-bg-rgb), var(--adw-card-active-opacity)) !important;
		}

		div._2KFeE_s51aT07ohdMu_ZH1 p._1ifM6luJEQ5H2O1Y3S6F_R,
		div._1u5y7VbwvOwncjMsMqnFUz > div.DialogCheckbox_Container div.DialogToggle_Label
		{
			padding: 0 !important;
			margin: 0 !important;
			color: rgb(var(--adw-card-fg-rgb)) !important;
			font-family: var(--adw-text-font) !important;
			font-size: var(--adw-text-row-title-size) !important;
			font-weight: var(--adw-text-row-title-weight) !important;
			line-height: normal !important;
			letter-spacing: normal !important;
			display: flex !important;
			align-self: center !important;
			order: 1 !important;
			flex-grow: 1 !important;
		}

		div.eKmEXJCm_lgme24Fp_HWt
		{
			&,
			&:hover,
			&:active
			{
				background: none !important;
				box-shadow: none !important;
				padding: 0 !important;
				margin: 0 24px 0 0 !important;
				min-height: auto !important;
				order: 2 !important;
				z-index: 1 !important;
			}

			div._1aw7cA3mAZfWt8idAlVJWi
			{
				right: 0 !important;
			}
		}

		button._3aB-C2eTsfVtvZR5sC9N_r
		{
			position: absolute !important;
			width: auto !important;
			height: auto !important;
			left: 0 !important;
			right: 0 !important;
			top: 0 !important;
			bottom: 0 !important;
			margin: 0 !important;
			padding: 4px 12px !important;
			cursor: default !important;
			background: none !important;
			box-shadow: none !important;
			display: flex !important;
			align-items: center !important;
			justify-content: end !important;

			svg
			{
				display: none !important;
			}

			&::before
			{
				content: none !important;
			}

			&::after
			{
				content: "";
				background-color: rgba(var(--adw-card-fg-rgb), 0.5);
				display: block;
				width: 16px;
				height: 16px;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				-webkit-mask-size: 16px;
				-webkit-mask-image: var(--adw-icon-expander-arrow);
				transform: rotate(180deg);
				transition: background-color 200ms var(--adw-base-transition-curve), transform 200ms var(--adw-base-transition-curve);
			}

			._21Uc0N6TIRIw4LIZzQnsdE &::after
			{
				background-color: rgb(var(--adw-accent-rgb));
				transform: rotate(0deg);
			}
		}

		div._1u5y7VbwvOwncjMsMqnFUz
		{
			background: none !important;
			padding: 0 !important;
			flex-direction: column !important;
			height: calc(var(--adw-row-height) * 2) !important;

			div.DialogCheckbox_Container
			{
				background: rgba(var(--adw-card-bg-rgb), calc(var(--adw-card-opacity) * 0.5)) !important;
				justify-content: start !important;
				padding: 4px 12px 4px 56px !important;

				&:hover
				{
					background: rgba(var(--adw-card-bg-rgb), calc(var(--adw-card-hover-opacity) - var(--adw-card-opacity) * 0.5)) !important;
				}

				&:active
				{
					background: rgba(var(--adw-card-bg-rgb), calc(var(--adw-card-active-opacity) - var(--adw-card-opacity) * 0.5)) !important;
				}

				&:has(.DialogCheckbox.Disabled)
				{
					opacity: var(--adw-disabled-opacity) !important;
					pointer-events: none !important;
				}

				.DialogCheckbox
				{
					position: absolute !important;
					left: 17px !important;
					top: 17px !important;
					width: 20px !important;
					height: 20px !important;
				}
			}
		}
	}

	/* Library action buttons */
	div.RoSh6WoygUX6LLAoB20f3
	{
		flex-direction: column !important;
		gap: 12px !important;

		button._3epr8QYWw_FqFgMx38YEEm
		{
			background: rgba(var(--adw-card-bg-rgb), var(--adw-card-opacity)) !important;
			color: rgb(var(--adw-card-fg-rgb)) !important;
			border-radius: var(--adw-card-radius) !important;
			box-shadow: var(--adw-card-shadow) !important;
			border: none !important;
			height: 46px !important;
			box-sizing: border-box !important;
			padding: 4px 12px !important;
			font-family: var(--adw-text-font) !important;
			font-size: var(--adw-text-title3-size) !important;
			font-weight: var(--adw-text-title3-weight) !important;
			text-transform: none !important;
			line-height: normal !important;
			letter-spacing: normal !important;
			transition: var(--adw-button-transition) !important;
			margin: 0 !important;
			overflow: hidden !important;
			width: auto !important;
			cursor: default !important;

			&:hover
			{
				background: rgba(var(--adw-card-bg-rgb), var(--adw-card-hover-opacity)) !important;
			}

			&:active
			{
				background: rgba(var(--adw-card-bg-rgb), var(--adw-card-active-opacity)) !important;
			}
		}
	}

	/* Downloads: updates */
	div.DialogControlsSection:has(div._1m4hl8tdIUyt1rAnE4y5ZQ)
	{
		div._3w92Ej5Kq7nbt5WACQ6jwI
		{
			color: rgba(var(--adw-card-fg-rgb), var(--adw-dim-label-opacity)) !important;
			font-family: var(--adw-text-font) !important;
			font-size: var(--adw-text-row-subtitle-size) !important;
			font-weight: var(--adw-text-row-subtitle-weight) !important;
			line-height: normal !important;
			letter-spacing: normal !important;
			padding: 2px 12px !important;
			box-sizing: border-box !important;
			align-content: center !important;
			margin-right: 260px !important;
			margin-bottom: calc(var(--adw-row-height) * -1) !important;
			height: var(--adw-row-height) !important;

			&:nth-child(3)
			{
				margin-right: 180px !important;
				margin-bottom: calc(var(--adw-row-height) * -2) !important;
				margin-top: var(--adw-row-height) !important;
			}

			a
			{
				cursor: default !important;
				text-decoration: none !important;
				color: rgb(var(--adw-accent-rgb)) !important;
				position: relative !important;
				z-index: 1 !important;

				&:hover
				{
					text-decoration: underline !important;
					color: rgb(var(--adw-card-fg-rgb)) !important;
				}
			}
		}

		div._1m4hl8tdIUyt1rAnE4y5ZQ
		{
			display: flex !important;
			flex-direction: column !important;
			justify-content: stretch !important;
			align-items: stretch !important;
		}

		&:has(div._1m4hl8tdIUyt1rAnE4y5ZQ + div._1vcky98a3hG0ulFCdee4kd + div.eKmEXJCm_lgme24Fp_HWt) div._1m4hl8tdIUyt1rAnE4y5ZQ > div.eKmEXJCm_lgme24Fp_HWt:last-child
		{
			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}

		&:not(:has(div._1m4hl8tdIUyt1rAnE4y5ZQ div.eKmEXJCm_lgme24Fp_HWt:nth-child(2))) div._3w92Ej5Kq7nbt5WACQ6jwI:nth-child(3)
		{
			display: none !important;
		}
	}

	/* Controller: tabs */
	div._19z_50-qWZWxcgXfWNtSWb
	{
		background: rgb(var(--adw-window-bg-rgb)) !important;
		position: fixed !important;
		top: 0 !important;
		height: 46px !important;
		box-sizing: border-box !important;
		width: calc(600px - 2 * var(--adw-windowcontrols-margin-right)) !important;
		margin-left: var(--adw-windowcontrols-margin-right) !important;
		z-index: 2 !important;

		div._1CJeU7emnRNSJ8Xk3Leavm
		{
			column-gap: 3px !important;
			padding: 0 !important;
			scroll-padding: 0 !important;
			overflow-x: auto !important;

			&::-webkit-scrollbar
			{
				display: none !important;
			}

			/* Tab */
			div._3eEbSktrstBdLk0dVpnKVI
			{
				background: none !important;
				border-radius: var(--adw-button-radius) !important;
				height: 34px !important;
				box-sizing: border-box !important;
				cursor: default !important;
				padding: 2px 12px !important;
				gap: 6px !important;
				-webkit-app-region: no-drag !important;

				&:hover
				{
					background: rgba(var(--adw-window-fg-rgb), var(--adw-hover-opacity)) !important;
				}

				&:active
				{
					background: rgba(var(--adw-window-fg-rgb), var(--adw-active-opacity)) !important;
				}

				/* Selected */
				&._3Gp1bACHx__POxmy6Gd3kG
				{
					background: rgba(var(--adw-window-fg-rgb), var(--adw-selected-opacity)) !important;

					&:hover
					{
						background: rgba(var(--adw-window-fg-rgb), var(--adw-selected-hover-opacity)) !important;
					}

					&:active
					{
						background: rgba(var(--adw-window-fg-rgb), var(--adw-selected-active-opacity)) !important;
					}
				}

				/* Icon */
				span._3Ebb3ha_Q86-lxguhjfyE1
				{
					color: rgb(var(--adw-window-fg-rgb)) !important;
					width: 16px !important;
					height: 16px !important;
					padding: 0 !important;
					margin: 0 !important;
				}

				/* Title */
				span._1nq0ibcuVEbRv0z_wk9pIQ
				{
					color: rgb(var(--adw-window-fg-rgb)) !important;
					font-family: var(--adw-text-font) !important;
					font-size: var(--adw-text-title3-size) !important;
					font-weight: var(--adw-text-title3-weight) !important;
					line-height: 24px !important;
					text-transform: none !important;
					letter-spacing: normal !important;
				}
			}
		}
	}

	/* Controller: Nintendo Switch layout row */
	div._3Q8Vc4HcvrUZVLqnC1hTXT div.eKmEXJCm_lgme24Fp_HWt
	{
		border-radius: 0 !important;
	}

	/* Controller: layout row buttons; Millennium: theme settings buttons */
	div._3FYSCKU0zMm_zbWS56SCVu,
	div._1aw7cA3mAZfWt8idAlVJWi:has(.millenniumIconButton)
	{
		gap: 4px !important;
		min-width: auto !important;

		button.DialogButton,
		button.millenniumIconButton
		{
			cursor: default !important;
			border-radius: var(--adw-button-radius) !important;
			box-sizing: border-box !important;
			width: 34px !important;
			height: 34px !important;
			min-width: auto !important;
			min-height: auto !important;
			padding: 9px !important;
			margin: 0 !important;
			transition: var(--adw-button-transition) !important;
			color: rgb(var(--adw-window-fg-rgb)) !important;
			background: transparent !important;
			box-shadow: none !important;
			text-indent: -9999px !important;
			font-size: 0 !important;
			line-height: 0 !important;
			z-index: 1 !important;

			&:hover
			{
				background: rgba(var(--adw-window-fg-rgb), var(--adw-hover-opacity)) !important;
			}

			&:active
			{
				background: rgba(var(--adw-window-fg-rgb), var(--adw-active-opacity)) !important;
			}

			&::before
			{
				content: none !important;
			}

			&.DialogButton
			{
				svg
				{
					display: none !important;
				}

				&::after
				{
					background-color: rgb(var(--adw-window-fg-rgb));
					content: "";
					display: block;
					width: 16px;
					height: 16px;
					-webkit-mask-repeat: no-repeat;
					-webkit-mask-position: center;
					-webkit-mask-size: 16px;
					box-shadow: none !important;
				}

				&._3epr8QYWw_FqFgMx38YEEm::after
				{
					-webkit-mask-image: var(--adw-icon-edit);
				}

				&._1S-PihOJGJBAP5oCKeB7jy::after
				{
					-webkit-mask-image: var(--adw-icon-more);
				}
			}

			&.millenniumIconButton
			{
				overflow: unset !important;

				svg
				{
					display: block !important;
					width: 16px !important;
					height: 16px !important;
				}

				&::after
				{
					content: none !important;
				}
			}
		}
	}

	div.eKmEXJCm_lgme24Fp_HWt:has(button.millenniumIconButton)
	{
		.DialogDropDown
		{
			margin-left: 8px !important;
		}
	}

	/* Voice: Microphone test */
	div.eKmEXJCm_lgme24Fp_HWt:has(div._2Dptk9e7W_k4zYB5wfRTcp) div._2Dptk9e7W_k4zYB5wfRTcp
	{
		div._1-nHjRywUoX7Mpyc6JOPaQ
		{
			width: 100px !important;
		}

		button
		{
			overflow: revert !important;
			max-width: revert !important;
		}
	}

	/* Revert row interactive area expansion */
	div.eKmEXJCm_lgme24Fp_HWt div._27r3CjIYhU20TsukVgm25C div._9Ql-oVe_j8E-vsDdyVdWo::before,
	div._2KFeE_s51aT07ohdMu_ZH1 div._9Ql-oVe_j8E-vsDdyVdWo::before,
	div._3f4w-Qa99EAgLWKSzpYqnS .DialogDropDown::before
	{
		content: none !important;
	}

	/* Hidden widgets */
	div.eKmEXJCm_lgme24Fp_HWt div._3oeHwxQTKDkPcxDhz8jbhM,
	div.eKmEXJCm_lgme24Fp_HWt svg.eYz3vzuTb_a2I4dRJ-vf9
	{
		display: none !important;
	}
}
