body.DesktopUI,
html.client_chat_frame
{
	div.nibodjvvrm86uCfnnAn4g
	{
		&:not(div._2QPdq7GZ_03AD1ioPixVXW &)
		{
			color: rgb(var(--adw-user-offline-rgb)) !important;
			border: 1px currentColor solid !important;
			transition: color 200ms var(--adw-base-transition-curve) !important;

			&, img.avatar
			{
				box-sizing: border-box !important;
				width: 32px !important;
				height: 32px !important;
				border-radius: 50% !important;
				transform: none !important;
				box-shadow: none !important;
				padding: 0 !important;
				margin: 0 !important;
				cursor: default !important;
				position: relative !important;
			}

			& > img.avatar
			{
				width: 100% !important;
				height: 100% !important;
				overflow: hidden !important;
				border: none !important;
			}

			&::before
			{
				content: "";
				position: absolute;
				border-radius: 50%;
				box-shadow: inset 0 0 1px currentColor;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 1;
			}

			&::after
			{
				content: "";
				position: absolute;
				border-radius: 50%;
				background-color: currentColor;
				bottom: 0;
				right: 0;
				width: 8px;
				height: 8px;
				z-index: 2;
				box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.5);
			}

			div.FavoriteFriend_GameIcon
			{
				padding: 0 !important;
				width: 20px !important;
				height: 20px !important;
				border-radius: var(--adw-gameicon-radius) !important;
				border: 1px rgba(var(--adw-user-ingame-rgb), var(--adw-thin-border-opacity)) solid !important;
				overflow: hidden !important;
				box-shadow: none !important;
				transform: none !important;
				z-index: 3 !important;

				img
				{
					box-shadow: none !important;
					transform: none !important;
				}
			}

			&.online
			{
				color: rgb(var(--adw-user-online-rgb)) !important;
			}

			&.awayOrSnooze
			{
				border-style: dashed !important;
			}

			&.ingame
			{
				color: rgb(var(--adw-user-ingame-rgb)) !important;
			}

			&.offline::after
			{
				display: none !important;
			}

			div.avatarStatus, div.avatarFrame, div.SnoozeContainer
			{
				display: none !important;
			}
		}
	}
}
