:root
{
	--adw-checkbox-radius: 6px;

	--adw-checkbox-outline-opacity: 15%;
	--adw-checkbox-outline-opacity-hover: 20%;
	--adw-checkbox-outline-opacity-active: 25%;

	@media(prefers-contrast: more)
	{
		--adw-checkbox-outline-opacity: var(--adw-border-opacity);
		--adw-checkbox-outline-opacity-hover: 60%;
		--adw-checkbox-outline-opacity-active: 60%;
	}
}

body.DesktopUI,
html.client_chat_frame
{
	div.DialogCheckbox_Container,
	div._1Qku5jMXBi5-wawzqY1kzG
	{
		-webkit-app-region: no-drag !important;
		cursor: var(--adw-cursor-pointer) !important;
		color: inherit !important;

		--adw-checkbox-overlay: transparent;

		div.DialogCheckbox,
		div.LBS7IDpob52Sb4ZoKobh0
		{
			width: 20px !important;
			min-width: 20px !important;
			max-width: 20px !important;
			height: 20px !important;
			min-height: 20px !important;
			max-height: 20px !important;
			box-sizing: border-box !important;
			padding: 2px !important;
			color: inherit !important;
			border-radius: var(--adw-checkbox-radius) !important;
			-webkit-app-region: no-drag !important;
			cursor: var(--adw-cursor-pointer) !important;

			background-color: transparent !important;
			background-image: linear-gradient(var(--adw-checkbox-overlay), var(--adw-checkbox-overlay)) !important;
			background-blend-mode: overlay !important;
			box-shadow: inset 0 0 0 2px color-mix(in srgb, currentColor var(--adw-checkbox-outline-opacity), transparent) !important;

			outline: 0 solid transparent !important;
			outline-offset: 5px !important;
			transition: var(--adw-focus-transition) !important;

			&:focus-visible
			{
				outline-color: color-mix(in srgb, var(--adw-accent) var(--adw-focus-border-opacity), transparent) !important;
				outline-width: 2px !important;
				outline-offset: 1px !important;
			}

			div._28MB9LhS2kVTalIp0NHDv4,
			svg
			{
				display: none !important;
			}

			&::before
			{
				background-color: transparent;
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				-webkit-mask-size: 16px;
				-webkit-mask-image: var(--adw-icon-checkbox-check);
			}
		}

		&:hover
		{
			--adw-checkbox-outline-opacity: var(--adw-checkbox-outline-opacity-hover);
		}

		&:active
		{
			--adw-checkbox-outline-opacity: 0%;
			--adw-checkbox-overlay: color-mix(in srgb, currentColor var(--adw-checkbox-outline-opacity-active), transparent);
		}

		/* Checked */
		&:has(.Active),
		&:has(._28MB9LhS2kVTalIp0NHDv4)
		{
			div.DialogCheckbox,
			div.LBS7IDpob52Sb4ZoKobh0
			{
				background-color: var(--adw-accent-bg) !important;
				color: var(--adw-accent-fg) !important;
				box-shadow: none !important;

				&::before
				{
					background-color: currentColor;
				}
			}

			&:hover
			{
				--adw-checkbox-overlay: color-mix(in srgb, currentColor 10%, transparent);
			}

			&:active
			{
				--adw-checkbox-overlay: rgba(0, 0, 6, 0.2);
			}
		}
	}

	div.DialogToggle_Label
	{
		color: var(--adw-window-fg) !important;
		font-family: var(--adw-text-font) !important;
		font-size: 13px !important;
		font-weight: 400 !important;
	}
}