:root
{
	--adw-scrollbar-size: 2px;
}

body.DesktopUI,
html.client_chat_frame
{
	::-webkit-scrollbar
	{
		appearance: none !important;
		background: transparent !important;
		width: var(--adw-scrollbar-size) !important;
		height: var(--adw-scrollbar-size) !important;
	}

	::-webkit-scrollbar-thumb
	{
		--adw-scrollbar-opacity: 0.1;
		background: rgba(var(--adw-window-fg-rgb), var(--adw-scrollbar-opacity)) !important;
		border: none !important;
		border-radius: 0 !important;
		z-index: 20 !important;
	}

	:hover::-webkit-scrollbar-thumb
	{
		--adw-scrollbar-opacity: 0.2;
	}
}
