:root
{
	--adw-local-scrollbar-size: 0px;
	--adw-scrollbar-size: 4px;
	--adw-scrollbar-bg: var(--adw-sidebar-bg);
}

body.DesktopUI ::-webkit-scrollbar,
html.client_chat_frame ::-webkit-scrollbar
{
	display: block !important;
	width: var(--adw-scrollbar-size) !important;
	height: var(--adw-scrollbar-size) !important;
	background: transparent !important;
}

body.DesktopUI ::-webkit-scrollbar-track,
html.client_chat_frame ::-webkit-scrollbar-track
{
	display: block !important;
	width: var(--adw-scrollbar-size) !important;
	height: var(--adw-scrollbar-size) !important;
	border-radius: 0 !important;
	background: transparent !important;
}

body.DesktopUI ::-webkit-scrollbar-thumb,
html.client_chat_frame ::-webkit-scrollbar-thumb
{
	display: block !important;
	width: var(--adw-scrollbar-size) !important;
	height: var(--adw-scrollbar-size) !important;
	min-height: 40px !important;
	min-width: 40px !important;

	border: none !important;
	border-radius: 0 !important;
	background: color-mix(in srgb, currentColor 10%, var(--adw-scrollbar-bg)) !important;
}

body.DesktopUI ::-webkit-scrollbar-thumb:hover,
html.client_chat_frame ::-webkit-scrollbar-thumb:hover
{
	background: color-mix(in srgb, currentColor 20%, var(--adw-scrollbar-bg)) !important;
}

body.DesktopUI ::-webkit-scrollbar-thumb:active,
html.client_chat_frame ::-webkit-scrollbar-thumb:active
{
	background: color-mix(in srgb, currentColor 40%, var(--adw-scrollbar-bg)) !important;
}

@keyframes --adw-local-scrollbar-size
{
	0%, to
	{
		--adw-local-scrollbar-size: var(--adw-scrollbar-size);
	}
}