/* --- Install Game --- */
/* Header */
#SteamDesktop .FullModalOverlay div[class*="installrequest_Header_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_3_weight) !important;
	font-size: var(--title_3_size) !important;
}

/* Game */
#SteamDesktop .FullModalOverlay div[class*="installrequest_AppToInstall_"] img[class*="libraryassetimage_Image_"]
{
	border-radius: var(--card_radius) !important;
}

#SteamDesktop .FullModalOverlay div[class*="installrequest_AppName_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_2_weight) !important;
	font-size: var(--title_2_size) !important;
}

#SteamDesktop .FullModalOverlay div[class*="installrequest_AppSizeRequired_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_3_weight) !important;
	font-size: var(--title_3_size) !important;
}

/* Folders */
#SteamDesktop .FullModalOverlay div[class*="installrequest_FolderOption_"]
{
	background: none !important;
	border-radius: var(--button_radius) !important;;
}

#SteamDesktop .FullModalOverlay div[class*="installrequest_FolderOption_"]:hover
{
	background: var(--button_hover_bg) !important;
}

#SteamDesktop .FullModalOverlay div[class*="installrequest_FolderOption_"]:active
{
	background: var(--button_active_bg) !important;
}

#SteamDesktop .FullModalOverlay div[class*="installrequest_Active_"]
{
	background: var(--button_hover_bg) !important;
}

#SteamDesktop .FullModalOverlay div[class*="installrequest_FolderFlag_"],
#SteamDesktop .FullModalOverlay div[class*="installrequest_FolderFlagStar_"]
{
	color: var(--fg) !important;
}

#SteamDesktop .FullModalOverlay div[class*="installrequest_FolderName_"],
#SteamDesktop .FullModalOverlay div[class*="installrequest_FreeSpace_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_3_weight) !important;
	font-size: var(--title_3_size) !important;
}

/* EULA Agreement */
#SteamDesktop .FullModalOverlay .GenericConfirmDialog div[class*="euladialog_LanguageFieldContainer_"]
{
	padding: 0px 24px !important;
}

#SteamDesktop .FullModalOverlay .GenericConfirmDialog div[class*="euladialog_EulaDialogContent_"] .DialogFooter .Panel
{
	width: 100% !important;
}

#SteamDesktop .FullModalOverlay .GenericConfirmDialog div[class*="euladialog_EULAContent_"]
{
	background: var(--popover_bg) !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--basesize) !important;
	font-weight: var(--baseweight) !important;
}

#SteamDesktop .FullModalOverlay .GenericConfirmDialog div[class*="euladialog_EulaDialogContent_"] div[class*="gamepaddialog_FieldLabel_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_3_weight) !important;
	font-size: var(--title_3_size) !important;
}

#SteamDesktop .FullModalOverlay .GenericConfirmDialog div[class*="euladialog_EULAScrolling_"]
{
	border: none !important;
	box-shadow: none !important;
}

#SteamDesktop .FullModalOverlay .GenericConfirmDialog div[class*="euladialog_EulaDialogContent_"] .DialogDropDown
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
}

#SteamDesktop .FullModalOverlay .GenericConfirmDialog div[class*="euladialog_EulaDialogContent_"] .DialogDropDown:hover
{
	background: var(--button_hover_bg) !important;
	box-shadow: none !important;
}

#SteamDesktop .FullModalOverlay .GenericConfirmDialog div[class*="euladialog_EulaDialogContent_"] .DialogDropDown_CurrentDisplay
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
}
