/* --- Recent Players --- */
/* Initial Text */
.ModalDialogPopup div.DialogBodyText[class*="playersdialog_DescriptionText_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

.ModalDialogPopup div[class*="playersdialog_PlayersList_"]
{
	border: none !important;
	box-shadow: none !important;
}

.ModalDialogPopup div[class*="playersdialog_PlayersListHeaderCtr_"]
{
	background: var(--card_solid_bg) !important;
	border-top-right-radius: var(--card_radius) !important;
	border-top-left-radius: var(--card_radius) !important;
}

.ModalDialogPopup div[class*="playersdialog_PlayersListBody_"]
{
	background: none !important;
}

