:root {
	--bg: #1E1E2EFF;
	--fg: #CDD6F4FF;
	--border: #313244FF;
	--window_bg: #1E1E2EFF;
	--window_fg: #CDD6F4FF;
	--headerbar_backdrop: #1E1E2EFF;
	--headerbar_bg: #11111BFF;
	--headerbar_fg: #CDD6F4FF;
	--headerbar_shade: #000000D9;
	--popover_bg: #181825FF;
	--popover_fg: #CDD6F4FF;
	--toast_bg: #181825B3;
	--toast_fg: #CDD6F4FF;
	--view_bg: #181825FF;
	--view_fg: #CDD6F4FF;
	--accent: #B4BEFEFF;
	--accent_bg: #B4BEFEFF;
	--accent_fg: #11111BFF;
	--accent_disabled: #B4BEFE80;
	--accent_hover_bg: #B4BEFE12;
	--accent_active_bg: #B4BEFE29;
	--destructive: #EE99A0FF;
	--destructive_bg: #ED8796FF;
	--destructive_fg: #CDD6F4FF;
	--destructive_disabled: #EE99A080;
	--destructive_hover_bg: #EE99A012;
	--destructive_active_bg: #EE99A029;
	--error: #EE99A0FF;
	--error_bg: #ED8796FF;
	--error_fg: #CDD6F4FF;
	--success: #A6DA95FF;
	--success_bg: #8BD5CAFF;
	--success_fg: #C1FFCBFF;
	--warning: #F5A97FFF;
	--warning_bg: #EED49FFF;
	--warning_fg: #11111BFF;
	--button_fg: #CDD6F4FF;
	--dim_label_fg: #CDD6F48C;
	--card_solid_bg: #353543FF;
	--focusring: #B4BEFE80;
	--scrollbar: #585B7033;
	--scrollbar_hover: #585B7066;
	--scrollbar_active: #585B7099;
}
