/* Rounded Corners */
[class*="appactionbutton_ButtonChild"],
[class*="appactivityday_EventBody_"],
[class*="appactivityday_PartnerEventMediumImage_Image_"],
[class*="appactivityday_PartnerEventLargeImage_Image_"],
[class*="appactivityday_PartnerEventLargeImage_Container_"],
[class*="appactivityday_PartnerEvent_"],
[class*="appdetailsactivitysection_FetchMoreContainer_"],
[class*="appdetailscommunityfeed_HeaderStyles_"],
[class*="appdetailsdlcsection_Art_"],
[class*="appdetailsprimarylinkssection_LinksSectionBody_"],
[class*="appdetailssection_Highlight_"],
[class*="appdetailssection_RightColumnSection_"],
[class*="appdetailsspotlight_ReviewContainer_"],
[class*="appdetailsworkshopsection_FeaturedItemImage_"],
[class*="appdetailsworkshopsection_WorkshopContainer_"],
[class*="libraryassetimage_Visible_"],
[class*="spotlight_MajorEventImageContainer_"],
[class*="spotlight_MajorEventContainer_"],
[class*="spotlight_MajorEventBackground_"],
[class*="writereview_RightContainer_"] button,
[class*="appdetailsgameinfopanel_Description_"],
[class*="appactivitydlc_Contents_"],
[class*="discussionwidget_VoteContainer_"],
[class*="discussionwidget_ShareContainer_"],
[class*="discussionwidget_DiscussContainer_"]
{
	border-radius: var(--card_radius) !important;
	background: var(--card_bg) !important;
	border: none !important;
}

[class*="appdetailsachievementssection_AdditionalItem_"],
[class*="appdetailscommunityfeed_LoadContentButton_"],
[class*="appdetailsactivitysection_ViewLastNews_"]
{
	border-radius: var(--button_radius) !important;
	background: var(--button_bg) !important;
	border: none !important;
}

[class*="appdetailsactivitysection_FetchMoreContainer_"],
[class*="appdetailscommunityfeed_LoadContentButton_"],
[class*="appdetailsactivitysection_ViewLastNews_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	line-height: 32px !important;
}

/* Play button, streaming device dropdown */
[class*="appactionbutton_PlayButtonContainer"]
{
	border-radius: var(--button_radius) !important;
	background-color: var(--accent_bg) !important;
	color: var(--accent_fg) !important;
}

[class*="appactionbutton_PlayButtonContainer"],
[class*="appactionbutton_ShowingStreaming"]
{
	min-width: 140px !important;
}

[class*="appactionbutton_PlayButtonContainer"][class*="appactionbutton_Green"]
{
	background-color: var(--success_bg) !important;
	color: var(--success_fg) !important;
}

[class*="appactionbutton_PlayButtonContainer"][class*="appactionbutton_Disabled"]
{
	background-color: var(--button_disabled_bg) !important;
	color: var(--button_disabled_fg) !important;
}

[class*="appactionbutton_PlayButtonContainer"] [class*="appactionbutton_ButtonText"]
{
	color: var(--button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: 18px !important;
	line-height: 32px !important;
	font-weight: 700 !important;
	letter-spacing: normal !important;
	text-transform: none !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:first-child > svg
{
	display: none !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"] > svg > path,
[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"] > svg > polygon
{
	stroke: currentColor !important;
	fill: currentColor !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]
{
	margin: 0 !important;
	border-radius: var(--button_radius) !important;
	background-color: transparent !important;
	transition: background 0.15s, border-color 0.15s, border-top-left-radius 0s, border-bottom-left-radius 0s !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:hover
{
	background-color: var(--button_hover_bg) !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:active
{
	background-color: var(--button_active_bg) !important;
}

[class*="appactionbutton_PlayButtonContainer"] > [class*="appactionbutton_ButtonChild"]:last-child:not(:first-child)
{
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-left: 1px var(--button_active_bg) solid !important;
}

[class*="appactionbutton_PlayButtonContainer"]:hover > [class*="appactionbutton_ButtonChild"]:last-child:not(:first-child)
{
	border-radius: var(--button_radius) !important;
	border-color: transparent !important;
}

/* Hover Highlight */
[class*="appactivityday_PartnerEventTextOnly_Container_"]:hover,
[class*="appactivityday_PartnerEventMediumImage_Container_"]:hover,
[class*="appactivityday_PartnerEventLargeImage_Container_"]:hover,
[class*="appdetailsachievementssection_AdditionalItem_"]:hover,
[class*="appdetailscommunityfeed_LoadContentButton_"]:hover,
[class*="appdetailsactivitysection_FetchMoreContainer_"]:hover,
[class*="appdetailsactivitysection_ViewLastNews_"]:hover
{
	background: var(--button_hover_bg) !important;
}

[class*="appactivityday_PartnerEventTextOnly_Container_"],
[class*="appactivityday_PartnerEventMediumImage_Container_"],
[class*="appactivityday_PartnerEventLargeImage_Container_"]
{
	border-radius: var(--card_radius) !important;
}

/* Remove Unneeded Backgrounds */
[class*="appactivityday_PartnerEventMediumImage_Container_"],
[class*="appdetailsdlcsection_Gloss_"],
[class*="writereview_RatingContainer_"],
[class*="appdetailsgameinfopanel_Container_"],
[class*="appactivityday_LeftSideMajorUpdateBar_"],
[class*="appactivityday_PartnerEventLargeUpdate_"]
{
	background: none !important;
}

/* Remove Image Borders */
[class*="appactivityday_PartnerEvent_"],
[class*="appactivityday_PartnerEventLargeUpdate_"],
[class*="spotlight_MajorEventContainer_"],
[class*="appactivityday_PartnerEventLargeUpdate_"]
{
	border-image-source: none !important;
}

/* Border Radius Fixes */
[class*="appdetailsworkshopsection_WorkshopContainer_"]
{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

[class*="appdetailsworkshopsection_WorkshopHightlight_"]
{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

[class*="appdetailsachievementssection_Icon_"],
[class*="appdetailsachievementssection_AdditionalItem_"]
{
	border-radius: var(--button_radius) !important;
}

[class*="appdetailshover_AppDetailsHover_"],
[class*="appdetailshover_Background_"]
{
	border-radius: var(--card_radius) !important;
}

/* Hide Blur From Major Updates */
[class*="appactivityday_Blur_"]
{
	display:none;
}

/* Partner Updates */
[class*="appactivityday_PartnerEventLargeUpdate_"],
[class*="appactivityday_PartnerEventFeatured_"]
{
	box-shadow: none !important;
}

[class*="appactivityday_PartnerEventTypeUpdate_"]
{
	color: var(--fg) !important;
	text-shadow: none !important;
}

[class*="appactivityday_PartnerEventLargeImage_Summary_"]
{
	color: #929799 !important;
}

[class*="appactivityday_PartnerEventFeaturedHeader_"]
{
	background: none !important;
}

[class*="appactivityday_PartnerEventType_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_4_weight) !important;
	font-size: var(--title_4_size) !important;
	text-shadow: none !important;
}

[class*="appactivityday_PartnerEventMediumImage_Title_"],
[class*="appactivityday_PartnerEventLargeImage_Title_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_1_weight) !important;
	font-size: var(--title_1_size) !important;
	text-shadow: none !important;
}

[class*="appactivityday_PartnerEventMediumImage_Summary_"],
[class*="appactivityday_PartnerEventLargeImage_Summary_"],
[class*="appactivityday_PartnerEventTextOnly_Summary_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
	text-shadow: none !important;
}

[class*="appactivityday_PartnerEventTextOnly_Title_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_3_weight) !important;
	text-shadow: none !important;
}

[class*="appactivityday_PartnerEventTextOnly_Icon_"] svg path
{
	fill: var(--dim_label_fg) !important;
}

[class*="appactivityday_Event_"] [class*="comment_thread_RatingBar_"]
{
	margin-top: 4px !important;
}

/* Achievement Activity */
[class*="appdetailsachievementssection_Name_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

[class*="appdetailsachievementssection_Desc_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

/* Fetch More */
[class*="appdetailsactivitysection_FetchMoreContainer_"]::before,
[class*="appdetailsactivitysection_FetchMoreContainer_"]:active
{
	box-shadow: none !important;
}

[class*="appdetailsactivitysection_FetchMoreContainer_"].Disabled
{
	background-color: var(--button_disabled_bg) !important;
	color: var(--button_disabled_fg) !important;
}

/* Pop Up Update */
[class*="apppartnereventspage_PartnerEvent_"]
{
	border-radius: var(--popover_radius) !important;
	background: var(--popover_bg) !important;
	border: none !important;
	box-shadow: none !important;
}

[class*="partnereventdisplay_EventBackgroundBlur_"]
{
	display: none !important;
}

[class*="apppartnereventspage_EventType_"],
[class*="discussionwidget_VoteCount_"],
[class*="discussionwidget_DiscussionCount_"]
{
	color: var(--accent) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_4_weight) !important;
}

[class*="partnereventdisplay_EventDetailTimeInfo_"] [class*="localdateandtime_ShortDateAndTime_"],
[class*="partnereventdisplay_EventDetailTimeInfo_"] [class*="localdateandtime_RightSideTitles_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

[class*="partnereventdisplay_EventDetailTitle_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_1_size) !important;
	font-weight: var(--title_1_weight) !important;
}

[class*="partnereventdisplay_EventDetailsSubTitle_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

[class*="apppartnereventspage_CloseButton_"]
{
	background: var(--popover_bg) !important;
	height: 24px !important;
	width: 24px !important;
}

[class*="apppartnereventspage_CloseButton_"] svg line
{
	stroke: var(--headerbar_fg) !important;
	stroke-width: 32px !important;
}

[class*="apppartnereventspage_ScrollButton_"]
{
	background: var(--popover_bg) !important;
	height: 24px !important;
	width: 40px !important;
}

[class*="apppartnereventspage_ScrollButton_"] svg polygon
{
	fill: var(--headerbar_fg) !important;
}

[class*="apppartnereventspage_ScrollButton_"][class*="apppartnereventspage_GameArt_"]
{
	height: 40px !important;
	width: 40px !important;
}

[class*="partnereventdisplay_EventDetailsBody_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

[class*="partnereventdisplay_EventDetailsBody_"] a:not(.LinkButton)
{
	color: var(--accent) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--title_4_weight) !important;
}

[class*="partnereventdisplay_EventDetailsBody_"] a:not(.LinkButton):hover
{
	text-decoration: underline !important;
}

[class*="partnereventdisplay_EventDetailsBody_"] img,
[class*="youtubeembed_PreviewYouTubeVideo_"]
{
	border-radius: var(--card_radius) !important;
}

[class*="eventbbcodeparser_Header1_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_1_size) !important;
	font-weight: var(--title_1_weight) !important;
}

[class*="eventbbcodeparser_Header2_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_2_size) !important;
	font-weight: var(--title_2_weight) !important;
}

[class*="eventbbcodeparser_Header3_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

[class*="eventbbcodeparser_Header4_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

[class*="discussionwidget_VoteUpStaticIcon_"],
[class*="discussionwidget_DiscussionCount_"] > svg
{
	fill: var(--accent) !important;
}

[class*="partnereventshared_Button_"][class*="partnereventshared_Icon_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	box-shadow: none !important;
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
	transition: var(--focus_transition) !important;
}

[class*="partnereventshared_Button_"][class*="partnereventshared_Icon_"]:hover
{
	background: var(--button_hover_bg) !important;
}

[class*="partnereventshared_Button_"][class*="partnereventshared_Icon_"]:active
{
	background: var(--button_active_bg) !important;
}

/* Post Game Summary */
[class*="spotlightgameplaysummary_SummaryCarouselContainer_"]
{
	background: var(--card_bg) !important;
	border-radius: var(--card_radius) !important;
}

[class*="spotlightgameplaysummary_SummaryCarouselContainer_"]::after
{
	box-shadow: none !important;
}

/* Remove Glassy Background */
[class*="appdetailsoverview_BackdropGlass_"]
{
	background: none !important;
	border-top: 1px solid var(--border) !important;
}

[class*="appdetailsplaysection_Glassy_"][class*="appdetailsplaysection_PlayBar_"]
{
	background: var(--view_bg) !important;
	border-bottom: 1px solid var(--border) !important;
}

[class*="appdetailsoverview_Container_"]
{
	background: var(--bg) !important;
}

/* Available DLC */
[class*="appactivitydlc_Contents_"],
[class*="appactivitydlc_CarouselItem_"] [class*="appactivitydlc_CarouselImage_"]
{
	box-shadow: none !important;
}

[class*="appactivitydlc_ViewAll_"]
{
	border-radius: var(--button_radius) !important;
}

[class*="appactivitydlc_ViewAll_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

[class*="appdetailsdlcsection_StoreHover_"]
{
	border-radius: var(--card_radius) !important;
}

[class*="tooltip_ToolTipCustom_"]
{
	background: var(--popover_bg) !important;
	border-radius: var(--popover_radius) !important;
}

/* Write a Review */
[class*="writereview_Playtime_"],
[class*="writereview_ReviewThumbButton_"]
{
	color: var(--accent) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

[class*="writereview_ThumbIcon_"]
{
	fill: var(--accent) !important;
}

[class*="writereview_ThumbIcon_"][class*="writereview_Up_"]
{
	top: -1px !important;
}

[class*="writereview_ThumbIcon_"][class*="writereview_Down_2DXZF"]
{
	bottom: -1px !important;
}

[class*="writereview_RatingContainer_"] [class*="writereview_RecommendGame_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

/* Gameplay Summary */
[class*="spotlightgameplaysummary_EventHeaderBlock_"],
[class*="spotlightgameplaysummary_GamePlaySummaryHeader_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

[class*="spotlightgameplaysummary_EventDaySeparator_"]
{
	background-color: var(--dim_label_fg) !important;
	opacity: 0.55 !important;
}

[class*="appdetailsachievementssection_Stats_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

/* Activity Post */
[class*="posttextentry_PostTextEntryArea_"],
[class*="posttextentry_PostTextEntryArea_"]:focus,
[class*="posttextentry_PostButton_"],
[class*="posttextentry_EmoticonButton_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
	box-shadow: none !important;
}

[class*="posttextentry_PostButton_"]
{
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

[class*="posttextentry_PostTextEntryArea_"]::placeholder
{
	color: var(--dim_label_fg) !important;
}

[class*="posttextentry_PostButton_"]:hover,
[class*="posttextentry_EmoticonButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

/* Comment and Like Buttons */
[class*="comment_thread_CanClick_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

[class*="comment_thread_ActivityCommentThread_"]
{
	background: none !important;
}

[class*="appdetailssectionheader_LabelText_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

[class*="appactivityday_AppActivityDate_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_4_size) !important;
	font-weight: var(--title_4_weight) !important;
}

/* AppDetails Play Section */
[class*="appdetailsplaysection_PlayBarLabel_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_3_size) !important;
	font-weight: var(--title_3_weight) !important;
}

[class*="appdetailsplaysection_PlayBarDetailLabel_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
}

[class*="appdetailsplaysection_PlayBarCloudStatusContainer_"] [class*="appdetailsplaysection_GameStatIconForced_"]
{
	color: var(--dim_label_fg) !important;
}

[class*="appdetailsplaysection_PlaytimeIcon_"] > svg > *,
[class*="appdetailsplaysection_GameStatIcon_"] > svg > *
{
	stroke: var(--dim_label_fg) !important;
}

[class*="appdetailsplaysection_PlayBarGameName_"]
{
	color: var(--fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--title_2_size) !important;
	font-weight: var(--title_2_weight) !important;
}

/* AppDetails Play Section Buttons */
[class*="appdetailsplaysection_MenuButton_"]
{
	background: var(--button_bg) !important;
	border-radius: var(--button_radius) !important;
}

[class*="appdetailsplaysection_MenuButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

/* App Details Link Buttons */
[class*="appdetailsprimarylinkssection_LinksSectionBody_"]
{
	padding: 0px 10px !important;
}

[class*="appdetailsprimarylinkssection_Link_"]
{
	padding: 5px 10px !important;
}

[class*="appdetailsprimarylinkssection_Link_"]
{
	border-radius: var(--button_radius) !important;
}

[class*="appdetailsprimarylinkssection_Link_"]:hover
{
	background: var(--button_hover_bg) !important;
}

[class*="appdetailsprimarylinkssection_Text_"],
[class*="appdetailsprimarylinkssection_Link_"]:hover [class*="appdetailsprimarylinkssection_Text_"]
{
	color: var(--button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

/* Right Side Buttons */
[class*="appdetailsbutton_AppDetailsButton_"]
{
	background: none !important;
	border-radius: var(--button_radius) !important;
	color: var(--button_fg) !important;
	font-family: var(--basefont) !important;
	font-size: var(--button_font_size) !important;
	font-weight: var(--button_font_weight) !important;
}

[class*="appdetailsbutton_AppDetailsButton_"]:hover
{
	background: var(--button_hover_bg) !important;
	border-radius: var(--button_radius) !important;
}

[class*="appdetailsscreenshotssection_InstructionText_"],
[class*="appdetailsscreenshotssection_NoneTaken_"],
[class*="appdetailsreviewsection_PlayedForTime_"]
{
	color: var(--dim_label_fg) !important;
	font-family: var(--basefont) !important;
	font-weight: var(--baseweight) !important;
}

[class*="appdetailssection_Body_"] span[style="color: white;"]
{
	color: var(--accent) !important;
}
